@import '../../globals/theme.scss';

#header{
  width:100%;
  height:100%;
}

.headerIcon{
  width: $mainHeader-Height;
  height: $mainHeader-Height;
  cursor: pointer;
}

.headerIconcalander{
  width: $mainHeader-Height;
  height: $mainHeader-Height;
  cursor: pointer;
}

.headerIconcalander:hover{
  background-color: var(--mouseHover-BackGroundColor);
}  

.headerIcon:hover {
  background-color: var(--mouseHover-BackGroundColor);
}
.headerSelect {
  min-width: calc(#{$mainHeader-Height} * 7);
  max-width: calc(#{$mainHeader-Height} * 10);
  height: $mainHeader-Height;
  // display: inline-flex;
}

.location-c{
  width: 8px !important;
}

.location-header {
  width: calc(#{$mainHeader-Height} * 6);
  color: var(--form-value-Color);
  text-align: center;
  padding: 12px 0px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}

.headerDate{
  width: calc(#{$mainHeader-Height} * 5);
  height: $mainHeader-Height;
  display:inline-flex;
  color: var(--statusHeader-FontColor);
}

.head-route{
  width: $formHeaderIcon-Width;
  height: $formHeaderIcon-Height;
}

.splitter {
  width: 0.8px; // Bug #52591 [partition line ]While expanding the left tree partition line between data entry and multi day entry is removing(viceversa)
  height: 20px;
  // background-color : #000000; // Bug #52591 [partition line ]While expanding the left tree partition line between data entry and multi day entry is removing(viceversa)
  position: relative;
  float:left;
  border-right: $border; // Bug #52591 [partition line ]While expanding the left tree partition line between data entry and multi day entry is removing(viceversa)
  top: 11px;
}

.left{
  float:left;
 border-right: $border;
}
.right{
  float:right;
  border-left: $border;
  height:$formHeaderIcon-Height;
}

.leftarrow{
  float:left;
 // border-right: $border;
// border-left: $border;
}

.rightarrow{
  float:right;

}
.rightarrow1{
  float:right;
  border-right: $border;
}

.icon{
  width:18px;
  height: 18px;
  margin: 12px;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
}

.calanderIcon {
  //width: 50px;
  height: 20px;
  margin: 9px;
  cursor: pointer;
}

.arrow-icon{
  margin:11px 6px 5px 6px;
  cursor: pointer;
  height:21px;
  width:21px;
  padding: 0 8px 0 8px;
}

#close:hover{
  background-color:  #7A1F20;
  fill: #D5606D;
}

.datepickerelement {
  width: 0px;
  visibility: hidden;
}

.title-header {
  max-width: 65%;
  font-family: $common-FontStyle;
  font-size: $form-title-fontsize;
  padding: 13px 10px 10px 24px;
  color: var(--form-value-Color);
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  cursor:default;
  margin-left: 36px;
}

.header-button{
  width: 115% !important;
  padding: 8px 10px;
  text-align: center;
  background-color: transparent;
  font-size: 10px;
  margin-top: 6px;
  border: 1px solid;
  color: var(--form-value-Color);
  cursor: pointer;
  text-transform: uppercase;
}

.div-header-button{
  border-left: none !important;
  margin-right: 32px;
}
#filter #search{
  width: 42px;
  height: 41px;
}
.search-title-header {
  //max-width: 280px;
  font-family: $common-FontStyle;
  font-size: $form-title-fontsize;
  color: var(--form-value-Color);
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  cursor:default;
  position: relative;
  display: inline-flex;
  height: 30px;
  padding: 4px;
}

.popup-title-header {
  max-width: 65%;
  font-family: Roboto Light;
  font-weight: 400;
  font-size: 15px;
  padding: 13px 10px 10px 24px;
  color: var(--titleColor);
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  cursor:default;
}
.Isuppercase{
  text-transform: uppercase;
   
}

.non-uppercase{
  text-transform: capitalize;
   
}

.non-border{
  border: none !important;
  margin-top: 2px !important;
}

div#save .head-route:hover {
  background: #335238;
  margin-top: 0.5px
  ;
}
div#submit .head-route:hover {
  background: #335238;
}

div#close .headerIcon:hover {
  background: #7A1F20;
 // margin-top: 0.5px;
}

.disable-multidateview {
  opacity: 0.3;
}

.header-search-text:focus {
  background-color: var(--mainHeader-BackGroundColor) !important;
}

.header-search-text {
    width: 100%;
    min-width: 240px;
    height: 28px;
    font-size: 13px !important;
    padding-right:20px;
    border: none;
    font-family: roboto;
    font-weight: 300;
    z-index: 6;
    background-color: var(--mainHeader-BackGroundColor) !important;
    margin-left: 4px;
}

// .Sg-header-ng-select {
//   width: 100%;
//   min-width: 170px;
//   height: 40px;
//   font-size: 13px !important;
//   padding: 10px;
//   border: none;
//   font-family: roboto;
//   font-weight: 300;
//   z-index: 6;
//   background-color: var(--mainHeader-BackGroundColor) !important;
// }
.Sg-header-ng-select {
  width: 100%;
  min-width: 170px;
  /* min-height: 274px; */
  height: 57px;
   padding: 0 4px;
  // margin-top: 3px !important;
  border: none;
  font-family: roboto;
  font-weight: 300;
  z-index: 6;
  margin-top: 2px;
  background-color: var(--background-dropdown) !important;
}

.search-clear-icon {
  position: absolute;
  width: 15px;
  cursor: pointer;
  z-index: 6;
  right: 10px;
  padding: 2px;
  box-sizing: border-box;
  bottom: 1px !important;

}

.full-opacity{
  opacity: 1;
}

.inactive-icon-opacity{
  opacity:0.5;
}
.filterActivated{
  opacity: 1 !important;
  background-color: #fb8c27 !important;
}
.filterDeactivated{
  opacity:0.5 !important;
}
.btn-color{
  background-color: var(--sideContainer-BackGroundColor);
}
.Sg-header-ng-select.ng-select.ng-select-single.ng-select-searchable.ng-select-clearable.ng-untouched.ng-pristine.ng-valid{
  background-color: var(--background-dropdown) !important;
  margin-top: 2px !important;
  }
  #filter{
   background-color:var(--background-dropdown) !important;
   margin-top: 2px !important;
  }
  // .ng-value-label.ng-star-inserted {
  //   color:var(--text-hint) !important;
  //   }
  // .ng-select, .ng-select div, .ng-select input, .ng-select span{
  // color: var(--text-hint) !important;
// }
.Sg-header-ng-select-approvalsType-otherOptions .ng-select-container .ng-value-container .ng-value{
  color:var(--form-value-Color) !important;
}

 

