<div class="landing-page-playing-area full-view">
    <!-- <router-outlet></router-outlet> -->
  
    <div class="full-view">
      <div class="page-content">
  
        <div class="content-space welcome-label">WELCOME TO</div>
        <span class="capability-label">{{capability | uppercase}}</span>
  
        <p class="content-space text">
          A DIGITAL WORKSPACE FOR THE CONSTRUCTION INDUSTRY
        </p>
  
        <p class="content-space text">
          Visur platform provides you with a comprehensive tool to manage<br />
          your buisness, improve efficiency reduce spent and increase profit!<br />
        </p>
  
        <div class="content-space content-style">
          The documentation available in Adobe PDF format.<br />
          To view PDF file please download Adobe Acrobat Reader
          <a class="title-label"
            href="https://acrobat.adobe.com/us/en/acrobat/pdf-reader-html">https://acrobat.adobe.com/us/en/acrobat/pdf-reader-html</a><br />
          <!-- <button class="btn">Download Documentation</button> -->
        </div>
        <div class="content-space content-style">
          <button class="landing-page-download-button">Download Documentation</button>
          <button class="landing-page-watch-button">Watch Tutorial </button><br />
        </div>
      </div>
    </div>
  </div>
  