.flex-layout-root{
  overflow-y: hidden !important;
}

.construction-json-schema-form{
  height: 584px !important;
  overflow: auto !important;
}
::ng-deep .mat-form-field-infix {
  display: block !important ;
  position: relative !important;
  flex: auto !important;
  min-width: auto !important;
  width: 180px !important;
  /* padding: 13px; */
  padding-top: 7px !important;
}

.mat-expansion-panel-header-title {
  color: var(--font-color);
}

.mat-form-field-label {
  color: var(--font-color);
}constr

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  color: var(--font-color);
}


