@import "../../../../globals/base-properties.styles.scss";

#dbformTemplatePosition {
  top: 8vw;
  left: 15vw;
}
#doneImg {
  width: 4.5vw;
  margin-left: 7vw;
  margin-top: 1vw;
}
#ChartDiv {
  margin-top: 1VW;
  opacity: 0.5;
}
#ProgressText {
 margin-top: 5VW;
 display:inline-flex;
 color:white;
 text-align:center;
 font-size:1.5vw;
}
#ProgressText1 {
  margin-top: 3VW;
  display: inline-flex;
  color: white;
  /* text-align: center; */
  font-size: 1vw;
}
#spin {
  margin-top: 2vw;
  margin-left: 4vw;
}

#doneText {
  margin-top: 5VW;
  display: inline-flex;
  color: white;
  margin-left: -2vw;
  font-size: 1.5vw;
  text-align: center;
}
#dbformTemplatePosition1 {
  top: 8vw;
  left: 15vw;
  position: absolute;
  background-color: black
}
/*::ng-deep .mat-select-value {
  color: white;
}*/
#dbAddNewFormContent3 {
  WIDTH: 30VW;
  height: 17vw;
  background-color: #222;
  MARGIN-TOP: 0VW;
}

#dbformgenerator {
  color: $common-text-color;
  width: 26vw !important;
  height: 20vw;
  z-index: 5;
}



.biselect {
  width: 130px;
}

#dbAddNewFormContent {
  position: $common-position;
  overflow: auto;
  overflow-x: hidden;
  width: 154px;
  height: 42px;
  overflow-y: hidden;
  margin-left: 24px;
}

.dbformHeaderBtn {
  width: 1.5vw;
  height: 1.5vw;
  cursor: pointer;
  margin: 0.8vw;
  float: right;
}

#dbformTitle {
  position: absolute;
  padding: 0.4vw 1vw;
  width: 30vw !important;
  text-overflow: ellipsis;
  overflow: hidden;
  color:#FFF;
}

  .matFieldSize {
    width: 20vw;
    font-size: 1vw;
    margin-left:1vw;
  }

  // .matFieldSizedate {
  //   width: 12vw;
  //   font-size: 0.8vw;
  //   top: 1.35vw;
  // }

  // .matFieldSizetext {
  //   width: 12vw;
  //   font-size: 1vw;
  //   top: 1.8vw;
  // }

  // .textareasize {
  //   height: 1.7vw;
  //   width: 12vw;
  // }
.img-Icon {
  height: 1.2vw;
  width: 2vw;
}
#dbAddNewFormContent1 {
  WIDTH: 30VW;
  height: 20vw;
  background-color: #222;
  overflow-y: hidden;
}

  #dbAddNewFormHeader {
    position: $common-position;
    background-color: #000;
    font-size: 2vw !important;
    text-align: left;
    display: inline-flex;
    width: 30vw !important;
    height: 4.5vw;
    
  }

.datasourcefield {
  padding: 3px 0px 1px 0px;
  font-size: 12px;
}


