<div id="dialogBox">
  <div class="logoutTitle">
    <form-header [popUPForm]='true' [headerConfig]="headerConfig" (Click)="clickEvent($event)"></form-header>
  </div>
  <div id="dialogContent">
    <div class="title-label" *ngFor="let cont of content">{{cont}}</div>
    <div class="title-label" *ngIf="subContent">{{subContent}}</div>
  </div>
</div>