<div [id]="EntityType" [formGroup]="myForm" class="grid-list" *ngIf="intialized">
    <mat-expansion-panel class="non-bg mat-elevation-z" [expanded]="expandCollapse" #myPanel [disabled]="true">
      <mat-expansion-panel-header collapsedHeight="42px" expandedHeight="42px">
        <div class='toggle-expand-collapse'>
          <div class="sub-toggle-expand-collapse" *ngIf="expandShow" (click)="expandPannel(!expandCollapse)">
            <mat-icon class="expandIcon" matSuffix [svgIcon]='this.expandCollapse ? this.ExpandSingle_Icon_Idle : this.CollapsSingle_Icon_Idle'></mat-icon>
          </div>
        </div>
  
        <div class="entity-icon-area" *ngIf="commonService.isCreateNewEntity">
          <div *ngIf="isVisibleEntityIcon && isIconPermitted&&!IsEntityManagementForm">
            <mat-icon class="entity-icon" svgIcon="{{entityIcon.value}}"></mat-icon>
          </div>
        </div>
  
        <div class="entity-icon-area" *ngIf="!commonService.isCreateNewEntity">
  
          <div *ngIf="!IsEntityManagementForm && isIconPermitted">
            <mat-icon class="entity-icon" svgIcon="{{entityIcon.value}}"></mat-icon>
          </div>
        </div>
  
        <mat-grid-list class='grid-list accodant-header' [cols]="headerGrid?.grid?.numberOfCols" rowHeight="42px">
          <div *ngIf="adminSchema && adminSchema.label === 'Tank'">
          </div>
          <ng-template ngFor let-col [ngForOf]="headerGrid.grid.cols" let-i="index">
            <mat-grid-tile [rowspan]="'1'" [colspan]="col.colspan">
              <div class='full-width' [ngSwitch]="col.type">
                <!-- <ng-container *ngSwitchCase="'grid'">
                  <grid-type [isHeader]="true" [EntityType]="EntityType" [gridinputdata]='col.grid' [myForm]='myForm' [EntityName]='EntityName' [triggerCD$]="triggerCD$"
                             [EntityId]="EntityId"  (Click)="clickEvent($event)" [maxDate]="maxdate" [properties]="properties" ></grid-type>
                </ng-container>
                <ng-container *ngSwitchCase="'flex'">
                  <flex-type [isHeader]="true" [elements]='col.elements' [myForm]='myForm'  [EntityName]='EntityName'
                             [EntityType]='EntityType' [dynamicClass]="FlexClassname" (Click)="clickEvent($event)" [properties]="properties"></flex-type>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  <object-type [isHeader]="true"  [elements]='col.elements' [myForm]='myForm'  [EntityId]="EntityId" [triggerCD$]="triggerCD$"
                               [EntityName]='EntityName' [EntityType]='EntityType'  (Click)="clickEvent($event)" [properties]="properties"></object-type>
                </ng-container> -->
              </div>
            </mat-grid-tile>
          </ng-template>
        </mat-grid-list>
  
        <div class="entity-icon-area">
          <div *ngIf="isVisibleDataInjectionIcon">
            <img class="entity-icon" [src]="DataIntegration" (click)="DataIntegrationForm('FDC_GrayStatus_Icon_Idle')" />
          </div>
        </div>
  
        <div [ngClass]="{'list-menu-icon': !commonService.tabletMode}">
          <div *ngIf="headerGrid && headerGrid.actionmenu && headerGrid.actionmenu.cols && !commonService.isCreateNewEntity">
            <div *ngFor="let colfields of headerGrid.actionmenu.cols;  let i = index">
              <div class='full-width' [ngSwitch]='colfields.type'>
                <div *ngSwitchCase="'actionmenu'">
                  <!-- <menu-action-type [elements]='colfields.elements' [properties]="properties" [myForm]='myForm' (Click)="clickEvent($event)"></menu-action-type> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel-header>
  
      <div class="expansional-body">
  
        <div *ngIf="contentGrid?.type =='table'" [formArrayName]='groupName'>
          <div *ngIf="tabletypeData">
            <!-- <table-type [isCreateOrDelete]="isCreateOrDelete" [myForm]="myForm" [triggerCD$]="triggerCD$" [TableData]="tabletypeData"  [NewtableBodyData]="NewTableBody"  [globalAdminFormListData] ="globalAdminFormListData" (Click)="clickEvent($event)" [newList] ="newlist"
                        [EntityId]="EntityId" [EntityType]="EntityType" [EntityName]="AccordionName" [GlobalParentAccordionName]="EntityName" (showMore)="ShowMoreRecalculateHistory()" (setValueChangesPending)="getValueChangesPending($event)"></table-type> -->
          </div>
        </div>
  
        <div *ngIf="contentGrid?.type !='list' && contentGrid?.type !='section' && contentGrid?.type !='Multigrid' && contentGrid?.type !='table'">
          <mat-grid-list [cols]="contentGrid?.grid?.numberOfCols" [rowHeight]='rowHeight'  class="form-group">
            <ng-template ngFor let-col [ngForOf]="contentGrid?.grid?.cols" let-i="index">
              <mat-grid-tile class="fdc-form-grid-tile" [rowspan]="contentGrid1.columnRowSpan" [colspan]="col.colspan">
                <!-- <div class='full-width' [ngSwitch]="col.type">
                  <ng-container *ngSwitchCase="'grid'">
                    <grid-type  [gridinputdata]='col.grid' [myForm]='myForm' [EntityId]="EntityId" [triggerCD$]="triggerCD$"
                               [EntityType]="EntityType"  (Click)="clickEvent($event)" (eventHandler)="eventHandlerSubscribe($event)" [properties]="properties"  [orificeLibraryList]="orificeLibraryList"  [tankLibraryList]="tankLibraryList"></grid-type>
                  </ng-container>
                  <ng-container *ngSwitchCase="'object'">
                    <object-type  [elements]='col.elements'  [myForm]='myForm' [triggerCD$]="triggerCD$"
                                 [EntityId]="EntityId" [EntityName]='EntityName' [EntityType]='EntityType' (Click)="clickEvent($event)" (eventHandler)="eventHandlerSubscribe($event)" [properties]="properties"></object-type>
                  </ng-container>
                  <ng-container *ngSwitchCase="'flex'">
                    <flex-type [elements]='col.elements' [myForm]='myForm' [EntityName]='EntityName'
                               [EntityType]='EntityType' (Click)="clickEvent($event)" (eventHandler)="eventHandlerSubscribe($event)" [properties]="properties"></flex-type>
                  </ng-container>
                  <ng-container *ngSwitchCase="'list'"></ng-container>
                  <ng-container *ngSwitchDefault>
                    <grid-type  [gridinputdata]='col.grid'  [myForm]='myForm'  [EntityId]="EntityId" [triggerCD$]="triggerCD$" (Click)="clickEvent($event)" [properties]="properties"  ></grid-type>
                  </ng-container>
                </div> -->
              </mat-grid-tile>
            </ng-template>
          </mat-grid-list>
        </div>
      </div>
  
      <!-- <div *ngIf="contentGrid?.type =='section'" class="nested-view">
        <div *ngFor='let data of listOfChildren'>
           <multiaccordion [METER_JSON]="data.Schema" [myForm]="myForm.get(data.EntityId)"
           [EntityName]="data.EntityName" [GlobalParentAccordionName]="data.GlobalParentAccordionName" [EntityId]="EntityId" [EntityType]='EntityType'
           [jsonData]="data.Data" [emService]="emService"
           (Click)="clickEvent($event)"></multiaccordion>
        </div>
    </div> -->
  
    </mat-expansion-panel>
  </div>
