
<div class="dragForm" [ng2-draggable]="true">
  <div [ngClass]="getCSSClass()" #draggingDiv draggableDialog
  [Draggable]="draggingDiv">
    <div *ngIf="!Successtrue" [ngClass]="Successtrue ? 'DeleteSession':''">
      <div *ngIf="!loading">
        <div class="header-popup" [ngClass]="getHeaderSwitchUserCSSClass()" id="dragHandler">
          <!--<div class="title upper-case">{{header}}</div>-->
   
          <form-header [popUPForm]='true' [headerConfig]="headerConfig" (Click)="headerClickEvent($event)"></form-header>
       
        </div>
  
        <!--<div class="headerIcon" matTooltip='CLOSE' *ngIf='Successtrue' [ngClass]="{'active': false, 'successRight': true}">
          <div class='head-route' (click)="close()">
            <mat-icon class="successIcon" matSuffix svgIcon='V3 CloseCancel' [ngClass]='icon21-21'></mat-icon>
          </div>
          <br />
      </div>-->
  
        <div id="dialogContent">
          <div [ngClass]="(operation == 'Delete' || operation == 'updateVesselsLocationField' || operation == 'DeleteDownStreamLocation')? 'primaryContentDelete':'primaryContent'" *ngFor="let cont of content" [innerHTML]="cont"></div>

          <div class="padding-10px" *ngIf="operation == 'Progressbar'">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
          <div class="padding-10px" *ngIf="operation == 'FacilityCode'">
            <div *ngFor="let value of MultiSelectOption">
              <mat-checkbox class="checkbox-section" (change)="checkedChildren($event,value)">
              </mat-checkbox>
              <label class="padding-5px label-checkbox">{{value.EntityName}}</label>
            </div>
          </div>

          <div class="padding-10px checkbox-section" *ngIf="operation == 'LastTestDate'">
            <table class="lasttestheight">
              <tr *ngFor="let test of testFormContent">
                <td>{{test.key}}</td>
                <td> = </td>
                <td *ngIf="test.key == 'GAS'">{{(+test.value).toFixed(2)}}  10<sup>3</sup>m<sup>3</sup></td>
                <td *ngIf="test.key !='GAS'">{{(+test.value).toFixed(2)}}  m<sup>3</sup></td>
              </tr>
            </table>
          </div>
          <div *ngIf="operation == 'TargetThreshold'">
            <table class="TargetThreshold">
              <tr>
                <th></th>
                <th>PRIOR TEST</th>
                <th>CURRENT TEST</th>
                <th>TARGET %</th>
                <th>DIFFERENCE %</th>
              </tr>
              <tr *ngFor="let test of testFormContent">
                <td *ngIf="test.col1 == 'GAS'">{{test.col1}}  10<sup>3</sup>m<sup>3</sup></td>
                <td *ngIf="test.col1 !='GAS'">{{test.col1}}  m<sup>3</sup></td>
                <td>{{(+test.col2).toFixed(2)}}</td>
                <td>{{(+test.col3).toFixed(2)}}</td>
                <td>{{(+test.col4).toFixed(2)}}</td>
                <td>{{(+test.col5).toFixed(2)}}</td>
              </tr>
            </table>
          </div>

          <div class="VesselsLocationField" *ngIf="operation == 'updateVesselsLocationField'">

            <div class="fromdatefield">
              <mat-label class='title-label'>Current Location </mat-label>
              <mat-label class="CurrentLocationFormField">{{infoData.CurrentLocation}}</mat-label>
            </div>

            <div class="fromdatefield CurrentLocationFromDate">
              <mat-label class='title-label'>Production Date </mat-label>
              <input class="calculateTextColor" [readonly]="true" value="{{infoData.CurrentLocationFromDate | date: 'M/d/yyyy'}}">
            </div>

            <div class="datetimefield" [formGroup]="myForm">
              <div class='title-label' [ngClass]="{'error':(myForm.controls['NewLocation']?.invalid)}">New Location</div>
              <ng-select ngSelectEditFocused
                         class="NewLocationFormField"
                         [items]= "downUpstreamLocationOrnestedUnderData | sortArray"
                         [placeholder]="'New Location'"
                         [bindLabel]="bindLabel"
                         [formControlName]="'NewLocation'"
                         [multiple]="false"
                         [notFoundText]="'No Matches...'"
                         [appendTo]="'body'"
                         (click)="onOptionClick($event)"
                         (change)="selectedLocationAndDate($event, 'NewLocation')"
                         (keydown)="$event.stopPropagation()">
                <ng-template ng-option-tmp let-item="item">
                  {{item[bindLabel] ? item[bindLabel]: item }}
                </ng-template>
              </ng-select>
            </div>

            <div class="fromdatefield NewLocationFromDate" [formGroup]="myForm">
              <mat-label class='title-label' [ngClass]="{'error':(myForm.controls['NewLocationFromDate']?.invalid)}">From Date </mat-label>
              <input matInput placeholder="From Date" [max]="maxDate" [matDatepicker]="NewLocationPicker" [formControlName]="'NewLocationFromDate'"
                     (dateChange)="selectedLocationAndDate($event, 'FromDate')" autocomplete="off">
              <mat-icon matSuffix matDatepickerToggleIcon class="calanderIcon" svgIcon='V3 Calendar' (click)="NewLocationPicker.open()"></mat-icon>
              <mat-datepicker #NewLocationPicker id="pickerHide"></mat-datepicker>
            </div>

          </div>

          <div class="DownstreamPopup" *ngIf="operation == 'DeletePeople'">
            <div class="changeMessageDownstream">
              <div class="changemessgepadding">
                <span>{{subContent}}</span>
              </div>
              <div class="downstremchangefield">
                <mat-slide-toggle  (change)="showCompanyAndOfficesField($event)">
                  {{ShowHideToggle}}
                </mat-slide-toggle>
                <ng-template *ngIf="ShowHideToggle=='Yes'" ngFor let-colfields [ngForOf]="data.payload">
                  <div class="datetimefieldDownstream" [formGroup]="myForm">
                    <div class='title-label' [ngClass]="{'error':( myForm.controls[colfields.actualname]?.invalid )}">{{colfields.label}}</div>
                    <ng-select ngSelectEditFocused class="NewDownstreamLocationFormField"
                              [bindLabel]="option"
                              [formControlName]="colfields.actualname"
                              [multiple]="false"
                              [notFoundText]="'No Matches...'"
                              [appendTo]="'body'"
                              (change)="selectedfacilitycodeWithisUsing($event)"
                              (click)="onOptionClick($event)"
                              (keydown)="$event.stopPropagation()">
                      <ng-option *ngFor="let option of colfields.options"
                                 [value]="option">
                                 {{option[colfields.bindLabel]}}
                        <!-- <span [title]="option[bindLabel]">{{option[colfields.bindLabel]}}</span> -->
                      </ng-option>
                    </ng-select>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>

          <div class="DownstreamPopup" *ngIf="operation == 'DeleteDownStreamLocation'">
            <div class="changeMessageDownstream">
              <div class="changemessgepadding">
                <span>{{deletechangemessage}}</span>
              </div>
              <div class="downstremchangefield">
                <mat-slide-toggle class="toggleDownStream" (change)="showDownstreamLocationField($event)">
                  {{ShowHideToggle}}
                </mat-slide-toggle>
                {{showDownstreamLocationmessge}}
                <div class="datetimefieldDownstream" *ngIf='commonService.showDownstreamLocation' [formGroup]="myForm">
                  <div class='title-label' [ngClass]="{'error':( myForm.controls[property]?.invalid )}">{{downstreamOrnestedunderLabel}}</div>
                  <ng-select ngSelectEditFocused class="NewDownstreamLocationFormField"[bindLabel]="option" [placeholder]="downstreamOrnestedunderLabel" [formControlName]="property" [multiple]="false" [notFoundText]="'No Matches...'" [appendTo]="'body'"
                             (change)="selectedDownstreamLocationName($event)" (keydown)="$event.stopPropagation()">
                    <ng-option *ngFor="let option of downUpstreamLocationOrnestedUnderData | sortArray : bindLabel" [value]="option">
                        {{option[bindLabel]}}
                      <!-- <span [title]="option[bindLabel]">{{option[bindLabel]}}</span> -->
                    </ng-option>
                  </ng-select>
                </div>
                <div *ngIf='commonService.showDownstreamLocation' [formGroup]="myForm">
                  <div class='title-label' [ngClass]="{'error':( myForm.controls[FacilityCodeproperty]?.invalid )}">{{FacilityCodepropertylabel}}</div>
                  <ng-select ngSelectEditFocused class="NewDownstreamLocationFormField" [bindLabel]="option" [placeholder]="FacilityCodepropertylabel" [formControlName]="FacilityCodeproperty" [multiple]="false" [notFoundText]="'No Matches...'" [appendTo]="'body'"
                             (change)="selectedfacilitycodeWithisUsing($event)" (click)="onOptionClick($event)" (keydown)="$event.stopPropagation()">
                    <ng-option *ngFor="let option of FacilityCodeOptionsUsingtime | sortArray : bindLabel" [value]="option">
                      <!-- <span [title]="option[bindLabel]">{{option[bindLabel]}}</span> -->
                      {{option[bindLabel]}}
                    </ng-option>
                  </ng-select>
                </div>
                <div class="datetimefieldNestedUnder" *ngIf='commonService.showDownstreamLocation' [formGroup]="myForm">
                  <div class='title-label' [ngClass]="{'error':( myForm.controls[nestedUnderProperty]?.invalid )}">{{nestedUnderLabel}}</div>
                  <ng-select ngSelectEditFocused class="NewDownstreamLocationFormField" [bindLabel]="option" [placeholder]="nestedUnderLabel" [formControlName]="nestedUnderProperty" [multiple]="false" [notFoundText]="'No Matches...'" [appendTo]="'body'"
                             (change)="selectedNestedUnderField($event)" (click)="onOptionClick($event)" (keydown)="$event.stopPropagation()">
                    <ng-option *ngFor="let option of downUpstreamLocationOrnestedUnderData | sortArray : bindLabel" [value]="option">
                      <!-- <span [title]="option[bindLabel]">{{option[bindLabel]}}</span> -->
                      {{option[bindLabel]}}
                    </ng-option>
                  </ng-select>
                </div>
                <div *ngIf='commonService.showDownstreamLocation'>
                  <div class="fromdatefieldDownstream" [formGroup]="myForm">
                    <mat-label class='title-label' [ngClass]="{'error':( myForm.controls['FromDate']?.invalid )}">From Date </mat-label>
                    <input class="calenderInputareaCursor" matInput placeholder="From Date" [max]="maxDate" [matDatepicker]="picker1" [formControlName]="'FromDate'">
                    <mat-icon matSuffix matDatepickerToggleIcon class="calanderIconInDownStream" svgIcon='V3 Calendar' (click)="picker1.open()"></mat-icon>
                    <mat-datepicker #picker1 id="pickerHide"></mat-datepicker>
                  </div>
                </div>
              </div>
            </div>

          </div>


          <div class="DownstreamPopup" *ngIf="operation == 'DeleteHierarachy'">
            <div class="changeMessageDownstream">
              <div class="changemessgepadding">
                <span>{{deletechangemessage}}</span>
              </div>
              <div class="downstremchangefield">
                <mat-slide-toggle class="toggleDownStream" (change)="toggleOperation($event)">
                  {{ShowHideToggle}}
                </mat-slide-toggle>
                {{showDownstreamLocationmessge}}
                <div class="datetimefieldDownstream" *ngIf='commonService.ShowHierarchyName' [formGroup]="myForm">
                  <div class='title-label' [ngClass]="{'error':( myForm.controls[HierarchyName]?.invalid )}">{{HierarchyName}}</div>
                  <ng-select ngSelectEditFocused class="NewDownstreamLocationFormField"[bindLabel]="option" [placeholder]="HierarchyName" [formControlName]="HierarchyName" [multiple]="false" [notFoundText]="'No Matches...'" [appendTo]="'body'"
                             (change)="selectedDistrict($event)" (keydown)="$event.stopPropagation()">
                    <ng-option *ngFor="let option of HierarchyDropDownData | sortArray : bindLabel" [value]="option">
                        {{option[bindLabel]}}
                    </ng-option>
                  </ng-select>
                </div>
              </div>
            </div>

          </div>


          <div class="facilityCodeUsingWithNested" *ngIf="operation == 'DeleteNestedUnderFacilityCodeIsUsing' || operation == 'DeleteFacilityCodeIsUsing'|| operation == 'DeleteNestedUnderFacilityCode' || operation == 'DeleteFacilityCode'">
            <div class="subfields" *ngIf="operation == 'DeleteFacilityCodeIsUsing' || operation ==  'DeleteNestedUnderFacilityCodeIsUsing'">
              <div class="fromdatefield" [formGroup]="myForm">
                <mat-label class='title-label' [ngClass]="{'error':( myForm.controls['FromDate']?.invalid )}">From Date </mat-label>
                <input matInput placeholder="From Date" [max]="maxDate" [matDatepicker]="picker1" [formControlName]="'FromDate'" (input)="_keyPress($event)">
                <mat-icon matSuffix matDatepickerToggleIcon class="calanderIcon" svgIcon='V3 Calendar' (click)="picker1.open()"></mat-icon>
                <mat-datepicker #picker1 id="pickerHide"></mat-datepicker>
              </div>
              <div class="datetimefield" [formGroup]="myForm">
                <div class='title-label' [ngClass]="{'error':( myForm.controls[FacilityCodeproperty]?.invalid )}">{{FacilityCodepropertylabel}}</div>
                <ng-select ngSelectEditFocused class="FacilityCodeSelectField" [bindLabel]="option" [placeholder]="FacilityCodepropertylabel" [formControlName]="FacilityCodeproperty" [multiple]="false" [notFoundText]="'No Matches...'" [appendTo]="'body'"
                           (change)="selectedfacilitycodeWithisUsing($event)" (click)="onOptionClick($event)" (keydown)="$event.stopPropagation()">
                  <ng-option *ngFor="let option of FacilityCodeOptionsUsingtime | sortArray : bindLabel" [value]="option">
                    <!-- <span [title]="option[bindLabel]">{{option[bindLabel]}}</span> -->
                    {{option[bindLabel]}}
                  </ng-option>
                </ng-select>
              </div>
            </div>
            <div *ngIf="operation == 'DeleteNestedUnderFacilityCode' || operation ==  'DeleteNestedUnderFacilityCodeIsUsing'">
              <div class="message">
                <span class="subcontentstyle">{{subContent}}</span>
              </div>
              <div class="changeMessage">
                <span>{{deletechangemessage}}</span>
                <mat-slide-toggle class="toggle1" (change)="showNestedUnderfacilityCode($event)">
                  {{ShowHideToggle}}
                </mat-slide-toggle>
              </div>
              <div class="datetimefield" *ngIf='showNestedUnderFacilityCode' [formGroup]="myForm">
                <div class='title-label' [ngClass]="{'error':( myForm.controls[property]?.invalid )}">{{downstreamOrnestedunderLabel}}</div>
                <ng-select ngSelectEditFocused class="NewfacilityCodeLocationFormField" [bindLabel]="option" [placeholder]="downstreamOrnestedunderLabel" [formControlName]="property" [multiple]="false" [notFoundText]="'No Matches...'" [appendTo]="'body'"
                           (change)="selectedNestedUnder($event)" (click)="onOptionClick($event)" (keydown)="$event.stopPropagation()">
                  <ng-option *ngFor="let option of downUpstreamLocationOrnestedUnderData | sortArray : bindLabel" [value]="option">
                    <!-- <span [title]="option[bindLabel]">{{option[bindLabel]}}</span> -->
                    {{option[bindLabel]}}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>

          <div class="DownstreamPopup" *ngIf="operation == 'DeleteBasedonEffectiveDate'">
            <div class="changeMessageDownstream">
              <div class="changemessgepadding">
                <span>{{deletechangemessage}}</span>
              </div>
              <div class="downstremchangefield">
                <mat-slide-toggle class="toggleDownStream" (change)="showFromDateField($event)">
                  {{ShowHideToggle}}
                </mat-slide-toggle>
                {{showDownstreamLocationmessge}}
                <div *ngIf='commonService.showDownstreamLocation'>
                  <div class="datetimefieldDownstream" [formGroup]="myForm">
                    <div id="FormDatediv">
                      <mat-label class='title-label' [ngClass]="{'error':( myForm.controls['FromDate']?.invalid )}">From Date </mat-label>
                      <input class="calenderInputareaCursor" matInput placeholder="From Date" [min]="minDate" [max]="maxDate" [matDatepicker]="picker1" [formControlName]="'FromDate'">
                    </div>
                    <mat-icon matSuffix matDatepickerToggleIcon class="calanderIconInDownStream" svgIcon='V3 Calendar' (click)="picker1.open()"></mat-icon>
                    <mat-datepicker #picker1 id="pickerHide"></mat-datepicker>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div *ngIf="subOperation == 'EMMutualFabricDelete'">
            <div class="changeMessageDownstream">
              <div class="changemessgepadding">
                <span>{{EMMutialFabricDeleteMsg}}</span>
              </div>
              <div>
                <div  *ngFor="let item of Capabilities let i = index">
                  <div *ngIf="item.showHide">
                    <mat-checkbox  class='font-style' [(ngModel)]="item['value']" >
                      <mat-label >{{ item.ShowValue }}</mat-label>
                    </mat-checkbox>
                  </div>
              </div>
              </div>
            </div>
          </div>
          <div style="width: 100%;" *ngIf="operation == 'CreateId'">
            <table style="width:500px;height:160px;">
              <tr *ngFor="let msg of commonService.Messagelist">
                <td style="width:70%;height:30px;border: 0px;">{{msg.label}}</td>
                <td style="width:30%;height:30px;border: 0px;"><mat-progress-bar mode="determinate" [value]="msg.value"></mat-progress-bar></td>
              </tr>
            </table>
          </div>

          <div style="width: 100%;" *ngIf="operation == 'ImportData'">
            <table class="padding-10px">
              <tr *ngFor="let msg of commonService.ImportMessagelist">
                <td style="width:60%;height:30px;border: 0px;">{{msg.label}}</td>
                <td style="width:40%;height:30px;border: 0px;"><mat-progress-bar mode="determinate" [value]="msg.value"></mat-progress-bar></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <!--<div class="dialog-loader" *ngIf="loading">
        <div class='spinner'>
          <div class="loader"></div>
        </div>
      </div>-->
    </div>
    <!--<div class="DeleteSuccess" *ngIf="Successtrue">
      <mat-icon class="icon" matSuffix svgIcon='V3 CloseCancel' (click)="closeSuccessPopup()"></mat-icon>
      <div [ngClass]="operation == 'Delete'? 'secondaryContentDelete':'secondaryContent'" *ngFor="let subCont of subContent">{{subCont}}</div>
  
      <img class="success-entity-icon" src="wwwroot/images/AlThing UI Icon-Button Set v1/{{entityIcon}}.svg" />
  
    </div>-->
  
   
  </div>
</div>

