@import '../../globals/theme.scss';
.TargetThreshold {
  width:100%;
  border-collapse: collapse;
  text-align: center;
}
.TargetThreshold, th, td {
  border: 1px solid black;
  font-size: $formValue-FontSize;
  color: var(--form-value-Color);
  font-family: Roboto;
  font-weight: 300;
  height: 40px;
}

.dialogBox {
  width: 100%;
  height: auto;
  background-color: var(--sideContainer-BackGroundColor);
  // border: $border;
  color: var(--form-value-Color);
}
#DeleteSession {
  background-color: var(--mainHeader-BackGroundColor);
  color: var(--form-value-Color);
  width: 400px;
  height: 350px;
  position: absolute;
  /*box-shadow: 0 0 2px #000000;*/
  margin: -65px 150px;
  border: $border;
}
#SuccessDialogBox {
  height: 220px;
  width: 300px;
  background: white;
}
.loaderStyling {
  background-color: var(--mainHeader-BackGroundColor);
  color: var(--form-value-Color);
  width: 200px;
  height: 150px;
  position: absolute;
  /*box-shadow: 0 0 2px #000000;*/
  margin: -65px 150px;
  border: $border;
}
.header-popup {
  background-color: var(--popUpHeader-BackGroundColor);
  height: $mainHeader-Height;
  width: 100%;
  border:$border;
  box-sizing: border-box;
}

.header-popup-SwitchUser {
  background-color: #323132;
}

.title {
  padding: 10px;
  font-size: $form-title-fontsize;
  position: $commonPosition;
  color: var(--form-value-Color) !important
}
.DeleteSuccess {
  background-color: var(--mainHeader-BackGroundColor);
  color: var(--form-value-Color);
  width: 341px;
  height: 250px;
  position: absolute;
  /*box-shadow: 0 0 2px #000000;*/
  margin: -65px 150px;
  border: $border;
}
.icon
{
  padding-top:0px;
  float:left;
}
.dialog-loader {
  height: auto;
  width: calc(100% );
  padding: 17% 29%;
  box-sizing: border-box;
}

#dialogContent {
    height: auto;
    padding: 42px 52px;
    cursor: default;
    border-top: none !important;
    border: 0.5px solid black;
}

.primaryContentDelete {
  height: auto;
  width: 100%;
  font-size: $attention-message-fontsize;
  color: $attention-message-color;
  font-family: Roboto Light;
  font-weight: 300;
}
.secondaryContentDelete {
  height: auto;
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
  color: var(--form-value-Color);
  font-family: Roboto Light;
}

.primaryContent {
  height: auto;
  width: 100%;
  font-size: $attention-message-fontsize;
  color: $attention-message-color;
  font-family: Roboto Light;
  font-weight: 300;
}
.secondaryContent {
  height: auto;
  width: 100%;
  margin-top:112px;
  font-size: 16px;
  color: var(--form-value-Color);
  text-align: center;
  font-family: Roboto Light;
}


.icon {
  position: relative;
  width: 22px;
  height: 22px;
  padding: 0px;
  box-sizing: content-box;
  float: right;
  cursor:pointer;
}
.icon:hover {
  background-color: #AB353D;
}
.imgIcon {
  position: absolute;
  width: 22px;
  height: 22px;
  fill: var(--form-value-Color) !important
}

.checkBox {
  font-size: 12px;
  background-color: var(--sideContainer-BackGroundColor);
}

.section {
  height: 30px;
  padding: 10px;
  margin-left: 80px;
}

.spinner {
  width: 100%;
  padding: -1px 165px;
  background-color: var(--mainHeader-BackGroundColor);
}

.padding-5px{
  padding: 5px;
}

.loader {
  border: 10px solid #c6c6c6;
  border-radius: 50%;
  border-top: 10px solid #808080;
  border-bottom: 10px solid #808080;
  width: 62px;
  height: 62px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.success-entity-icon {
  width: 43.35px;
  height: 50px;
  padding: 7px 45%;
  left: 144px;
}
.padding-10px{
  padding: 10px 10px 10px 5px;
  width: 100%;
}

.checkbox-section {
  padding: 5px;
  font-size: $formValue-FontSize;
  color: var(--form-value-Color);
}

.label-checkbox {
  font-size: $formValue-FontSize;
}

.lasttestheight {
  width: 100%;
  height: 100%;
  font-size: $formValue-FontSize;
  color: var(--form-value-Color);
  padding: 5px;
}


/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform:rotate(0deg);
   

  }

  100% {
    -webkit-transform: rotate(360deg);
   

  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    will-change: transform;
   

  }

  100% {
    transform: rotate(360deg);
    will-change: transform;
   

  }
}
.saveIcon:hover {
  background-color: #01683A;
  
}

.closeIcon:hover {
  background-color: #AB353D;
}
.changeMessage, .fromdatefield, .datetimefield{
  margin:20px;
}

.fromdatefieldDownstream{
  margin-top:40px;
}
.datetimefieldDownstream{
  padding-left: 30px;
}
.changemessgepadding{
  padding-top: 42px;
}
.downstremchangefield{  
  display: inline-flex;
  padding-top: 15px;
}
.toggle1{
 // margin-left:73px;
  margin-left:59px;
}
// .toggle2{
//   margin-left:59px;
// }
/*.datetimefield, .fromdatefield, .fromdatefieldDownstream, .datetimefieldDownstream{
  width: 35%;
}*/

.NewLocationFormField {
  width: 260px;
  display: inline-block;
}
.NewfacilityCodeLocationFormField {
  width: 200px;
  display: inline-block;
}

.CurrentLocationFormField {
  width: 260px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: $formValue-FontSize;
  color: #39B54A !important;
  font-family: Roboto;
  font-weight: 300;
}
.CurrentLocationFromDate {
  position: absolute;
  left: 330px;
  top: 130px;
}

.NewLocationFromDate {
  position: absolute;
  left: 330px;
  top: 190px;
}

.NewDownstreamLocationFormField {
  width: 150px !important;
  display: inline-block;
  top: 6px !important;
  margin-top: -28px !important;
  transform: translate(2px,-20px) !important;
  padding-top: 11px !important;
}

.fromdatefield, .fromdatefieldDownstream {
  display:grid;
}
.message{
  color: #CF822A;
 // margin: 0px 30px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}
.facilityCodeUsingWithNested{
  // color: #CF822A;
 // margin: 0px 30px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 20px;
  // display: grid;
  // text-align: center;
}
.subfields{
  display: inline-flex;
}
.calanderIcon{
    margin-left: 114px;
    margin-top: -28px;
}
.calanderIconInDownStream{
  margin-left: 91px;
  margin-top: -28px;
}
.Downstream{
  display: inline-block;
}
input.mat-input-element{
caret-color: var(--form-value-Color) !important;
}
/*mat-icon.mat-icon.successIcon {
  position: relative;
  box-sizing: content-box;
  float: right;
  width: 15px;
  height: 15px;
  margin: 12px;
  cursor: pointer;
}

.headerIcon:hover {
  background-color: #D5606D;
}

.successRight {
  float: right;
  margin-left: -1px;
}*/

.calenderInputareaCursor{
  cursor: pointer;
}

.VesselsLocationField{
  margin: 0px -21px;
}

.FacilityCodeSelectField{
  width: 200px;
  display: inline-block;
}
.desktopSwitchUser {
  width: 100%;
  height: auto;
  background-color: #414041;
  // background-color: var(--sideContainer-BackGroundColor);
  // border: $border;
  color: var(--form-value-Color);
  // background: url('../../../../appresourcefiles/images/loginpages/Login_Screen_Main_Background.svg') no-repeat center center fixed !important;
}

.datetimefieldNestedUnder {
  margin-top: 40px;
  margin-left: -330px;
}
#FormDatediv {
  height: 20px;
  display: -webkit-box;
}

.title-label{
  margin-bottom: 15px;
}
