<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

  <link id="FaviconId" rel="icon" type="image/x-icon" href="~/wwwroot/images/Favicon/VISUR_Favicon.ico">
  <link href="~/css/loginPage.css" rel="stylesheet" />
  <script src="~/js/loginPage.js"></script>
</head>
<body onload="isUserLogin('token')">
  <div class="container">
    <div class="box">
      <div class="logo-img"></div>
      <div class="inner-box">

        @{
          ViewData["Title"] = "InvalidPage";
        }

        <h2>InvalidPage</h2>

        <div class="error-message-ip">
          <h2 class="error-message">@ViewBag.message</h2>
          <h2 class="correct-message">@ViewBag.correctMsg</h2>
        </div>
      </div>
    </div>

    <svg class="LiveChatSupport" viewBox="0 0 21 21">
      <path d="M1.8,0v17.3h13.5l3.8,3.7v-3.7v-1.3V0H1.8z M5.1,3.3h10.8v2.2H5.1V3.3z M5.1,7.6h10.8v2.2H5.1V7.6z M11.6,14.1   H5.1v-2.2h6.5V14.1z" />
    </svg>
  </div>
</body>
</html>
