<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

  <link id="FaviconId" rel="icon" type="image/x-icon" href="~/wwwroot/images/Favicon/VISUR_Favicon.ico">
  <link href="~/css/loginPage.css" rel="stylesheet" />
  <script src="~/js/loginPage.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script> -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" 
          integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" 
          crossorigin="anonymous"></script>
  <script src="~/js/client.min.js"></script>
  <script>
    function idbClear() {
      try {
        console.log("idbClear start...");
        //
        var noOfTimeToCheckIDBInstance = 0;
        while (noOfTimeToCheckIDBInstance < 2) {
          var idb = window.indexedDB;
          idb.databases().then(res => {
            console.log("idb length:" + res.length);
            res.forEach(idbDetails => {
              console.log("checking Clean needed in IDB:" + idbDetails.name);
              if (idbDetails && idbDetails.name) {//&& idbDetails.name != "Visur"
                let deleteRequest = idb.deleteDatabase(idbDetails.name);
                deleteRequest.onsuccess = function (evt) {
                  console.warn('cleared idb')
                  console.warn(evt);
                }
                deleteRequest.onerror = function (evt) {
                  console.error("Error while clearing IDB");
                  console.error(evt);
                }
              }
            })
          })
          noOfTimeToCheckIDBInstance++;
        }
      }
      catch (e) {
        console.error("idbClear:" + e)
      }
    }

    //showPass
    $(document).ready(function () {

      $(".show-password, .hide-password").on('click', function () {
        if ($(this).hasClass('show-password')) {
          $(this).parent().find(".show-password").hide();
          $(this).parent().find(".hide-password").show();
        } else {
          $(this).parent().find(".hide-password").hide();
          $(this).parent().find(".show-password").show();
        }
      });
    });
    function myFunction() {
      var x = document.getElementById("password");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }

  </script>
</head>
<body onload="getDeviceDetail(); idbClear();">

  <div class="container">

    <div class="box">
      <div class="logo-img"></div>

      <div class="inner-box">

        @using ICommonInterfaces.Model
        @model LoginModel
        @using (Html.BeginForm("PasswordAuthentication", "Home", FormMethod.Post))
        {
          @Html.HiddenFor(m => m.tenantName)
          @Html.TextBoxFor(m => m.username, new { @class = "displayNone" })
          @Html.PasswordFor(m => m.password, new { @class = "textboxStyle", placeholder = "Enter your password...", autofocus = "autofocus", autocomplete = "on", onkeypress = "btnFocusActivate(this, event)" });
          <span class="password-showhide">
          <span class="show-password" onclick="myFunction()">
            <img src="~/images/loginimages/show_password_toggle.svg" />
          </span>
          <span class="hide-password" onclick="myFunction()">
            <img src="~/images/loginimages/hide_password_toggle.svg" />
          </span>
        </span>
          @Html.HiddenFor(m => m.deviceDetail)
          <input type="submit" value="LOGIN" class="rectangle" id="submitPassword" disabled="disabled" />
        }
        <div class="error-message-ip">
          <h2 class="error-message" id='ip-error-message'>@ViewBag.message</h2>
          <h2 class="correct-message">@ViewBag.correctMsg</h2>
        </div>

        @using (Html.BeginForm("SendEmailPage", "Home", FormMethod.Post, new { onsubmit = "return setValue()" }))
        {
          @Html.HiddenFor(m => m.tenantName, new { id = "cn" })
          @Html.HiddenFor(m => m.username, new { id = "un" })
          @Html.HiddenFor(m => m.deviceDetail, new { id = "dd" })
          @Html.HiddenFor(m => m.isForgotPassword)
          <div class="linkPadding"><input type="submit" value="Forgot your password?" class="linkButton"></div>
        }
      </div>
    </div>

    <svg class="LiveChatSupport" viewBox="0 0 21 21">
      <path d="M1.8,0v17.3h13.5l3.8,3.7v-3.7v-1.3V0H1.8z M5.1,3.3h10.8v2.2H5.1V3.3z M5.1,7.6h10.8v2.2H5.1V7.6z M11.6,14.1   H5.1v-2.2h6.5V14.1z" />
    </svg>

  </div>

</body>
</html>
