<div *ngIf="initilize" [formGroup]="myForm" >
  <div *ngFor="let colfields of colsdata; let index = index" [ngClass]="colfields.class" >
    <div [ngSwitch]='colfields.type'>

      <div *ngSwitchCase="'string'">
        <mat-form-field class='form-field' appearance="none" [floatLabel]="'always'">
          <mat-label class='float-label'> {{colfields.label}} </mat-label>
          <input matInput [placeholder]="colfields.label" [name]="colfields.label" [formControlName]="colfields.entityName" [attr.disabled]="true?'':null" (keypress)="keyPress($event)">
        </mat-form-field>
      </div>

      <div *ngSwitchCase="'select'">
        <div class='cust-input' >
          <div class='title-label'> {{colfields.label}} </div>
          <div class='input-area'>


            <ng-select  class="input-unit basewidth" ngSelectEditFocused
                       [multiple]="false"
                       [placeholder]="colfields.label"
                       [notFoundText]="'No Matches...'"
                       [items]="colfields.option | sortArray : bindLabel"
                       [formControlName]="colfields.entityName"
                       [appendTo]="'body'"
                       (click)="onOptionClick($event)"
                       (keydown)="$event.stopPropagation()">
            </ng-select>


            <!--<div matAutocompleteOrigin #origin="matAutocompleteOrigin">
              <input matInput [matAutocomplete]="auto" [matAutocompleteConnectedTo]="origin" type="text" [placeholder]="colfields.label" [formControlName]="colfields.entityName" (focus)="autoCompleteChange( colfields.entityName, index)" (keyup)="autoCompleteChange( colfields.entityName, index)">
            </div>
            <mat-autocomplete #auto="matAutocomplete" (closed)="autoCompleteFocusOut(colfields.label, index)">
              <mat-option *ngFor="let option of filteredOptions | async " [value]="option"> {{ option }} </mat-option>
            </mat-autocomplete>-->
          </div>
        </div>
      </div>

      <div *ngSwitchCase="'multiselect'">
        <mat-form-field class='form-field' appearance="none" [floatLabel]="'always'">
          <mat-label class='float-label'> {{colfields.label}} </mat-label>
          <mat-select disableOptionCentering panelClass="selectPanel" [placeholder]="colfields.label" [formControlName]="colfields.entityName" multiple>
          </mat-select>
        </mat-form-field>
      </div>


      <div *ngSwitchCase="'label'" class='center-align'>
        <label class="fdclabel_accordion">{{colfields.label}}</label>
      </div>


      <div *ngSwitchCase="'double'">
        <mat-form-field class='form-field' appearance="none" [floatLabel]="'always'">
          <mat-label class='float-label'> {{colfields.label}} </mat-label>
          <input matInput [placeholder]="colfields.label" [name]="colfields.label" [formControlName]="colfields.entityName">
        </mat-form-field>
      </div>

      <div *ngSwitchCase="'autocomplete'">
        <mat-form-field class='form-field' appearance="none" [floatLabel]="'always'">
          <mat-label class='float-label'> {{colfields.label}} </mat-label>
          <input type="text" [placeholder]="colfields.label" aria-label="Number" matInput [formControlName]="colfields.entityName" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <!--<mat-option (onSelectionChange)="selectedLocation($event,option, colfields.actualname)" *ngFor="let option of filteredOptions | async" [value]="option.Name"> {{ option.Name }} </mat-option>-->
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div *ngSwitchCase="'checkbox'" >
        <mat-label class='float-label'> {{colfields.label}} </mat-label>
        <div class="toggleclass">
          <mat-slide-toggle class='fdc-form toggle-icon' [disableRipple]="'true'" [formControlName]="colfields.entityName" #checkboxdata></mat-slide-toggle>
        </div>
      </div>

      <div *ngSwitchCase="'button'">
        <button mat-raised-button class='fdc-form-button' type="button">
          <span> {{colfields.label}} </span>
        </button>
      </div>

      <div *ngSwitchCase="'toggle'" class="inline-flex">
        <mat-label [class.float-label]="colfields.label != 'Toggle All'" [class.toggleAll]="colfields.label == 'Toggle All'" (contextmenu)="getselectedentitydata(colfields)"> {{colfields.label}} </mat-label>
        <div class="toggleclass">
          <mat-slide-toggle [disableRipple]="'true'" class='fdc-form' [formControlName]="colfields.entityName" #checkboxdata></mat-slide-toggle>
        </div>
      </div>


      <div *ngSwitchCase="'slider'">
        <mat-label class='float-label'> {{colfields.label}} </mat-label>
        <div class="toggleclass">
          <mat-slider class='fdc-form slider' [formControlName]="colfields.entityName"
                      [max]="colfields.max-range"
                      [min]="colfields.min-range"
                      [thumbLabel]="'true'">
          </mat-slider>
        </div>
      </div>




      <div *ngSwitchCase="'img'">
        <img class='btn-img' src="wwwroot/images/AlThing UI Icon-Button Set v1/{{colfields.label}}.svg" (click)="currentImageClick(colfields.label)" />
      </div>

      <div *ngSwitchCase="'Icon'">
        <img [src]="currentIcon" (click)="currentImageClick(colfields.label)" />
      </div>

    </div>
  </div>
 </div>
