@import '../../../../globals/theme.scss';


.per-100{
  width: 100%;
  /*height: 30px;*/
}

.per-50{
  width: 50%;
  display: inline-flex;
  /*height: 30px;*/
}


.inline-flex{
  display: inline-flex;
  width: 100%;
}
.basewidth{
  width: calc( 100% - 30px);
}

.float-label {
  width: 70%;
  padding: 5px;
  color: var(--form-value-Color) !important;
  font-size: 11px;
  font-family: roboto;
  cursor: default;
}
.toggleAll{
  width: 70%;
  padding: 5px;
  padding-bottom: 20px;
  color: var(--form-value-Color) !important;
  font-size: 11px;
  font-family: roboto;
  cursor: default;
}

.slider{
  padding: 10px;
  height: 0px;
  width: 80%;
}

.form-field {
  font-size: 13px;
  max-width: 100px;
}
input::placeholder{
  color: var(--form-value-Color) !important;
  opacity: 0.2;
}
.mat-input-element{
  caret-color: var(--form-value-Color) !important;
}
input {
  padding: 2px 5px !important;
}

.title-label {
  padding: 0px 5px !important;
  cursor: default;
}

.input-area{
  padding: 0px 5px;
  box-sizing: border-box;
}
