<div>
    <form class="full-view" [formGroup]="myForm">
        <div class='scrollformTemplate scrollbar'>
            <div class="form-area inline-flex-display" *ngFor="let property of Lists; let j=index;">
                <div *ngIf="property?.condition?.show">
    
                    <div [ngSwitch]='property.type' class='type-contaniner padding-5px'>
                        <div *ngSwitchCase="'string'">
                            <div class='cust-input'>
                                <div class='title-label'
                                    [ngClass]="{'error':(myForm.controls[property.actualname]?.invalid )}">
                                    {{property.label}} </div>
                                <div class='input-area'>
                                    <input class="full-width flex-grow" [placeholder]="property.label"
                                        autocomplete="off" [readonly]="(property.disable) || !(property.update)"
                                        [name]="property.label" [formControlName]="property.actualname"
                                        (keydown)="$event.stopPropagation()">
                                </div>
                            </div>
                        </div>    
                        <div *ngSwitchCase="'select'">
                            <div class='cust-input'>
                                <!-- <div class='title-label'
                                    [ngClass]="{'error':( myForm.controls[property.actualname]?.invalid )}">
                                    {{property.label}} </div> -->
                                <div class='input-area' [ngClass]="{'formselectarea': (property.label == 'Entity Type'||property.label == 'Parent Entity')}">
                                    <ng-select ngSelectEditFocused class="input-unit" [multiple]="false"    (keyup)="onKeyUp($event,property)" 
                                        [bindLabel]="property.bindLabel" [placeholder]="property.label"
                                        [notFoundText]="'No Matches...'" [items]="property.options"
                                        [formControlName]="property.actualname" (click)="onOptionClick($event)" [appendTo]="'body'">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
