<div class="dragForm" [ng2-draggable]="true">
  <div id="userSettings" class="full-view" #draggingDiv draggableDialog [Draggable]="draggingDiv">
    <div class="header-form" id="dragHandler">
      <form-header [popUPForm]='true' [headerConfig]="headerConfig" (Click)="ClickEvent($event)"></form-header>
    </div>
    <div class="form-container-body scrollbar">
      <div *ngIf="intialized" id="content" [formGroup]="myForm">
        <div class="name-title">
          {{userName}}
        </div>
        <div class="UserSettingContent">
          <div style="width: 20%; float:left">
            <userprofilegrid [gridinputdata]='imgElements' [properties]="properties" [myForm]='myForm' [EntityId]="EntityId"
              (AddClick)="currentImageClick($event)"></userprofilegrid>
          </div>
  
          <div style="width: 80%; float:right;margin-top:-38px">
            <user-json-schema-form-generator
            [BACKEND_SCHEMA_JSON]="UserSettingSchema"
            [BACKEND_JSON_DATA]="PersonPayloadData"
            [EntityType]="EntityType"
            [parentEvents]="eventsToUserFormGenerator.asObservable()"
            (userFormGeneratorEvents)="eventFromUserFormGenerator($event)"
            >
            </user-json-schema-form-generator>
          </div>
        </div>        
        <div class="theme-title"> PREFERENCES
          <hr class="Preferencesdivider">
        </div>
        <div class="UserPrefrenceBtnHeader" [ngStyle]="{'display':'flex'}">
          <div class="themecolor-title-label"> Theme Color </div>
          <div class="tabletmode-title-label"> Tablet Mode </div>
          <div class="buttonmode-label" *ngIf="commonService.tabletMode"> Button Mode </div>
          <div class="keypadmode-label" *ngIf="commonService.tabletMode"> Num/Key Pads </div>

        </div>
        <div class="UserPrefrenceBtn" [ngStyle]="{'display':'flex'}">
          <div class='list'>
            <mat-slide-toggle (change)='themeChange($event)' [checked]="commonService.themeDark"></mat-slide-toggle>
            <div class="toggle-label"> {{ themeType }} </div>
          </div>
          <div class='tabLetToggle'[ngClass]="{ 'disable_Tab_Mode': commonService.isdisableTableModeButton }">
            <mat-slide-toggle (change)='changeTabLetMode($event)' [checked]="commonService.tabletMode">
            </mat-slide-toggle>
            <div class="toggle-label"> {{ tabletType }} </div>
          </div>
          <div *ngIf="commonService.tabletMode" class="tabletToggles">
            <div class='buttonToggle'>
              <mat-slide-toggle (change)='changeButtonMode($event)' [checked]="commonService.tableButtonMode">
              </mat-slide-toggle>
              <div class="buttonmode-toggle-label"> {{ buttonMode }} </div>
            </div>
            <div class='keyPadToggle'>
              <mat-slide-toggle (change)='changeKeyPadMode($event)' [checked]="commonService.tabletKeyPadMode">
              </mat-slide-toggle>
              <div class="keypadmodetoggle-label"> {{ keyPadMode }} </div>
            </div>
          </div>
          <div *ngIf="commonService.tabletMode" class="ZoomButton">
            Zoom
            <div class="ZoomToggle" type="button" matTooltip="ZOOM OUT"
              [class.disabled]="(commonService.ZoomPercentage == '0%') ? true : false" (click)="decreaseZoom()">
              <mat-icon [svgIcon]="'Minussvg'" class="zoomicconstyle" matSuffix></mat-icon>
            </div>
            <div class="ZoomPercent" id='ZoomPercentage'>
              {{ commonService.ZoomPercentage }}
            </div>
            <div class="ZoomToggle" type="button" matTooltip="ZOOM IN"
              [class.disabled]="(commonService.ZoomPercentage == '150%') ? true : false" (click)="increaseZoom()">
              <mat-icon [svgIcon]="'Plussvg'" class="zoomicconstyle" matSuffix></mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>