@import '../../../../globals/theme.scss';

.search-text:focus {
    background-color: var(--mainHeader-BackGroundColor) !important;
  }
  
  .search-text {
      width: 100%;
      min-width: 145px;
      height: 25px;
      font-size: 13px !important;
      padding-right:20px;
      border: none;
      font-family: roboto;
      font-weight: 300;
      z-index: 6;
      background-color: var(--mainHeader-BackGroundColor) !important;
      margin: -1px 0px;
  }
  
  
  .clear-icon {
    position: absolute;
    width: 15px;
    cursor: pointer;
    z-index: 6;
    right: 5px;
    padding: 2px;
    box-sizing: border-box;
    bottom: 2px;
  }
  
  .security-search-texts {
    position: absolute;
    width: 100%;
    min-width: 145px;
    height: 25px;
  }
  
  .full-opacity {
    opacity: 1 !important;
  }
  
  input[type="search"]::-webkit-search-cancel-button {
    display: none; 
  }
  
  .visible{
    visibility: visible;
  }
  
  .hidden{
    visibility: hidden;
    max-width: 0px;
  }
  
  #security-filter-search {
    width: 100%;
    padding: 10px 8px;
    height: 38px;
    box-sizing: border-box;
    background-color: var(--sideHeader-BackGroundColor);
  }
  
  
  .expand-btn{
    width: 9px;
    height: 18px;
    z-index: 5;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  
  .security-tree-label {
    max-width: 127px;
    width: auto;
    overflow: hidden;
    height: 38px;
    position: relative;
    color: var(--form-value-Color);
    padding: 0px 5px;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    cursor: default;
     
  }
  
  
  .search-icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
    opacity: 0.5;
    font-size: 16px;
    padding: 3px;
    color: var(--form-value-Color);
  }
  
  
  .search-width{
    width: 100%;
  }
  
  .security-tree-left-area {
    position: absolute;
    width: calc(100% - 80px);
    display: inline-block;
  }
  
  .security-tree-right-area {
    position: absolute;
    width: 67px;
    display: inline-block;
    right: 5px;
  }

  .SecurityGroupTree{
    width: 100%;
    position: relative;
    height: calc(100% - #{$mainHeader-Height});
  }