<div class="snackBarPopUp">
  <div id="popupheader">
    <mat-icon class="material-icons" matSuffix svgIcon="V3 CloseCancel" style="height: 12px;" (click)="close()"></mat-icon>
  </div>
  <ng-scrollbar [trackX]="true" id="capabilitytheme">
      <div class="dialogContent">
        {{this.CommonService.errorDetails}}
      </div>
  </ng-scrollbar>
</div>
