<div  id='layout-container' class="dark-theme">
  <router-outlet name="primary"></router-outlet>
  <router-outlet name="commonpopup"></router-outlet>
</div>
<!-- <ngx-loading-bar></ngx-loading-bar> -->