@import "../globals/base-properties.styles.scss";
@import '~@angular/material/theming';
// @import './../template/LayoutComponents/leftsidebar/EntityFilter/entity-filter.component.styles.scss';
@import 'LayoutComponents/leftsidebar/tree.component.styles.scss';
@import './LayoutComponents/leftsidebar//CapabilityTree/capability.tree.component.styles.scss';

#DragFileUpload {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100000;
    background-image: url(/images/file_upload.png);
    background-repeat: no-repeat;
    background-size: 50vw 30vw;
    background-attachment: fixed;
    background-position: center;
}

#UIBackground {
    position: $common-position;
    height: 100%;
    width: 100%;
}

.actions {
    text-align: center;
}

.uimodel {
    background-color: lightblue !important;
    width: 45vw !important;
    height: 10vw !important;
    top: 5vw !important;
    color: black !important;
    z-index: 1060 !important;
}

.btnStyle {
    background: blue !important;
    height: 2vw !important;
    width: 6vw !important;
    padding: 0.6vw !important;
}


.saveIcon:hover {
  background-color: #01683A;
}

.close:hover {
  background-color: #AB353D;
}

#layout-container {
    background-color: #333333;
}
