<div *ngIf="myForm">
    <mat-expansion-panel class="non-bg mat-elevation-z" [expanded]="expandCollapse" #myPanel [disabled]="true">
      <mat-expansion-panel-header collapsedHeight="42px" expandedHeight="42px">
        <div  class='toggle-expand-collapse' [ngClass]="{'list-item-highlight':isChild}" >
          <div *ngIf="isChild" class="sub-toggle-expand-collapse" (click)="expandPannel(!expandCollapse)">
            <mat-icon class="expandIcon" matSuffix [svgIcon]='matIcon'></mat-icon>
          </div>
        </div>
        <div id="formHeader">
            <mat-icon class="icon" matSuffix svgIcon='{{icon}}' [ngClass]="icon21-21"></mat-icon>
            <div class="headerLabal" ><label matTooltip={{EntityName}}>{{ myForm.getRawValue().EntityName }}</label></div>
            <mat-icon matSuffix class='createbtn float-r' svgIcon="LeftPanePlus" [matTooltip]="'ADD'" (click)="AddEntity()"></mat-icon>
          </div>
    </mat-expansion-panel-header>
    <div class="expansional-body">
        <div *ngIf="myForm&&myForm.get('listOfChildren')">
            <div class='bg-color' *ngFor="let item of myForm.get('listOfChildren').controls;" >
                <entitymanagement-Formgenerator (Click)="ClickEvent($event)"
                  [myForm]="item"
                  [tab]="tab"
                  [entityMgmtCommonInputVariable]="entityMgmtCommonInputVariable"
                  [IsEntityMgmtDrag]='item.getRawValue().IsEntityMgmtDrag'
                  (entityMagntCommonOutputEmitter)="entityMagntCommonOutputEmitter($event)">
                </entitymanagement-Formgenerator>
            </div>
          </div>
    </div>
  </mat-expansion-panel>
  </div>
