.flex-layout-root{
    overflow-y: hidden !important;
  }
  
  .construction-json-schema-form {
    height: 100%;
    overflow: auto;
  }
  
  .mat-expansion-panel-header-title {
    color: var(--font-color);
  }
  
  .mat-form-field-label {
    color: var(--font-color);
  }
  
  .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
    color: var(--font-color);
  }
  