
@import '../../../globals/theme.scss';


.expandIcon {
  display: inline-block;
  width: 15px;
  height: 12px;
  margin: 2px 14px 8px 4px;
  cursor: pointer;
  z-index: 5;
}

.search-text:focus {
  background-color: var(--sideHeader-BackGroundColor) !important;
}

.search-text {
    width: 100%;
    min-width: 145px;
    height: 25px;
    font-size: 13px !important;
    padding-right:20px;
    border: none;
    font-family: roboto;
    font-weight: 300;
    z-index: 6;
    background-color: var(--sideHeader-BackGroundColor) !important;
    margin: -1px 0px;
}

#tree-areas {
  position: $commonPosition;
  top: 42px;
  width: 100%;
  padding-right:5px;  
  height: calc(100% - 48px);
  // overflow: auto;
  // overflow-x: hidden;
  box-sizing: border-box;
}

// .pos-absolute {
//   position: $commonPosition;
//   width: 100%;
//   height: 100%;
// }

.clear-icon {
  position: absolute;
  // height: 16px;
  width: 15px;
  cursor: pointer;
  z-index: 6;
  right: 5px;
  padding: 2px;
  box-sizing: border-box;
  bottom: 2px;
}

.search-texts {
  position: absolute;
  width: 100%;
  min-width: 145px;
  height: 25px;
  margin-left: -12px;
}

.full-opacity {
  opacity: 1 !important;
}

// .listCollapsIcon {
//   height: 10px;
//   width: 10px;
//   margin: 4px 10px 0px 5px;
// }

.panelHaderAcc {
  background: var(--sideHeader-BackGroundColor)!important;
  padding: 0 30px 0 5px !important;
}

.panelHaderAcc:hover{
  background-color:var(--select-option) !important;
 
}

.panelContainer {
  width: 232px;
  overflow-x: hidden;
  background-color: var(--sideContainer-BackGroundColor);
}

input[type="search"]::-webkit-search-cancel-button {
  display: none; 
}

.flex-grow{
  flex-grow: 1;
}

.mat-elevation-z0{
 color: var(--form-value-Color);
 border-top-right-radius:0px !important;
 border-top-left-radius:0px !important;
 border-bottom-right-radius:0px !important;
 border-bottom-left-radius:0px !important;
}

.nameOfpanels{
  color: var(--form-value-Color);
  font-family: $default-font;
}

.Favorate_icon {
  width: 15px;
  height: 25px;
  cursor: pointer;
}


.visible{
  visibility: visible;
}

.hidden{
  visibility: hidden;
  max-width: 0px;
}

#filter-search {
  position: absolute;
  width: 100%;
  padding: 11px 10px 12px 20px;
  height: 42px;
  box-sizing: border-box;
  // display: inline-flex;
}


.expandbtn{
  width: 9px;
  height: 20px;
  z-index: 5;
  box-sizing: border-box;
  cursor: pointer;
}


.tree-label {
  max-width: 127px;
  width: auto;
  overflow: hidden;
  height: 38px;
  position: relative;
  color: var(--form-value-Color);
  padding: 0px 5px;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  cursor: default;
   
}

.filtersIcon {
  position: relative;
  width: 16px;
  height: 16px;
  padding: 3px;
  cursor: pointer;
  opacity: 0.5;
}

.searchIcon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  opacity: 0.5;
  font-size: 16px;
  padding: 3px;
  color: var(--form-value-Color);
}

.createbtn {
  width: 16px;
  height: 16px;
  padding: 3px;
  cursor: pointer;
}

.search-width{
 // width: calc(100% - 98px);
  width: 100%;
}

.leftTreeLeftArea {
  position: absolute;
  width: calc(100% - 80px);
  display: inline-block;
}

.leftTreeRightArea {
  position: absolute;
  width: 67px;
  display: inline-block;
  right: 5px;
}

.disable-filter {
  pointer-events: none;
  opacity: 0.3;
}
