<!-- <div id="filter-search">
  <mat-icon *ngIf="expandButtonShowHide()" class='expandbtn' [svgIcon]=" isExpand ? 'CollapseAll' : 'ExpandAll' " [matTooltip]=" isExpand ? 'Collapse All' : 'Expand All'   " (click)="ExpandCollapse()"></mat-icon>
  <div class="tree-label" [ngStyle]="{'visibility': !isSerachText? 'visible' : 'hidden' }">
    {{ commonService.treeIndexLabel}}</div>
  <div [ngStyle]="{'visibility': isSerachText? 'visible' : 'hidden' }">
    <input class="search-text" [(ngModel)]='filterText' id="filter" type="search" placeholder="   Filter" autofocus
      autocomplete="off" (keyup)="searchEntity($event)" #inputSearch />
    <mat-icon matSuffix class="clear-icon" svgIcon="V3 CloseCancel" (click)="clearFilter()"></mat-icon>
  </div>
  <mat-icon matSuffix class='createbtn float-r' *ngIf="createPermission && !commonService.isSecurityAdmin" svgIcon="LeftPanePlus" matTooltip='ADD'
  (click)="AddEntity()"></mat-icon>
  <mat-icon matSuffix class="filtersIcon float-r" svgIcon="V3 LeftPaneFilter" matTooltip='FILTER' [ngClass]="{'full-opacity': filterr.openfilter }" (click)="filterr.Enablefilter($event)"></mat-icon>
  <entity-filter #filterr ></entity-filter>
  <mat-icon matSuffix class="searchIcon float-r" role="img" aria-hidden="true" svgIcon="MainSearch" matTooltip='SEARCH' [ngClass]="{'full-opacity': isSerachText }" (click)="onClickFilter()"></mat-icon>

</div> -->

<div id="filter-search">
  <div class="leftTreeLeftArea textSelectionDBClickRestict">
    <mat-icon *ngIf="expandButtonShowHide()" class='expandbtn float-l'
      [svgIcon]=" isExpand ? 'CollapseAll' : 'ExpandAll' " (click)="method1CallForClick()"
      ></mat-icon>

    <div class="tree-label" [ngClass]=" !isSearchText? 'visible float-l' : 'hidden float-l' "> {{ getTreeLabel() }}
    </div>

    <div class='float-l search-texts'
      [ngClass]=" isSearchText?  ( createPermission ? 'visible' : 'search-width visible') : 'hidden' ">
      <input class="search-text" [(ngModel)]='filterText' id="filter" type="search" placeholder="   Filter" autofocus
        autocomplete="off" (click)="searchTextFieldClick($event);" (keyup)="debouncedClick($event)" #inputSearch />
      <mat-icon matSuffix class="clear-icon" matTooltip='CLOSE' svgIcon="V3 CloseCancel" (click)="clearFilter()">
      </mat-icon>
    </div>
  </div>

  <!-- <entity-filter #filterr ></entity-filter> -->

  <div class="leftTreeRightArea">
    <mat-icon matSuffix class='createbtn float-r'
      *ngIf="createPermission||isListTab" svgIcon="LeftPanePlus"
      [matTooltip]="this.tabList === 'Lists' ? 'ADD NEW LIST' : 'ADD'"
      [matTooltipDisabled]="commonService.tabletMode ? true : false" (click)="AddEntity()"></mat-icon>

    <mat-icon  matSuffix class="filtersIcon float-r" svgIcon="V3 LeftPaneFilter" matTooltip='FILTER'
      [matTooltipDisabled]="commonService.tabletMode ? true : false" (click)="Enablefilter($event);"
      [ngClass]="{'full-opacity': commonService.isFilterIconActive ,'disable-filter':diableFilter}"></mat-icon>

    <mat-icon matSuffix class="searchIcon float-r" role="img" aria-hidden="true" svgIcon="MainSearch"
      matTooltip='SEARCH' [matTooltipDisabled]="commonService.tabletMode ? true : false"
      [ngClass]="{'full-opacity': isSearchText }" (click)="searchIconClick($event)"></mat-icon>
  </div>
</div>



<div *ngIf='treeInitilize'>

  <div *ngFor="let list of commonService.leftHeaderConfig"
    [ngStyle]="applayCssStyles(list)">
    <common-entity-filter [TreeName]="list.title" (entityFilterEmmitter)="leftTreeChangeOnFilterOnOrOFF($event)">
    </common-entity-filter>
    <div id="tree-areas" #treeareas class="scrollbar">
      <div *ngIf="commonService.lastOpenedFabric=='ActivityCenterFabric' && list.title == 'Lists';else other_content">
        <mat-accordion [multi]=true *ngFor="let colDat of ListCreatData">
          <mat-expansion-panel #matExpansionPanel class="mat-elevation-z0" hideToggle>

            <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'30px'"
              (click)="expandPanel(matExpansionPanel, $event, colDat)" class="panelHaderAcc">
              <mat-panel-title class="nameOfpanels">
                <mat-icon class="expandIcon" matSuffix svgIcon='ExpandAccordion'
                  [ngStyle]="{'transform':colDat.expand ? 'rotate(90deg)':'rotate(360deg)'}"
                  (click)="IconExpand($event,colDat)"></mat-icon>
                {{colDat.label}}
              </mat-panel-title>
              <div *ngIf="colDat.label=='Favorites'">
                <img src="wwwroot/images/V3 Icon set part1/LeftPanePlus.svg" class="Favorate_icon" />
              </div>
            </mat-expansion-panel-header>

            <div class="panelContainer" [ngStyle]="{'display':commonService.treeIndexLabel == 'Lists'?'block':'none'}">
              <div>
                <capability-tree [HierarchyTreeName]="colDat.label"></capability-tree>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <ng-template #other_content>
        <capability-tree #capabalityTree [HierarchyTreeName]="list.title" (EmmitTreeData)="getEventFromTree($event)">
        </capability-tree>
      </ng-template>
    </div>

  </div>
</div>
