
@import "../../../globals/base-properties.styles.scss";
@import "../../../globals/theme.scss";

.scroll-form-template {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
}

#form-template {
  width:100% ;
  height: 100%;
  background-color: var(--sideContainer-BackGroundColor);
  position: absolute;
  z-index: 5;
}
.form-scroll-area {
  height: calc(100% - #{$dataEntry-Middle-header});
  width: 99.7%;
  overflow: auto;
  scroll-behavior:smooth;
}
// .scrollbar:hover::-webkit-scrollbar{
//   height: 7px;
//   width: 7px;
// }
.form-template-min-width {
  min-width: calc(1024px - 2 * #{$mainHeader-Height});
}

#fdc-form-header {
  width: 100%;
  height: $mainHeader-Height;
  background-color: var(--formHeader-BackGroundColor);
  border-bottom: $border;
  box-sizing: border-box;
}


#EM-Form-Gen {
  height: calc(100% - 44px);
  width: 100%;
  position: absolute;
  background-color: var(--sideContainer-BackGroundColor) !important;
}

.active {
  box-sizing: border-box;
  border-bottom: 2px solid var(--active-BackGroundColor);
}
#form-generation {
  width: 100%;
  height: 100%;
  position: absolute;
}
 ::ng-deep .changedcolor
{
  color:green !important;
}
::ng-deep .mat-form-field-infix
{
  max-width: 152px !important;
}
