<div [id]="EntityType" *ngIf="isFormInitialized">
  <!-- <div class="expansional-body"> -->
  <!-- <form #saveform="ngForm" (ngSubmit)="submit()"> -->
  <div [ngSwitch]="formName" class='bg-color'>
    <ng-container *ngSwitchCase="'People'">
      <people-json-schema-form-generator [myForm]="myForm" [IsEntityManagementForm]="true"
        [tab]="commonService.getCapabilityFormNameBasedOnTab(tab)" [EntityType]="myForm.getRawValue().EntityType"
        [EntityId]="myForm.getRawValue().EntityId" [EntityName]="myForm.getRawValue().EntityName"
        [IsEntityMgmtDrag]="myForm.getRawValue().IsEntityMgmtDrag"
        [entityMgmtCommonInputVariable]="entityMgmtCommonInputVariable" [isNewEntity]="isNewEntity"
        (entityMagntCommonOutputEmitter)="entityMagntCommonOutput($event)" [LocationData]="LocationData"
        [treeIndexTab]="commonService.treeIndexLabel"
        >
      </people-json-schema-form-generator>
    </ng-container>

    <ng-container *ngSwitchCase="'Construction'">
      <app-construction-form-generator [myForm]="myForm" [IsEntityManagementForm]="true"
        [tab]="commonService.getCapabilityFormNameBasedOnTab(tab)" [EntityType]="myForm.getRawValue().EntityType"
        [EntityId]="myForm.getRawValue().EntityId" [EntityName]="myForm.getRawValue().EntityName"
        [IsEntityMgmtDrag]="myForm.getRawValue().IsEntityMgmtDrag"
        [commonInputVariable]="entityMgmtCommonInputVariable" [isNewEntity]="isNewEntity"
        (entityMagntCommonOutputEmitter)="entityMagntCommonOutput($event)" [LocationData]="LocationData">
      </app-construction-form-generator>
    </ng-container>
  </div>
  <!-- </form> -->
  <!-- </div> -->
</div>
