@import "../../globals/theme.scss";

.filter-form-header {
  width: calc(100% - 1px);
  height: 42px;
  border: $border;
  background-color: var(--popUpHeader-BackGroundColor);
}

.filter-form-body {
  width: calc(100% - 1px);
  height: calc(99% - 42px);
  border: $border;
  border-top: none;
  padding-top: 2.5px;
}
.new-filter-form-subbody{
  width: calc(100% - 2px);
  height: calc(100% - 84px); 
  overflow: auto;
}

.toolbar-label{
  //font-weight: 400;
  font-size: 14px;
  margin: 0 auto;
  float: left;
  padding: 13px 0 4px 42px;
  width: calc(100% - 85px);
  //text-align: center;
  height: 26px;
  border-right: $border;
}

.label-color{
  color: var(--form-Title-Color);
}

.label-font-size{
  font-size: 12px;
}

.filter-button
{
  //width: calc(100% - 200px);
  width: 161px;
  height: 30px;
  font-size: 10px;
  border:0.5px solid var(--form-value-Color);
  margin: 0px 52px;
  border-radius: 0;
  line-height: 29px;
}
.filter-buttons{
  position: absolute
}
.apply-filter-button{
  margin-right: 0px;
}
.apply-filter-button-disabled{
  border:0.5px solid #808080 !important;
  color: #808080 !important;
}
.new-filter-button{
  margin-left: 23px;
}
.clear-filter-button{
  width: 160px;
  margin-left: 145px;
  height: 30px
}
.clear-filter-select-div{
  padding-top: 10px !important;
}
.new-filter-buttons
{
  text-align: center;
  width: 100%;
  height: 42px;
  margin: 0px 0 38px 0;
}

.filter-add-field-button {
    width: 45%;
    border: 0.5px solid var(--form-value-Color);
    border-radius: 0;
    margin: 0 4px;
    top: 42px;
    left: -72px;
    font-size: 10px;
    height: 30px;
    line-height: 15px;
}

.filter-save-button {
    width: 20%;
    border: $border;
    border-radius: 0;
    margin: 0 4px;
}


.mat-select-panel , .mat-option {
  background-color: var(--mainHeader-BackGroundColor) !important;
  color: var(--form-value-Color) !important;
}
.head-route{
  width: $formHeaderIcon-Width;
  height: $mainHeader-Height;
}
.head-route-close-icon{
  border-left: $border;
}
.head-route:hover{
  background-color: #7A1F20;
  cursor: pointer;
}
.head-route-save-icon{
  width: $formHeaderIcon-Width;
  height: $mainHeader-Height;
}
.head-route-save-icon:hover{
  background-color: #335238;
  cursor: pointer;
}
.new-button{
  width: calc(100% - 136px) !important;
  padding-left: 50px !important;
}
.header-buttons{
 position: relative;
}

.select-div{
  width: calc(100% - 100px);
  height: 42px;
  padding: 0 50px;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.margin-10-0 {
  margin: 10px 0;
}

.mat-select{
  font-size: 12px !important;
}

.field-container{
  border: 0.5px solid #808080;
  margin: 10px;
  width: calc(100% - 100px);
  margin-left: 49px;
}
.field-block-logical{
  padding-left: 43px !important;
}
.field-block{
  padding: 4px;
  width: 50%;
}

.field-container tr , .filed-operation-block tr {
  height: 32px;
}

.column-bottom-border{
  border-bottom: 0.5px solid #808080;
}

.position-r{
  position: relative;
}

.filed-operation-block{
  width: 100px; 
  margin-left: 4px;
}
.ng-select {
  display: block;
  margin-top: -21px;
  position: relative;
}