
<div id="BIFabricDrawingArea" >
  <iframe appIframeTracker [src]='dashboardurl' id="dashboard-frame" class="full-view scrollbar" ></iframe>


  <div *ngIf="commonService.capabilityTreeSelectedIndex == 1">
      <button [attr.disabled]="!pgg.hasPreviousPage()?'':null" *ngIf="ShowHide" (click)="pgg.pageIndex = pgg.pageIndex-1;switchIframe(pgg.pageIndex)" class="btn btnl" mat-icon-button>
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <div *ngIf="dashboardurls.length > 0" id="frame">
        <iframe [src]="DynamicUrl"></iframe>
      </div>
      <button [attr.disabled]="!pgg.hasNextPage()?'':null" *ngIf="ShowHide" (click)="pgg.pageIndex = pgg.pageIndex+1;switchIframe(pgg.pageIndex)" class="btn btnr" mat-icon-button>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
      <div class="pageNat">
        <mat-paginator #pgg [length]="dashboardurls.length"
                       [pageSize]="pageSize">
        </mat-paginator>
      </div>
    </div>
  </div>
  <div *ngIf="!isdashboard && dashboardurls.length==0">
  <app-capability-landing-page  [capability]="capability"></app-capability-landing-page>
  </div>
  
<router-outlet></router-outlet>
