@import '../../globals/theme.scss';
.contextmenu {
  .mat-menu-item {
    color: var(--form-value-Color);
    font-size: $prodValue-FontSize;
    font-family: $common-FontStyle;
    height: 30px;
    width: 100%;
    /*padding: 5px;*/
    line-height: normal !important;
    display: block;
    margin: 1px 0px;
  }
  .mat-menu-item:hover{
    background: var(--mouseHover-BackGroundColor);
  }
}



#NEWList {
  float: right;
  /*display: inline-flex;*/ /**Bug #36290: [V3 UI][Mozilla Firefox] create new list option is not aligned properly when add to list is selected in context menu.*/
  // margin : 6px 0px;
}

// #menu-list {
//   background-color: var(--sideHeader-BackGroundColor) !important;
//   max-height:218px !important;
// }

.mat-menu-item:hover {
  background-color: var(--mouseHover-BackGroundColor);
}

.common-menu-list{
  background-color: var(--sideHeader-BackGroundColor) !important;
  max-height:218px !important;
}

.classDesktopMenu {
  background: #333333;
  max-height: 218px !important;

}
.desktopmenuItems{
  color: white !important;
  .mat-menu-item {
    color: var(--form-value-Color);
    font-size: $prodValue-FontSize;
    font-family: $common-FontStyle;
    height: 30px;
    width: 100%;
    /*padding: 5px;*/
    line-height: normal !important;
    display: block;
    margin: 1px 0px;
  }
  .mat-menu-item:hover{
    background: #375a74;
  }
  .mat-menu-item-submenu-trigger{
    padding-right: 42px;
  }
}
#shortcutText{
  margin-left: 15px;
  color: gray;
  float:right;
}
