<div id="dberror" class="dberror">
  <div id="DeleteOption" class="DeleteOption" style="margin-left: 1.3vw;">
    DataBase Error.
  </div>
  <div id="icons" class="icons">

    <div id="btn1Div" class="btn1Div">
      <img class="addOnBtn1" src="wwwroot/images/AlThing UI Icon-Button Set v1/FDC_Close_Icon_Idle.svg" (click)="Cancel()" />
    </div>

  </div>

  <div id="dbAddNewFormContent">
    <div>
      <div style="padding:1.628vw;text-align:center;color:#FBB03B">
        There was a problem writing data to database!
        <p id="p1">The issue was reported and we're getting right on it.For more information, please contact our support</p>
      </div>
  
    </div>
  </div>
</div>

<!--<h2 mat-dialog-title>Sorry</h2>
<mat-dialog-content>
         Opps - It appears we had a problem writing data to (TenantName)'s database. We have made a note of the issue and we will be working on it very quickly. If you would like more information, please contact our support team in the help at the bottom right of your screen. 

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close] cdkFocusInitial>Ok</button>
</mat-dialog-actions>-->