<div  class="full-width" style="display:block">
          <div id="em-table-form">
            <div class="full-width" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0px grid">
              <div id="em-table-header-color">
                <div class="full-width">
                  <div id="em-table-header-struture" class="em-table-header-padding" fxFlex="20%"></div>
                  <div id="em-table-header-struture" class="em-table-header-padding" fxFlex="20%">SECURITY GROUP NAME</div>
                  <!--<div id="em-table-header-struture" class="em-table-header-padding" fxFlex="20%">ROLE</div>-->
                </div>
              </div>
              <!-- <cdk-virtual-scroll-viewport [itemSize]="27.9" minBufferPx="200" maxBufferPx="370" id="em-table-body">
              <div *cdkVirtualFor="let diArray of SecurityGroup;let index = index;" class="em-table-structure full-width">-->
              <div id="em-table-body">
                <div *ngFor="let diArray of SecurityGroup;let index = index;" class="em-table-structure full-width">
                  <div class="em-table-body-padding" fxFlex="20%"></div>
                  <div class="em-table-body-padding" fxFlex="20%"><mat-checkbox [(ngModel)]="diArray.Checked" (change)="ontogglechange($event,index,diArray)">{{diArray.EntityName}}</mat-checkbox></div>
                  <!--<div fxFlex="20%">
                    <mat-form-field appearance="none" class="width_for_select" [floatLabel]="'always'">
                      <mat-select class="read_only_for_select " disableOptionCentering panelClass="selectPanel matSelectPanelSize" [disabled]="'true'" [(ngModel)]="diArray.Role" [placeholder]="'Role'"
                                  (openedChange)="transformicon($event,index)" (selectionChange)="onSelctionChange($event,index,diArray)" multiple>
                        <mat-option *ngFor="let option of Roles|Alphabetic" [value]="option.EntityId ? option.EntityId : option">
                          {{option.EntityName ?option.EntityName :option }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>-->
                </div>
              </div>
              <!-- </cdk-virtual-scroll-viewport>-->
            </div>
          </div>
</div>
