@import "../../../../globals/theme.scss";

#em-table-form {
  height: 100%;
  font-size: 12px;
  color: white;
  width: calc(100% - 2px);
  display: inline-flex;
}


.em-table-structure {
  color: var(--form-value-Color) !important;
  font-family: $common-FontStyle;
}

.em-table-structure > div {
  height: 28px;
}

#em-table-header-struture {
  height: 32px;
  color: var(--form-value-Color);
  opacity: 0.5;
  font-size: 12px;
  white-space: nowrap;
  font-weight: 400;
  text-transform: uppercase;
   

}

#em-table-header-color {
  width: 100%;
  position: absolute;
}

#em-table-body {
  width: 100%;
  height: calc(100% - 32px);
  margin-top: 20px; //32px;
  margin-left: -1px;
  box-sizing: border-box;
  margin-bottom: 20px;//32px;
}

.read_only_for_select ::ng-deep .mat-select-value-text {
  color: var(--calculate-values);
}
.width_for_select ::ng-deep .mat-form-field-infix{
  width: 340px;
}
.em-table-header-padding {
  padding: 8px 0px;
}

.em-table-body-padding {
  padding: 10px 0px;
}
