/*@import './../template/LayoutComponents/leftsidebar/tree.component.styles.scss';*/

@import './theme.scss';

/* Background Colors */


$mainHeader-BackGroundColor: #232323;
$mainHeader-Opacity: 1;
$mainHeader-Hight: 42px;

$statusHeader-Width: 160px;
$statusHeader-BackGroundColor: #FFFFFF;
$statusHeader-Opacity: .01;
$statusHeader-Hight: 22px;   
$statusHeader-FontColor: #FFFFFF;
$statusHeader-FontOpacity: .4;
$statusHeader-FontSize: 10px;

$sideHeader-BackGroundColor: #323132;
$sideHeader-Opacity: 1;
$sideHeader-Width: 42px;

$sideContainer-BackGroundColor: #414041;
$sideContainer-Opacity: 1;
$sideContainer-Width: 234px;

$mouseHover-BackGroundColor: #318FD7;
$mouseHover-Opacity: .13;

$active-BackGroundColor: #318FD7;
$active-Opacity: .3;

$sideNode-Hight: 18px;
$sideNode-Opacity: .2;
$sideNode-LightBackGround: #FFFFFF;
$sideNode-DarkBackGround: #000000;
$sideNode-FontSize: 9px;

$border: 0.5 solid #000000;

$scroll-BackGround: #318FD7;
$scroll-Opacity: .2;
$scroll-Width: 42px;

$common-FontStyle: Roboto Regular;





$bg-color-primary-dark-footer: unquote('#231f20');
$bg-color-primary-dark-tool-con-hover: unquote('#948c8c42');
$bg-color-primary-dark-asset-select: unquote('#2d252505');
$bg-color-primary-dark-mat-select-option: unquote('#9a929282');

$bg-color-dark-header:unquote('#252323');
$bg-color-primary-dark-header: unquote('#222222');
$bg-color-secondary-dark-header: unquote('#323232');
$bg-color-secondary-dark-hover: unquote('#302F2F');
$bg-color-secondary-dark-focus: unquote('#383838');
$bg-color-primary-dark: unquote('#3B3B3B');
$bg-color-secondary-dark:unquote('white');
$bg-color-primary-dark-body: unquote('#2B2A2A');
// $bg-color-focus-highlighter: #318FD7;
$bg-color-focus-highlighter: unquote('#398DD3');

$bg-color-searchheader: unquote('#202020');

$bg-color-header: unquote('#222222');
$bg-color-header-menu: unquote('#323232');
$bg-color-side-tree: unquote('#2B2A2A');
$bg-color-side-tree-btn-hover: unquote('#302F2F');
$bg-color-side-tree-btn-focus: unquote('#383838');
$bg-color-sidebar-body: unquote('#1A1A1A');
$bg-color-searchfield-hint: unquote('#AAAAAA');
$bg-color-scrollbar: unquote('#656565');
$bg-color-side-tree-body: unquote('#3B3B3B');
$bg-color-tool: unquote('#F5F5F5');
$bg-color-toolbar: unquote('#363636');
$bg-color-palleteheader: unquote('#202020');
$bg-color-separator: unquote('#4F4F4F');
$bg-color-pallete: unquote('#424242');
$bg-color-footerbutton: unquote('#1b0b0b');
$bg-color-shapebody: unquote('#065196');
$bg-color-contextmenu: unquote('#d4d4d4');
$bg-color-addnew: unquote('skyblue');
$bg-color-scrollbarthumb: unquote('blue');
$bg-color-stroke: unquote('steelblue');
$bg-color-templink-stroke: unquote('red');
$bg-color-fill: unquote('#fff');
$bg-color-stroke-link: unquote('#ccc');
$bg-color-scrollbar-thumb: unquote('#86ABBA');
$bg-color-moreshapes: unquote('#383838');
$bg-color-box-shadow: unquote('#aaaaaa');
$bg-color-searchshape: rgba(255,255,255,0.5);
$bg-color-hoverimage: rgb(180, 180, 180);
$bg-color-verticalmenu-hover: unquote('#1c1f69');
$bg-color-webkit-scrollbar-track: unquote('#23437c');
$bg-color-webkit-box-shadow: rgba(0,0,0,0.3);
/*Right Click Menus Colors*/
$bg-color-rightclick-menu-Idle: unquote('#373737');
$bg-color-rightclick-menu-Hover: unquote('#5E5D5D');
$bg-color-rightclick-menu-Text: unquote('#FEFEFE');

/*Forms,LightBoxes,Popup Colors */
$bg-color-forms-header: #282828;
$bg-color-forms-body: #3A3A3A;
$bg-color-forms-text-color: #FEFEFE;
$bg-color-forms-opacity: 97%;

/*Icons Highlite*/
$bg-color-button-highlite: #338FD3;

$bg-color-button-search: aliceblue;

/* left Tree tabs Colors and Fonts*/
$bg-color-tabs-panel: #2B2A2A;
$bg-color-tabs-hover: #302F2F;
$bg-color-focused-tab: #383838;
$bg-color-focused-tab-highlighter: #318FD7;

$bg-color-tree-activity-btn: #3872BB;
$bg-color-tree-activity-btn-hover: #2D6390;
$bg-color-scrollbar-thumb: #232323;

$bg-color-header-router-hover: #0074BA;
$bg-color-primary: #23437A;
$bg-color-secondary: #3262A7;
$bg-color-tertiary: #17324D;
$bg-color-transparent: #FFFFFF;
$bg-color-container: #373737;
$bg-color-tooltip: #ddd;
$bg-color-tooltipborder: #aaa;
$bg-color-imagetooltip: #07275b;
$bg-color: #EEE;

/* Font Styling*/
$common-btn-content-color: white;
$common-text-color: #BDBDB0;
$common-text-color1: white;
$common-black-text-color: black;

$common-hoverimage-border: darkgreen;

$common-font-size: 1vw;
$font-family-primary: Myriad pro;
$font-family: sans-serif;
$font-family: Roboto Medium Italic;
$common-font-family: Arial;

$common-text-align: center;
$common-zindex-size: 5;
$common-position: absolute;
$common-position-secondary: relative;

$common-position-three: inherit;

$common-cursor: pointer;
$common-cursor-default: default;
$common-cursor-move: move;
$common-cursor-menu: context-menu;

$common-opacity: 1;
$common-overflow: scroll;
$common-overflow-both: hidden;
$common-overflow-x: hidden;
$common-overflow-y: scroll;
$common-float-right: right;
$common-visibility: visible;

$common-visibility-auto: auto;

$common-float-left: left;
$common-border-bottom: groove;
$font-style: Roboto Regular;
$font-regular-style: Robotic Regular;
$font-family-style: Roboto Thin;
$font-regular-style: Roboto Medium Italic;
$font-size: 16pt;
$opacity: 100%;
/* LeftPane Button Background Color */
$common-button-broder-radius: 0.2vw;
$pane-button-background-color: #17324D;
$pane-button-margin-top: 0.5vw;
$pane-button-border-radius: 1vw;
$pane-button-zindex: 10;
$pane-button-padding: 0px 1vw;

/* Header Buttons Styling */
$img_header_button_height: 2.5vw;
$img_header_button_width: 3vw;
$img_header_button_marginleft: 0.5vw;
$img_header_button_margintop: 0.8vw;
$img_header_button_outline: 0;

$fabric-header-margin-left: 3vw;

/*  Header Button ToolTips Css  */
$common_tooltip_zindex: 999;
$common_tooltip_top: 3.9vw;
$common_tooltip_bgcolor: #194982;
$common_tooltip_padding: 0.4vw;
$common_tooltip_fontsize: 1.2vw;

/* Search Bar CSS*/
$common-button-broder-radius: 0.2vw;
$common-border-temp: 1px solid #2A2B2B;
$filter-border-radius: 1vw;
$filter-border: 0.05vw solid rgba(255,255,255,0.5);

/* Display Properties*/
$common-display-flex: inline-flex;
$common-display: inline-block;

$common-display-table: inline-table;
$common-display-none: none;
$common-display-block: block;

/*assets properties*/
/*asset header properties*/
$header-border-color-latlong: #ebccd1;
$header-danger-value-color: #a94442;
$header-valid-value-color: #42A948;

/*asset overlay properties*/
$overlay-background-color: #da5555;

$bg-assetfabric-overlay-scrollbar-track: rgb(83, 95, 202);
$bg-assetfabric-overlay-scrollbar: #F5F5F5;
$bg-assetfabric-overlay-scrollbar-thumb: #c0bdbd;
$bg-assetfabric-overlay-scrollbar-thumb-hover: #171a50;
$bg-assetfabric-overlay-scroll-list: rgb(255, 255, 255);
$bg-assetfabric-overlay-list-header: rgb(7, 28, 61);
$bg-assetfabric-overlay-selectObjectItemHeader: #071c3d;

$border-thickness: 2pt;

$bg-drawingsfabric-contextmenu: #f5f5f5;


.cdk-overlay-dark-backdrop {
  background: #888 !important;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0.5 !important;
}

.mat-dialog-container {
  padding: 0vw !important;
}


.mySnackbar {
  color: #3784C2;
  text-align: center;
  background-color: rgba(192,192,192, 0.4);
}

.loadingSnackbar {
  margin-top: 3.9vw !important;
  width: 37vw;
  height: 20vw;
  color:black;
  /*background-color: black !important;*/
}

.Error-snackbar {
  margin-top: 3.9vw !important;
  width: 37vw;
  height: 20vw;
  /*overflow: scroll !important;*/
  background-color: #333333 !important;
  color: white !important;
}


#multi-view-container[_ngcontent-c32] {
  width: 100%;
  height: 101%;
  position: absolute;
  z-index: 3;
}




.icon21-21 {
  width: 21px;
  height: 21px;
}

.icon21-17 {
  width: 21px;
  height: 12.47px;
}

.icon21-19 {
  width: 21px;
  height: 19.28px;
}

.icon21-15 {
  width: 21px;
  height: 15.39px;
}

.icon21-14 {
  width: 21px;
  height: 14.32px;
}

.icon16-21 {
  width: 16px;
  height: 21px;
}

.icon18-21 {
  width: 18.11px;
  height: 21px;
}

.icon17-21 {
  width: 16.91px;
  height: 21px;
}

.icon21-20 {
  width: 21px;
  height: 20px;
}

.icon100-30 {
  width: 100px;
  height: 30px;
}


