.layout {
  --border-content-lines: #595757;
  --mainHeader-BackGroundColor: #232323;
  --mainHeader-Opacity: 1;
  --statusHeader-BackGroundColor: #FFFFFF;
  --statusHeader-Opacity: .01;
  --statusHeader-FontColor: #FFFFFF;
  --statusHeader-FontOpacity: .4;
  --sideHeader-BackGroundColor: #323132;
  --sideHeader-Opacity: 1;
  --sideContainer-BackGroundColor: #414041;
  --sideContainer-Opacity: 1;
  --mouseHover-BackGroundColor: rgba(49, 143, 215, 0.3);
  --mouseHover-Opacity: .13;
  --active-BackGroundColor: #318FD7;
  --active-Opacity: .3;
  --sideNode-Opacity: .2;
  --sideNode-LightBackGround: rgba(255, 255, 255, 0.2);
  --sideNode-DarkBackGround: rgba(0, 0, 0, 0.2);
  --scroll-BackGround: #318FD7;
  --scroll-Opacity: .2;
  --gas-BackGround: #A95760;
  --condy-BackGround: #437489;
  --water-BackGround: #728D99;
  --ngl-BackGround: #866390;
  --propane-BackGround: #8D519E;
  --butane-BackGround: #996AA6;
  --pentane-BackGround: #624969;
  --oil-BackGround: #698979;
  --fluid-BackGround: #766852;
  --sand-BackGround: #8B8B69;
  --prod-value-background: #ffffff;
  --form-value-Color: #ffffff;
  --form-Title-Color: #73BFF3;
  --load-color: #c7781a;
  --unload-color: #1fa232;
  --active-checkbackground-color: gray;
  --icon-value-color: #FFFFFF;
  --icon-theme-value-color: #FFFFFF;
  --OilWell-icon-value-color: #009245;
  --disposal-icon-value-color: #319AF0; }

.bg-color:nth-of-type(odd) {
  background-color: var(--sideNode-LightBackGround); }

.bg-color:nth-of-type(even) {
  background-color: var(--sideNode-DarkBackGround); }

.map-footer-panel.mat-select-panel {
  margin: 19px 1px !important; }

.mat-select-placeholder {
  color: var(--form-value-Color) !important;
  opacity: 0.5;
  /*caret-color: var(--form-value-Color) !important;*/ }

.mat-slider-horizontal .mat-slider-wrapper {
  top: 10px !important; }

.mat-paginator-container {
  min-height: 0px !important; }

.mat-menu-content:not(:empty) {
  padding-top: 0px !important;
  padding-bottom: 0px !important; }

.mat-expansion-panel-spacing {
  margin: 0px !important; }

.mat-calendar-body-selected {
  background-color: var(--active-BackGroundColor) !important;
  color: var(--form-value-Color) !important; }

.mat-select-arrow {
  color: var(--form-value-Color) !important; }

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: var(--active-BackGroundColor) !important; }

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: var(--form-value-Color) !important; }

.mat-slide-toggle .mat-slide-toggle-thumb {
  background-color: #7D7D7D !important; }

.mat-slide-toggle .mat-slide-toggle-bar {
  background-color: var(--mainHeader-BackGroundColor) !important; }

.mat-slide-toggle-bar {
  width: 30px !important;
  height: 7px !important; }

/*::-webkit-scrollbar {
  display: none; }*/

.mat-slide-toggle-thumb {
  height: 15px !important;
  width: 15px !important;
  margin: -1px 0px; }

.mat-slide-toggle-persistent-ripple, .mat-slide-toggle.mat-disabled .mat-slide-toggle-bar:hover .mat-slide-toggle-persistent-ripple {
  opacity: 0 !important;
  display: none !important; }

.mat-step-header.cdk-keyboard-focused, .mat-step-header.cdk-program-focused, .mat-step-header:hover {
  background-color: transparent !important; }

.mat-expansion-panel-body {
  padding: 0 10px 5px 22px !important; }

.mat-expansion-panel-header {
  padding: 0 10px 0 0px !important; }

.mat-step-header {
  width: 100% !important; }

.mat-step-icon {
  display: none !important; }

.mat-stepper-horizontal-line {
  display: none !important; }

.mat-expansion-panel-content {
  height: 100%;
  /*background: var(--sideContainer-BackGroundColor) !important;*/ }

.mat-step-header .mat-step-label.mat-step-label-active {
  color: var(--form-value-Color) !important;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-family: Roboto Regular !important; }

.mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: transparent !important; }

.mat-progress-bar-fill::after {
  background-color: var(--active-BackGroundColor) !important; }

.mat-progress-bar-buffer {
  background-color: var(--form-value-Color) !important; }

.mat-horizontal-stepper-header {
  height: 42px !important; }

.mat-dialog-container {
  padding: 0px !important;
  overflow: hidden !important; }

.mat-menu-panel {
  min-width: 30px !important; }

.menu-icon-list {
  background-color: var(--sideHeader-BackGroundColor) !important;
  margin: -36px 30px 10px 0px !important;
  height: 30px; }

.mat-form-field-wrapper {
  padding: 0 !important; }

form {
  margin: 0px !important; }

.mat-form-field-underline {
  display: none !important; }

.mat-grid-tile .mat-figure {
  align-items: inherit !important;
  justify-content: initial !important; }

.mat-table {
  background: none !important; }

.bg-color:nth-of-type(odd) {
  background-color: var(--sideNode-LightBackGround); }

.bg-color:nth-of-type(even) {
  background-color: var(--sideNode-DarkBackGround); }

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.33em) scale(1) !important; }

.mat-slide-toggle .mat-slide-toggle-ripple {
  display: none !important; }

.mat-datepicker-content {
  background-color: var(--sideHeader-BackGroundColor) !important;
  color: var(--form-value-Color) !important; }

.mat-calendar-body-cell-content, .mat-calendar-body-label {
  color: var(--form-value-Color) !important; }

.mat-select-placeholder {
  color: var(--form-value-Color) !important;
  opacity: 0.5;
  caret-color: var(--form-value-Color) !important; }

.mat-active {
  background-color: var(--mouseHover-BackGroundColor) !important; }

.mat-optgroup-label {
  line-height: normal !important;
  font-size: 12px;
  height: 15px !important;
  padding: 5px !important;
  color: var(--form-value-Color) !important; }

.mat-option-text {
  line-height: normal !important;
  font-size: 10px;
  height: 15px !important;
  padding: 5px !important; }

.mat-menu-content {
  padding: 0px !important; }

.mat-option {
  height: auto !important;
  padding: 0px !important;
  color: var(--form-value-Color) !important; }

.mat-autocomplete-panel {
  background-color: var(--mainHeader-BackGroundColor) !important; }

.mat-select-panel {
  background-color: var(--mainHeader-BackGroundColor) !important; }

.mat-dialog-container {
  background-color: var(--sideContainer-BackGroundColor) !important; }

.mat-option-text:hover {
  background-color: var(--mouseHover-BackGroundColor); }

.scroll-overflow {
  overflow: auto; }

.textcolor {
  fill: var(--form-value-Color); }

.non-bg {
  background: transparent !important; }

.input-area {
  width: 100%;
  min-width: 40%;
  display: inline-flex; }

.cust-input {
  max-width: 100%;
  padding: 0px 0px; }

.title-label {
  width: 100%;
  font-size: 10px;
  color: var(--form-Title-Color); 
  cursor: default;
}

.active {
  box-sizing: border-box;
  border-bottom: 2px solid var(--active-BackGroundColor); }

input::-webkit-input-placeholder {
  color: var(--form-value-Color);
  opacity: 0.5; }

input::-moz-placeholder {
  color: var(--form-value-Color);
  opacity: 0.5; }

input:-ms-input-placeholder {
  color: var(--form-value-Color);
  opacity: 0.5; }

input::placeholder {
  color: var(--form-value-Color);
  opacity: 0.5; }

#close :hover {
  background-color:#7A1F20; }

input {
  width: 100%;
  border: none;
  color: var(--form-value-Color) !important;
  font-size: 12px !important;
  background-color: transparent;
  padding: 2px 0px;
  caret-color: var(--form-value-Color) !important; }

.text-color {
  color: var(--mainHeader-BackGroundColor) !important;
  font-size: 17px !important;
  font-weight: bolder !important;
  background-color: whitesmoke !important; }

input:focus {
  border: none;
  color: var(--form-value-Color);
  background-color: transparent;
  outline: none; }

.unit-label {
  max-width: 20%;
  color: var(--form-value-Color);
  opacity: 0.5;
  padding: 2px 2px 2px 10px;
  font-size: 10px;
  margin-left: 0px;

}

.entity-label {
  color: var(--form-value-Color);
  padding: 2px;
  font-size: 12px;
  white-space: nowrap; }

.icon-img {
  width: 22px;
  height: 22px;
  margin: 17px; }

.mat-img {
  width: 22px;
  height: 22px;
  margin: 8px 5px;
  cursor: pointer;
  float: right; }

.mat-img path.st0 {
  color: var(--icon-theme-value-color); }

.mat-icon {
  color: var(--icon-theme-value-color); }

.calculateTextColor {
  color: green !important; }

.inline-flex-display {
  display: inline-flex; }

.inline-block-display {
  display: inline-block; }

.calenderIcon {
  width: 20px;
  height: 20px; }

.type-contaniner {
  width: 100%; }

.form-field {
  max-width: 80%;
  min-width: 40%;
  height: 42px;
  color: var(--form-value-Color) !important;
  font-size: 12px; }

.float-label {
  color: var(--form-Title-Color) !important;
  font-size: 10px;
  cursor: default;
}

.form-button {
  width: 80%;
  border: none;
  margin: 2px 10%;
  font-size: 12px;
  background-color: var(--active-BackGroundColor); }

.btn-img {
  width: 90%;
  margin: 2px 5%;
  text-align: center;
  outline: none;
  cursor: pointer; }

.btn {
  width: 95%;
  padding: 8px 0px;
  border-radius: 4px;
  text-align: center;
  background-color: transparent;
  font-size: 10px;
  border: 0.5px solid;
  color: var(--form-value-Color);
  cursor: pointer;
  text-transform: uppercase;
  outline: none; }

.btn:hover {
  background-color: var(--active-BackGroundColor); }

.float-r {
  float: right; }

.float-l {
  float: left; }

.vertical-align {
  padding: 5px 0px; }

.error {
  color: red !important; }

.center-align {
  text-align: center;
  margin: 0px 2px; }

.right-align {
  text-align: right; }

.left-align {
  text-align: left; }

.Gas {
  background-color: var(--gas-BackGround); }

.Fluid {
  background-color: var(--fluid-BackGround); }

.Candy {
  background-color: var(--condy-BackGround); }

.Condy {
  background-color: var(--condy-BackGround); }

.Oil {
  background-color: var(--oil-BackGround); }

.Sand {
  background-color: var(--sand-BackGround); }

.Water {
  background-color: var(--water-BackGround); }

.NGL {
  background-color: var(--ngl-BackGround); }

.error-indicatior {
  width: 4px;
  height: auto;
  left: 0px; }

.Name {
  padding: 8px 0px !important; }

.units-label {
  color: white;
  font-size: 12px;
  padding: 0px 0px 0px 10px; }

.multi-select {
  width: 100%; }

.full-width {
  width: 100%; 
  cursor: default;
}

.full-height {
  height: 100%; }

.margin-l {
  margin-left: 46.08px; }

.m-left {
  margin-left: 30.72px; }

.save-close-button {
  position: absolute;
  width: 30.72px; }

.overflow-h {
  overflow: hidden; }

.full-view {
  width: 100%;
  height: 100%; }

.label {
  color: var(--statusHeader-FontColor);
  margin-left: 30.72px;
  padding-top: 30.72px;
  font-size: 1.2vw; }

.node-content-wrapper-focused {
  background-color: var(--active-BackGroundColor); }

.header-form {
  width: calc(100% - 0.5px);
  height: 42px;
  position: absolute;
  background-color: var(--sideHeader-BackGroundColor);
  border-bottom: 0.5px solid var(--mainHeader-BackGroundColor); }

.bigdata-stepper-form .mat-horizontal-stepper-header-container {
  background-color: var(--sideHeader-BackGroundColor) !important;
  width: 100% !important; }

.bigdata-stepper-form .mat-horizontal-content-container {
  padding: 0 0px 0px 0px !important; }

.bigdata-mat-expansion-panel .mat-expansion-panel-body {
  padding: 0 0px 0px 0px !important; }

.mat-select-value-text {
  color: var(--form-value-Color) !important; }

.bigdata-mat-option .mat-option-text {
  background-color: var(--sideContainer-BackGroundColor) !important; }

.atcolor {
  color: var(--active-BackGroundColor); }

.mat-tooltip {
  background-color: var(--mainHeader-BackGroundColor) !important;
  color: var(--form-value-Color) !important; }

.mat-pseudo-checkbox {
  background-color: var(--active-checkbackground-color) !important; }

.IconColor {
  color: var(--icon-value-color);
  margin-top: 8px;
  margin-right: 2px;
  height: 22px;
  width: 22px; }

.st0 {
  fill: var(--icon-theme-value-color) !important;
  stroke: var(--icon-theme-value-color) !important;
  stroke-width: 0px !important; }

.cls-1 {
  /*fill: none;*/
  stroke: var(--icon-theme-value-color) !important;
  /*stroke-miterlimit: 10;*/ }

.globalScroll .ng-scrollbar-view {
  max-height: 294px !important; }

/* Background Colors */
/*Right Click Menus Colors*/
/*Forms,LightBoxes,Popup Colors */
/*Icons Highlite*/
/* left Tree tabs Colors and Fonts*/
/* Font Styling*/
/* LeftPane Button Background Color */
/* Header Buttons Styling */
/*  Header Button ToolTips Css  */
/* Search Bar CSS*/
/* Display Properties*/
/*assets properties*/
/*asset header properties*/
/*asset overlay properties*/
.cdk-overlay-dark-backdrop {
  background: #888 !important; }

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0.5 !important; }

.mat-dialog-container {
  padding: 0vw !important; }

.mySnackbar {
  color: #3784C2;
  text-align: center;
  background-color: rgba(192, 192, 192, 0.4); }

.loadingSnackbar {
  margin-top: 3.9vw !important;
  width: 37vw;
  height: 20vw;
  color: black;
  /*background-color: black !important;*/ }

.Error-snackbar {
  margin-top: 3.9vw !important;
  width: 37vw;
  height: 20vw;
  /*overflow: scroll !important;*/
  background-color: #333333 !important;
  color: white !important; }

.icon21-21 {
  width: 21px;
  height: 21px; }

.icon21-17 {
  width: 21px;
  height: 12.47px; }

.icon21-19 {
  width: 21px;
  height: 19.28px; }

.icon21-15 {
  width: 21px;
  height: 15.39px; }

.icon21-14 {
  width: 21px;
  height: 14.32px; }

.icon16-21 {
  width: 16px;
  height: 21px; }

.icon18-21 {
  width: 18.11px;
  height: 21px; }

.icon17-21 {
  width: 16.91px;
  height: 21px; }

.icon21-20 {
  width: 21px;
  height: 20px; }

.icon100-30 {
  width: 100px;
  height: 30px; }
