@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import '~@angular/material/_theming.scss';
@import '~ion-rangeslider/css/ion.rangeSlider.css';
@import '~ion-rangeslider/css/ion.rangeSlider.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@visur/ngx-datatable/themes/material.css';
@import "~@ng-select/ng-select/themes/material.theme.css";

$default-font: 'Open Sans', sans-serif;

$commonPosition: absolute;
$mainHeader-Height: 42px;
$statusHeader-Width: 160px;
$statusHeader-Height: 22px;
$statusHeader-FontSize: 10px;
$sideHeader-Width: 42px;
$sideContainer-Width: 234px;
$sideNode-Height: 18px;
$sideNode-FontSize: 11px;
$iconHover-Height: 42.2px;
$border: 0.5px solid #000000;
$border-1px: 1px solid #000000;
$formHeaderIcon-Height: 41px;
$formHeaderIcon-Width: 42px;

$scroll-Width: 42px;
$common-FontStyle: Roboto Regular;
$prodValue-FontSize: 14px;
$prodValue-Height: 32px;
$prodTitle-FontSize: 11px;
$proration-FontSize: 13px;
$formValue-FontSize: 12px;
$formTitle-FontSize: 10px;
$formNode-Height: 42px;
$formMiddle-Header: 85px;
$dataEntry-Middle-header: 117px;
$form-title-fontsize: 14px;
$toggle-Width: 10.5px;
$box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
$grey-color: #7A7A7A;
$default-tooltip-backgroundcolor: #7D7D7D;
$attention-message-fontsize: 20px;
$attention-message-color: #F1BB51;
$popop-border-color: 0.5px solid #312f2f;

// ngx-datatable // New Form generator related
$ngx-datatable-row-even-background-color: #FFFFFF !important;
$ngx-datatable-row-odd-background-color: #D9D9D9 !important;
$ngx-datatable-row-left-background-color: inherit !important;
$absolute-position: absolute;
$main-header-height: 42px;
$status-header-width: 160px;
$status-eader-height: 22px;
$status-header-fontSize: 10px;
$side-header-width: 42px;
$side-container-width: 234px;
$side-node-height: 18px !important;
$side-node-fontSize: 11px;
$icon-hover-height: 42.2px;
$border: 0.5px solid #000000;
$border-1px: 1px solid #000000;
$form-header-icon-height: 41px;
$form-header-icon-width: 42px;
$scroll-width: 42px;
$common-font-style-regular: Roboto Regular !important;
$common-font-style-medium: Roboto medium !important;
$form-field-label-font-size: 20px !important;
$form-field-font-size: 22px !important;
$float-right: right;
$input-element-placeholder-color: gray !important;
$form-input-field-text-align-center: center !important;
$form-input-field-text-align-left: left !important;
//Menu && Main Header
$header-height: 35px;
// $header-font-size: 20px;
$menu-height:  18px;
$ngx-datatable-row-odd-background: #D9D9D9 !important;

$ul-li-font-size:  18px !important;
$header_icon-margin-top: -15px;
$visur_logo-height: 60px;
$visur_logo-width: 60px;
$visur_logo-margin-top: 0px;
$visur_logo-padding-left: 89px;
$visur_name-height: 16px;
$visur_name-text-align: center;
$visur_name-font-weight: 400;
$visur_name-font-size: 12px;
$visur_name-padding-left: 0px;
$visur_construction-text-align: center;
$visur_construction-line-height: 0px;
$visur_construction-margin-top: 5px;
$visur_construction-font-size: 15p;
$visur_construction-padding-bottom: 10px;
$visur_construction-font-weight: 400;
$sub-item-padding-left: 30px;
$rightnav_label-font-size: 15px;
$project_icon-margin: 0 10px 0 0;
$project_icon-height:  15px;
$project_icon-width:   15px;
$rightnavnode-height:34px;
$rightnavnode-padding-left: 4px;
$rightnav_label-font-size:15px;
$label-font-size:15px;

/** materials variable*/
$mat-expansion-panel-header-height:40px !important;
$mat-expansion-panel-header-padding : 0px 30px !important;
$subHeader_height:40px;
$breadcrumb_li_font-size: 25px;
$ul_breadcrumb_margin: -5px;
$ul_breadcrumb_text-align: left;
$ul_breadcrumb_font-family: Roboto Regular;
$header-height: 40px;
$menu-height: 18px;
$menu-width: 18px;
$headerTitle_padding-bottom: 30px;
$subHeader_height: 40px;
$v_icon_height:18px;
$v_icon_width:18px;
$v_icon_padding : 0px 0px 26px 25px;
$login-input_width:205px;
$login-input_font-size:15px;
$login-button_font-size: 18px;
$login-button_font-family: Roboto Regular;
$login-button_width: 70px;
$login-button_height:32px;
$login-button_margin: 15px 0 0 115px;
$visurLogo_Login_padding: 1px 0px 0px 0px;
$visurLogo_Login_height: 155px;
$error_msg_font-size: 18px;
$visurLogo_Login-margin-top: 250px;
$mat-expansion-indicator-after-padding: 5px !important;
$button-row-padding:5px 0 20px!important;
$ngx-datatable-after-margin-top: 1px;
$datatable-body-cell-label-margin-left: 10px !important;
$ng-value-container-border-top: 0px;
$ng-placeholder-margin-top: 0px !important;
$ng-select-clear-font-size:36px;
$ng-select-clear-padding-top: 11px;
$mat-form-field-font-size: 15px;
$mat-raised-button-line-height:30px;
$mat-raised-button-padding: 0 20px;
$node-wrapper-height:36px;
$content-font-size:18px;
$image-background-light: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3C!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='15px' y='15px' viewBox='0 0 21 21' style='enable-background:new 0 0 21 21;' xml:space='preserve'%3E%3Cg id='Layer_1'%3E%3C/g%3E%3Cg id='Layer_2'%3E%3Cg%3E%3Cpath d='M9.2,8v4.3H4.8V8H9.2 M9.9,7.3H4.1V13h5.7V7.3L9.9,7.3z'/%3E%3Cpath d='M21,3.2L21,3.2L21,0H0v21h21V3.9h0V3.2z M20.3,0.7v2.5H0.7V0.7H20.3z M20.3,20.3H0.7V3.9h19.6V20.3z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

// default colors
.layout {
  --loadFluid-BackGroundColor: #2D2C2D;
  --Hover-BackGround: #4B4A4B;
  --defaultmainHeader-BackGroundColor: #232323;
  --titleColor: #ffffff;
  --popUpHeader-BackGroundColor: #323132;
  --border-content-lines: #595757;
  --mainHeader-BackGroundColor: #232323;
  --mainHeader-Opacity: 1;
  --statusHeader-BackGroundColor: #FFFFFF;
  --statusHeader-Opacity: .01;
  --statusHeader-FontColor: #FFFFFF;
  --statusHeader-FontOpacity: .4;
  --sideHeader-BackGroundColor: #323132;
  --sideHeader-Opacity: 1;
  --sideContainer-BackGroundColor: #414041;
  --sideContainer-Opacity: 1;
  --mouseHover-BackGroundColor: rgba(49, 143, 215, 0.3);
  --mouseHover-Opacity: 0.13;
  --active-BackGroundColor: #3B586E;
  --active-Opacity: 0.3;
  --sideNode-Opacity: 0.2;
  --sideNode-LightBackGround: rgba(255,255,255,0.02);
  --sideNode-DarkBackGround: #3A3A3A;
  --scroll-BackGround: #3A6F9A;
  --scroll-Opacity: .2;
  --gas-BackGround: #A95760;
  --condy-BackGround: #437489;
  --water-BackGround: #728D99;
  --ngl-BackGround: #866390;
  --propane-BackGround: #8D519E;
  --butane-BackGround: #AB7BB8;
  --pentane-BackGround: #624969;
  --oil-BackGround: #698979;
  --fluid-BackGround: #766852;
  --sand-BackGround: #8B8B69;
  --sulphur-BackGround: #B09199;
  --prod-value-background: #ffffff;
  --form-value-Color: #ffffff;
  --form-Title-Color: #73BFF3;
  --load-color: #c7781a;
  --form-lebal-text-shadow: 0, 0, 1px #000000;
  --unload-color: #1fa232;
  --active-checkbackground-color: gray;
  --icon-value-color: #FFFFFF;
  --icon-theme-value-color: #FFFFFF;
  --disable-capability-icon-theme-value-color: #676667;
  --OilWell-icon-value-color: #009245;
  --disposal-icon-value-color: #319AF0;
  --footer-background-value-color: rgba(0,0,0,0.5);
  --calculate-values: #335238;
  --black-white-theme-color: #000000;
  --filter-border-color: #E6E6E6;
  --select-option: #375a74;
  --description-background-color: #5c5c5c;
  --tooltip-color: #7D7D7D;
  --desktop-shortcut-color: #7D7D7D;
  --desktop-header-color: #1c1c1c;
  --error-color: #b66666;
  --negativeValueColor: #eb0c0c;
  --collaboration-backgroundColor: #A2A2A2;
  --map-timeline-background: rgba(0, 0, 0, 0.8);
  --map-tooltip-background: #7D7D7D;
  --formHeader-BackGroundColor: #323132;
  --filter-BackGroundColor: #363636;
  --multiday-value-datecolor: #8D8C8D;
  --multiday-value-rotatedcolor: #ffffff;//#8D8C8D;
  --multiday-values-digitcolor: #000000;
  --multidayentry-backgroundColor-gas: #504445;
  --multidayentry-backgroundColor-condy: #414648;
  --multidayentry-backgroundColor-oil: #414649;
  --multidayentry-backgroundColor-water: #46484A;
  --multidayentry-backgroundColor-sand: #4C4B47;
  --multidayentry-backgroundColor-ngl: #564E58;
  --multidayentry-backgroundColor-propane: #625366;
  --multidayentry-backgroundColor-butane: #6B5273;
  --multidayentry-backgroundColor-pentane: #5B515E;
  --multidayentry-vertical-line-gas: 6px solid #Ad5760;
  --multidayentry-vertical-line-condy: 6px solid #426675;
  --multidayentry-vertical-line-oil: 6px solid #494E4B;
  --multidayentry-vertical-line-water: 6px solid #657881;
  --multidayentry-vertical-line-sand: 6px solid #78775e;
  --multidayentry-vertical-line-ngl: 6px solid #866390;
  --multidayentry-vertical-line-propane: 6px solid #8D519E;
  --multidayentry-vertical-line-butane: 6px solid #996AA6;
  --multidayentry-vertical-line-pentane: 6px solid #624969;
  --ZoomRefreshButtonPosition-BackgroundColor:#2B2A2B;
  --subzoompercent-BackgroundColor:#1A191A;
  --subzoompercent-Color:#FFFFFF;
  --zoombutton-hover-color:#555555;
  --datatable-body-active:#375A74;
  --button-group-checked-unchecked:white;
  --ngselect-box-shadow:rgba(0,0,0,0.2);
  --toggle-bar: rgba(0,0,0,.38);
  --form-body-bg-color:#ffffff;
  --background-image-color:$image-background-light;
  --table-header-bg-color:#2F2F2F;
  --font-color:black;
  --table-row-even-color: #FFFFFF;
  --ion-background-color:white;
  --table-row-odd-color: #D9D9D9;
  --ion-ep-header-background-color:#F3F3F3;
}

$variables: (--ion-ep-header-background-color:var(--ion-ep-header-background-color),--table-row-odd-color:var(--table-row-odd-color),--ion-background-color:var(--ion-background-color),--table-row-even-color:var(--table-row-even-color),--font-color:var(--font-color),--image-color:var(--image-color),--table-header-bg-color:var(--table-header-bg-color),--form-body-bg-color:var(--form-body-bg-color),--background-image-color:var(--background-image-color),--toggle-bar:var(--toggle-bar),--ngselect-box-shadow:var(--ngselect-box-shadow),--button-group-checked-unchecked:var(--button-group-checked-unchecked),--datatable-body-active:var(--datatable-body-active),--subzoompercent-Color:var(--subzoompercent-Color),--zoombutton-hover-color:var(--zoombutton-hover-color),--ZoomRefreshButtonPosition-BackgroundColor:var(--ZoomRefreshButtonPosition-BackgroundColor),--subzoompercent-BackgroundColor:var(--subzoompercent-BackgroundColor),--multiday-values-digitcolor:var(--multiday-values-digitcolor), --multiday-value-rotatedcolor:var(--multiday-value-rotatedcolor), --multidayentry-vertical-line-gas:var(--multidayentry-vertical-line-gas),--multidayentry-backgroundColor-oil:var(--multidayentry-backgroundColor-oil), --multidayentry-vertical-line-oil:var(--multidayentry-vertical-line-oil), --multidayentry-backgroundColor-ngl:var(--multidayentry-backgroundColor-ngl), --multidayentry-vertical-line-ngl:var(--multidayentry-vertical-line-ngl), --multidayentry-backgroundColor-propane:var(--multidayentry-backgroundColor-propane), --multidayentry-vertical-line-propane:var(--multidayentry-vertical-line-propane), --multidayentry-backgroundColor-butane:var(--multidayentry-backgroundColor-butane), --multidayentry-vertical-line-butane:var(--multidayentry-vertical-line-butane), --multidayentry-backgroundColor-pentane:var(--multidayentry-backgroundColor-pentane), --multidayentry-vertical-line-pentane:var(--multidayentry-vertical-line-pentane), --multidayentry-vertical-line-condy:var(--multidayentry-vertical-line-condy), --multidayentry-vertical-line-water:var(--multidayentry-vertical-line-water), --multidayentry-vertical-line-sand:var(--multidayentry-vertical-line-sand), --multiday-value-datecolor:var(--multiday-value-datecolor), --multidayentry-backgroundColor-water:var(--multidayentry-backgroundColor-water), --multidayentry-backgroundColor-sand:var(--multidayentry-backgroundColor-sand), --multidayentry-backgroundColor-condy:var(--multidayentry-backgroundColor-condy), --multidayentry-backgroundColor-gas: var(--multidayentry-backgroundColor-gas), --negativeValueColor : var(--negativeValueColor), --map-tooltip-background: var(--map-tooltip-background), --map-timeline-background: var(--map-timeline-background), --form-lebal-text-shadow: var(--form-lebal-text-shadow), --error-color: var(--error-color), --collaboration-backgroundColor: var(--collaboration-backgroundColor), --select-option: var(--select-option), --desktop-shortcut-color: var(--desktop-shortcut-color), --desktop-header-color:var(--desktop-header-color), --tooltip-color: var(--tooltip-color), --description-background-color: var(--description-background-color), --filter-border-color : var(--filter-border-color), --black-white-theme-color:var(--black-white-theme-color), --calculate-values: var(--calculate-values), --border-content-lines:var(--border-content-lines), --unload-color:var(--unload-color), --load-color:var(--load-color), --oil-BackGround: var(--oil-BackGround), --fluid-BackGround: var(--fluid-BackGround), --sand-BackGround: var(--sand-BackGround), --sulphur-BackGround:var(--sulphur-BackGround), --mainHeader-BackGroundColor: var(--mainHeader-BackGroundColor), --mainHeader-Opacity : var(--mainHeader-Opacity), --statusHeader-BackGroundColor: var( --statusHeader-BackGroundColor), --statusHeader-Opacity: var(--statusHeader-Opacity), --statusHeader-FontColor: var(--statusHeader-FontColor), --statusHeader-FontOpacity: var(--statusHeader-FontOpacity), --statusHeader-FontSize: var(--statusHeader-FontSize), --sideHeader-BackGroundColor: var(--sideHeader-BackGroundColor), --formHeader-BackGroundColor:var(--formHeader-BackGroundColor), --sideHeader-Opacity: var(--sideHeader-Opacity), --sideHeader-Width: var(--sideHeader-Width), --sideContainer-BackGroundColor: var(--sideContainer-BackGroundColor), --sideContainer-Opacity: var(--sideContainer-Opacity), --sideContainer-Width: var(--sideContainer-Width), --mouseHover-BackGroundColor: var(--mouseHover-BackGroundColor), --mouseHover-Opacity: var(--mouseHover-Opacity), --active-BackGroundColor: var(--active-BackGroundColor), --active-Opacity: var(--active-Opacity), --sideNode-Height: var( --sideNode-Height), --sideNode-Opacity: var(--sideNode-Opacity), --sideNode-LightBackGround: var(--sideNode-LightBackGround), --sideNode-DarkBackGround: var(--sideNode-DarkBackGround), --sideNode-FontSize: var(--sideNode-FontSize), --border: var(--border), --scroll-BackGround: var(--scroll-BackGround), --scroll-Opacity: var(--scroll-Opacity), --scroll-Width: var(--scroll-Width), --common-FontStyle: var(--common-FontStyle), --gas-BackGround: var(--gas-BackGround), --condy-BackGround: var(--condy-BackGround), --water-BackGround: var(--water-BackGround), --ngl-BackGround: var(--ngl-BackGround), --propane-BackGround: var(--propane-BackGround), --pentane-BackGround: var(--pentane-BackGround), --butane-BackGround: var(--butane-BackGround), --form-Title-Color: var(--form-Title-Color), --form-value-Color: var(--form-value-Color), --icon-value-color :var(--icon-value-color), --icon-theme-value-color:var(--icon-theme-value-color), --Well-icon-value-color: var(--Well-icon-value-color), --OilWell-icon-value-color : var(--OilWell-icon-value-color), --active-checkbackground-color:var(--active-checkbackground-color), --disposal-icon-value-color: var(--disposal-icon-value-color), --footer-background-value-color: var(--footer-background-value-color), --filter-BackGroundColor:var(--filter-BackGroundColor),--popUpHeader-BackGroundColor: var(--popUpHeader-BackGroundColor), --titleColor : var(--titleColor), --defaultmainHeader-BackGroundColor :var(--defaultmainHeader-BackGroundColor),--Hover-BackGround :var(--Hover-BackGround), --loadFluid-BackGroundColor :var(--loadFluid-BackGroundColor),--background-dropdown :var(--background-dropdown),--text-hint:var(--text-hint),--table-separator:var(--table-separator),--background-table-header:var(--background-table-header),--table-body-even:var(--table-body-even),--table-body-odd:var(--table-body-odd),--hover-table-data:var(--hover-table-data));


// grabs the native css variable from the global sass map
@function var($variable) {
  @return map-get($variables, $variable);
}

.snackBarPopUp {
  background-color: var(--sideContainer-BackGroundColor);
  color: var(--form-value-Color) !important
}


// .bg-color:nth-of-type(even) {
//   background-color: var(--sideNode-DarkBackGround);
// }

.map-footer-panel.mat-select-panel {
  margin: 19px 1px !important;
}

.mat-select-placeholder {
  color: var(--form-value-Color) !important;
  opacity: 0.2;
}

.ng-placeholder {
  color: var(--form-value-Color) !important;
  opacity: 0.4;
}

input::placeholder {
  color: var(--form-value-Color) !important;
  opacity: 0.2;
}

.RedPlaceholderClass .ng-placeholder {
  color: var(--error-color) !important;
  opacity: 1;
}

.mat-slider-horizontal .mat-slider-wrapper {
  top: 10px !important;
}

.mat-paginator-container {
  min-height: 0px !important;
}
.textSelectionDBClickRestict {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.map-footer-component{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mat-menu-content:not(:empty) {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.mat-expansion-panel-spacing {
  margin: 0px !important;
}

.mat-calendar-body-selected {
  background-color: var(--active-BackGroundColor) !important;
  color: var(--form-value-Color) !important;
}

.mat-select-arrow {
  color: rgba(255,255,255,.5) !important;
  transform: rotateX(0deg) !important;
  will-change: transform;
  color  : var(--icon-theme-value-color) !important;

}

.mat-checkbox-inner-container {
  background-color: var(--defaultmainHeader-BackGroundColor) !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: var(--active-BackGroundColor) !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: var(--form-value-Color) !important;
}

.mat-slide-toggle .mat-slide-toggle-thumb {
  background-color: #7D7D7D !important;
}

.mat-slide-toggle .mat-slide-toggle-bar {
  background-color: var(--mainHeader-BackGroundColor) !important;
}

.mat-slide-toggle-bar {
  width: 22px !important;
  height: 5px !important;
  border-radius: 0 !important;
}

.mat-slide-toggle-thumb {
  height: 10px !important;
  width: 10px !important;
  border-radius: 0 !important;
  margin: 0.5px 0px !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
  transform: translate3d(13px,0,0) !important;
  will-change: transform;

}

.mat-slide-toggle-persistent-ripple, .mat-slide-toggle.mat-disabled .mat-slide-toggle-bar:hover .mat-slide-toggle-persistent-ripple {
  opacity: 0 !important;
  display: none !important;
}

.mat-slide-toggle.mat-disabled {
  opacity: 1 !important;
}

.mat-step-header.cdk-keyboard-focused, .mat-step-header.cdk-program-focused, .mat-step-header:hover {
  background-color: transparent !important;
}

.mat-expansion-panel-body {
  padding: 0 !important;
}

.mat-expansion-panel-header {
  padding: 0 !important;
  padding-left: 5px;
  
}
.mat-expansion-panel-header-title{
  color:var(--font-color);
}

.mat-step-header {
  width: 100% !important;
}

.mat-step-icon {
  display: none !important;
}

.mat-stepper-horizontal-line {
  display: none !important;
}

.mat-expansion-panel-content {
  line-height: normal !important;
  font-family: roboto !important;
  padding-left: 64px;
  // display:contents !important;
 
}

.mat-horizontal-stepper-header {
  pointer-events: none !important;
}

.mat-step-header .mat-step-label.mat-step-label-active {
  color: var(--form-value-Color) !important;
  width: 100%;
  text-align: center;
  overflow: visible !important;
  font-size: 15px;
  font-family: $common-FontStyle !important;
}

.mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: transparent !important;
}

.mat-progress-bar-fill::after {
  background-color: var(--active-BackGroundColor) !important;
}

.mat-progress-bar-buffer {
  background-color: var(--form-value-Color) !important;
}

.mat-horizontal-stepper-header {
  height: $mainHeader-Height !important;
}

.mat-dialog-container {
  padding: 0px !important;
  overflow: hidden !important;
  border-radius: 0px !important;
}

.mat-menu-panel {
  border-radius: 0px !important;
  min-width: 30px !important;
  max-width: 400px !important;
  background-color: var(--sideHeader-BackGroundColor) !important;
  opacity: 0.97 !important;
  min-height: 0px !important;
}

.menu-icon-list {
  background-color: var(--sideHeader-BackGroundColor) !important;
  margin: -36px 14px 10px 0px !important;
  height: 30px;
  overflow-y: hidden !important;
}


.mat-form-field-wrapper {
  padding: 0 !important;
}

form {
  margin: 0px !important;
}

.mat-form-field-underline {
  display: none !important;
}

.mat-grid-tile .mat-figure {
  align-items: inherit !important;
  justify-content: initial !important;
}

.mat-table {
  background: none !important;
  height: 620px !important;
}

.bg-color:nth-of-type(odd) {
  background-color: var(--sideNode-LightBackGround);
}

.bg-color:nth-of-type(even) {
  background-color: var(--sideNode-DarkBackGround);
}

.bg-colorAsset:nth-of-type(even) {
  background-color: var(--sideNode-LightBackGround);
}

.bg-colorAsset:nth-of-type(odd) {
  background-color: var(--sideNode-DarkBackGround);
}

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.33em) scale(1) !important;
  will-change: transform;

}

.mat-slide-toggle .mat-slide-toggle-ripple {
  display: none !important;
}

.mat-calendar-body-cell-content {
  color: var(--form-value-Color) !important;
}

.mat-datepicker-content {
  background-color: var(--sideHeader-BackGroundColor) !important;
  color: var(--form-value-Color) !important;
}

.mat-calendar-body-label {
  color: var(--form-value-Color) !important;
}

.mat-calendar-body-disabled > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
  color: #8c8883 !important;
}

.mat-select-placeholder {
  color: var(--form-value-Color) !important;
  opacity: 0.2;
  caret-color: var(--form-value-Color) !important;
}



.mat-optgroup-label {
  line-height: normal !important;
  font-size: $formValue-FontSize;
  height: 20px !important;
  padding: 5px !important;
  color: var(--form-value-Color) !important;
}

.mat-option-text {
  line-height: normal !important;
  font-size: $formValue-FontSize;
  height: 20px !important;
  padding: 5px !important;
}

.mat-menu-content {
  padding: 0px !important;
}

.mat-option {
  height: auto !important;
  padding: 1px 1px !important;
  color: var(--form-value-Color) !important;
}

.mat-autocomplete-panel {
  background-color: var(--mainHeader-BackGroundColor) !important;
  max-height: 174px !important;
}


.mat-select-panel {
  background-color: var(--mainHeader-BackGroundColor) !important;
}

.mat-dialog-container {
  // box-shadow: none !important;
  background-color: var(--sideContainer-BackGroundColor) !important;
}

.mat-option:hover {
  background-color: var(--select-option) !important;
}

.mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active):not(:hover) {
  background-color: var(--mainHeader-BackGroundColor) !important;
}

.scroll-overflow {
  overflow: auto;
}

.mat-option.mat-active {
  // background: rgba(0,0,0,.04) !important;
  color: rgba(0,0,0,.87);
}

.textcolor {
  fill: var(--form-value-Color);
}

.non-bg {
  background: transparent !important;
}

th {
  color: var(--form-value-Color) !important;
}

button {
  color: var(--form-value-Color) !important;
}

.mat-calendar-arrow {
  border-top-color: var(--form-value-Color) !important;
}

.input-area {
  width: 100%;
  min-width: 40%;
  display: inline-flex;
  font-size: 12px;
}

.cust-input {
  max-width: 100%;
}

.title-label {
  width: 100%;
  font-size: $formValue-FontSize;
  color: var(--form-Title-Color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
  text-shadow: 0 0 1px var(--form-lebal-text-shadow);
}

.active {
  box-shadow: inset 0 -2px 0px 0px var(--active-BackGroundColor);
}

#loading-bar-spinner {
  display: none !important;
}

#close:hover {
  background-color: #7A1F20;
  cursor: pointer;
}

#save:hover {
  background-color: #335238;
  cursor: pointer;
}

.bar {
  background-color: var(--active-BackGroundColor) !important;
  // background-color: Green !important;
  height: 3px !important;
}


input {
  border: none;
  color: var(--form-value-Color) !important;
  font-size: $formValue-FontSize !important;
  background-color: transparent;
  padding: 2px 0px;
  text-overflow: ellipsis;
  //caret-color: var(--form-value-Color) !important;
}

.input-unit {
  width: 100%;
}

.text-color {
  color: var(--mainHeader-BackGroundColor) !important;
  font-size: 17px !important;
  font-weight: bolder !important;
  background-color: whitesmoke !important;
}

input:focus {
  border: none;
  color: var(--form-value-Color);
  background-color: transparent;
  outline: none;
}

.unit-label {
  max-width: 28%;
  color: var(--form-value-Color);
  opacity: 0.5;
  padding: 2px 0px 2px 2px;
  font-size: 10px;
  box-sizing: content-box;
}

.entity-label {
  color: var(--form-value-Color);
  padding: 5px;
  font-size: $formValue-FontSize;
  white-space: nowrap;
  font-weight: 400;
}

.icon-img {
  width: 21px;
  height: 21px;
  margin: 17px;
}

.icon {
  width: 18px;
  height: 18px;
  margin: 12px;
  //position: $commonPosition;
}

.mat-img {
  width: 16px;
  height: 16px;
  margin: 8px 5px;
  cursor: pointer;
  float: right;
}

.mat-img path.st0 {
  color: var(--icon-theme-value-color);
}

.Rec {
  float: right;
  width: 18px;
  bottom: 28px;
  height: 20px;
  position: relative;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.RecDesctiption {
  height: 18px !important;
  width: 12px !important;
  margin-top: 0px;
  position: absolute;
  margin-left: 285px;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes pulse {

  5% {
    fill: hsl(214, 60%, 50%)
  }

  65% {
    fill: hsl(214, 60%, 38%)
  }

  98% {
    fill: hsl(214, 60%, 55%)
  }
}

@-webkit-keyframes pulse {
  5% {
    fill: hsl(214, 60%, 50%)
  }

  65% {
    fill: hsl(214, 60%, 43%)
  }

  98% {
    fill: hsl(214, 60%, 55%)
  }
}

.mat-icon {
  color: var(--icon-theme-value-color);
  padding: 0.25px;
  cursor: pointer;
}

.calculateTextColor {
  color: #39B54A !important;
}

.onupdateTextcolor{
  color:white !important;
}

.inline-flex-display {
  display: inline-flex;
}

.inline-block-display {
  display: inline-block;
}

.mat-step-label {
  display: inline-block;
  white-space: nowrap;
  overflow: visible !important;
  text-overflow: ellipsis;
  min-width: 50px;
  vertical-align: middle;
}

.calenderIcon {
  width: 20px;
  height: 20px;
}

.type-contaniner {
  width: 100%;
}

.form-field {
  max-width: 80%;
  min-width: 0px !important;
  height: $formNode-Height;
  color: var(--form-value-Color) !important;
  font-size: $formValue-FontSize;
}

.float-label {
  color: var(--form-Title-Color) !important;
  font-size: $formValue-FontSize;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
  text-shadow: 0 0 1px var(--form-lebal-text-shadow);
}

.padding-none .mat-expansion-panel-body {
  padding: 0px !important;
}


.form-button {
  width: 80%;
  border: none;
  margin: 2px 10%;
  font-size: $formValue-FontSize;
  background-color: var(--active-BackGroundColor);
}

.btn-img {
  width: 90%;
  margin: 2px 5%;
  text-align: center;
  outline: none;
  cursor: pointer;
}

.cdk-overlay-pane {
  position: absolute;
  box-sizing: border-box;
  // for context menu options alignment.
  transform: translateY(0px) !important;
  will-change: transform;

}

.owl-dt-popup-container {
  background-color: var(--tooltip-color) !important;
  width: 11.5em !important;
}

.owl-dt-calendar {
  height: 12.25em !important;
}

.owl-dt-timer-box {
  height: 70% !important;
}

.owl-dt-timer {
  height: 5em !important;
}

.btn {
  width: 95%;
  padding: 8px 0px;
  text-align: center;
  background-color: transparent;
  font-size: 10px;
  border: 1px solid;
  color: var(--form-value-Color);
  cursor: pointer;
  text-transform: uppercase;
  outline: none;


}


.btn:disabled {
  opacity: 0.5 !important;
  cursor: not-allowed;
}


.btn-step:disabled {
  opacity: 0.5 !important;
  cursor: not-allowed;
}


.objbtn:disabled {
  opacity: 0.5 !important;
  cursor: not-allowed;
}

.objbtn:not(:disabled):hover {
  background-color: var(--mouseHover-BackGroundColor);
}

.btn:not(:disabled):hover {
  background-color: var(--mouseHover-BackGroundColor);
}

.float-r {
  float: right;
}

.float-l {
  float: left;
}

.border-rl {
  border-right: $border;
  border-left: $border;
  // box-sizing: border-box;
}

.border-r {
  border-right: $border;
  // box-sizing: border-box;
}

.border-l {
  border-left: $border;
  // box-sizing: border-box;
}

.border-t {
  border-top: $border;
  // box-sizing: border-box;
}

.border-b {
  border-bottom: $border;
  // box-sizing: border-box;
}


.vertical-align {
  padding: 5px 0px;
}

.error {
  color: var(--error-color) !important;
}
/*.mat-select:focus {
  .mat-select-arrow {
    border-top: none;
    border-bottom: 5px solid;
  }
}*/
.center-align {
  text-align: center;
  margin: 0px 2px;
}

.right-align {
  text-align: right;
}

.left-align {
  text-align: left;
}

.Gas {
  background-color: var(--gas-BackGround);
  border-color: var(--gas-BackGround);
}

.Fluid {
  background-color: var(--fluid-BackGround);
  border-color: var(--fluid-BackGround);
}

.Candy {
  background-color: var(--condy-BackGround);
  border-color: var(--condy-BackGround);
}

.Condy {
  background-color: var(--condy-BackGround);
  border-color: var(--condy-BackGround);
}

.Oil {
  background-color: var(--oil-BackGround);
  border-color: var(--oil-BackGround);
}

.Sand {
  background-color: var(--sand-BackGround);
  border-color: var(--sand-BackGround);
}

.Water {
  background-color: var(--water-BackGround);
  border-color: var(--water-BackGround);
}

.NGL {
  background-color: var(--ngl-BackGround);
  border-color: var(--ngl-BackGround);
}

.Butane {
  background-color: var(--butane-BackGround);
  border-color: var(--butane-BackGround);
}

.Pentane {
  background-color: var(--pentane-BackGround);
  border-color: var(--pentane-BackGround);
}

.Propane {
  background-color: var(--propane-BackGround);
  border-color: var(--propane-BackGround);
}

.error-indicatior {
  width: 4px;
  height: auto;
  left: 0px;
}

.Name {
  padding: 8px 0px !important;
}

.units-label {
  color: white;
  font-size: 12px;
  padding: 0px 0px 0px 10px;
}


.multi-select {
  width: 100%;
}

.multi-select1 {
  width: 100%;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.margin-l {
  margin-left: 46.08px;
}

.m-left {
  margin-left: 30.72px;
}

.save-close-button {
  position: $commonPosition;
  width: 30.72px;
  //margin-top: 15.36px;
}

.overflow-h {
  overflow: hidden;
}

.full-view {
  width: 100%;
  height: 100%;
}

.label {
  color: var(--statusHeader-FontColor);
  margin-left: 30.72px;
  padding-top: 30.72px;
  font-size: 12px;
}

.upper-case {
  text-transform: uppercase;
}

.node-content-wrapper-focused {
  background-color: var(--active-BackGroundColor);
}

.header-form {
  width: calc(100% - 0.5px);
  height: $mainHeader-Height;
  position: $commonPosition;
  background-color: var(--sideHeader-BackGroundColor);
  border-bottom: $border;
}

.bigdata-stepper-form .mat-horizontal-stepper-header-container {
  background-color: var(--sideHeader-BackGroundColor) !important;
  width: 100% !important;
}

.bigdata-stepper-form .mat-horizontal-content-container {
  padding: 0 0px 0px 0px !important;
}

.bigdata-mat-expansion-panel .mat-expansion-panel-body {
  padding: 0 0px 0px 0px !important;
}

.mat-select-value-text {
  color: var(--form-value-Color);
}


.bigdata-mat-option .mat-option-text {
  background-color: var(--sideContainer-BackGroundColor) !important;
}

.atcolor {
  cursor: pointer;
  color: var(--active-BackGroundColor);
}

#matspinner {
  color: var(--form-value-Color);
}

.mat-tooltip {
  background-color: var($default-tooltip-backgroundcolor) !important;
  color: var(--titleColor) !important;
  border-radius: 1px !important;
  margin: 3px !important;
  font-size: 12px !important;
  font-family: roboto !important;
  padding: 2px 6px !important;
  font-weight: lighter;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12) !important;
  //height: 16px !important;
}

// .mat-expansion-indicator {
//   display: none !important;
// }

// .mat-expansion-indicator::after {
//   color: var(--font-color) !important;
//   padding: $mat-expansion-indicator-after-padding;
//   border-width: 0 3px 3px 0 !important;
//   vertical-align: super !important;
//   margin: 7px;
// }

.mat-expanded
{
.i-indicator
{
transform: rotate(90deg);
}
}
.i-indicator {
fill: var(--font-color);
height: 100% !important;
width: 100% !important;
margin-left: -6px;
}
.indicator{
  height: 10.5px !important;
  width: 18.5px !important;
  margin-left: 16px;
  margin-top: 11px !important;
  padding: 0px 0px 0px 1px !important;
  cursor: pointer !important;
}
.toggle-icon {
  height: 40px !important;
  width: 40px !important;
  margin-left: 19px !important;
}
.toggle-icon:hover{
  background-color:var(--mouseHover-BackGroundColor) !important;
}
legend.ng-star-inserted{
  padding-top: 11.5px !important;
  padding-left: 7px !important;
}
.mat-expansion-panel-header.mat-expansion-toggle-indicator-before .mat-expansion-indicator {
  margin: 0px 0px 0px 0px;
}
div#toggle-header {
  margin-top: 5px;
}
.i-indicator{
  stroke: none !important;
}
.selectfieldalignment{
  margin-top: 0px;
}
.mat-expansion-panel {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none !important;
  //border-bottom: 1px solid #707070 !important;
  border-radius: 0px !important;
  margin-left: -9px;
  background: var(--form-body-bg-color);

}

.mat-expansion-panel-body {
  //background: var(--form-body-bg-color);
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 15px !important;
  padding-top: 0px !important;
}

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover,
.mat-expansion-panel-header.mat-expanded:focus {
  background-color: transparent !important;
  font-weight: none;
  height: $mat-expansion-panel-header-height;
}

.mat-pseudo-checkbox {
  background-color: var(--active-checkbackground-color) !important;
}

.IconColor {
  color: var(--icon-value-color);
  margin-top: 8px;
  margin-right: 2px;
  height: 21px;
  width: 21px;
}

.st0 {
  fill: var(--icon-theme-value-color) !important;
  stroke: var(--icon-theme-value-color) !important;
  stroke-width: 0px !important;
}

.cls-1 {
  stroke: var(--icon-theme-value-color) !important;
}


.ol-attribution {
  display: none !important;
}

.slider {
  padding: 10px;
  height: 0px;
  left: 5px;
  width: 87% !important;
  margin-left: 2px !important;
}

.mat-slider-track-background {
  background-color: var(--mouseHover-BackGroundColor);
}


.mat-slider:hover .mat-slider-track-background {
  background-color: var(--mouseHover-BackGroundColor);
}

.mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb, .mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb-label {
  background-color: var(--active-BackGroundColor);
}

.analysis-sample {
  left: 66.2%;
}

.mat-slider-horizontal .mat-slider-track-background {
  background-color: var(--mouseHover-BackGroundColor);
}

.mat-slider-min-value .mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb, .mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb-label {
  background-color: var(--active-BackGroundColor) !important;
}

.mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label, .mat-accent .mat-slider-track-fill {
  background-color: var(--active-BackGroundColor) !important;
}





.mat-menu-item .mat-icon:not([color]), .mat-menu-item-submenu-trigger::after {
  color: rgba(255,255,255,.54) !important;
}

#SlideMe {
  .mat-slider-thumb {
    position: absolute;
    right: -13px;
    bottom: -10px;
    box-sizing: border-box;
    width: 25px;
    height: 10px;
    transform: scale(0.7) !important;
    border-radius: 0;
    border: 3px solid var(--footer-background-value-color);
   will-change: transform;

  }

  .mat-slider:not(.mat-slider-disabled) .mat-slider-thumb, .mat-slider:not(.mat-slider-disabled) .mat-slider-thumb-label {
    cursor: -webkit-grab;
    cursor: grab;
    bottom: -5px;
    top: 115px;
  }

  .mat-slider-vertical {
    width: 48px;
    right: 9px;
    min-height: 124px;
  }

  .mat-slider-track-background {
    background-color: var(--footer-background-value-color);
    height: 126px;
  }

  .mat-slider-track-background:hover {
    background-color: var(--footer-background-value-color);
  }

  .mat-slider-vertical .mat-slider-track-wrapper {
    height: 120px;
    width: 2px;
  }

  .mat-slider-wrapper {
    width: 2px;
    top: -1px;
    bottom: 8px;
    left: 23px;
  }
}


/****Scroll bar **************************************************/
.mat-menu-panel::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

.mat-menu-panel::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
}

.mat-menu-panel::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
  background: var(--scroll-BackGround);
}


.mat-autocomplete-panel::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

.mat-autocomplete-panel::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
}

.mat-autocomplete-panel::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
  background: var(--scroll-BackGround);
}

// .scrollbar {
//   scrollbar-width: thin;
// }

.scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-corner {
  background: var(--sideContainer-BackGroundColor);
}


.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
}

.scrollbar::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
  background: var(--scroll-BackGround);
  border-radius: 2.5px;
}

/*

  .scrollbar::-webkit-scrollbar-track:vertical {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
    border-right:2px solid var(--sideContainer-BackGroundColor)
  }

.scrollbar::-webkit-scrollbar-thumb:vertical {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
  background: var(--scroll-BackGround);
  border-right:2px solid var(--sideContainer-BackGroundColor)
}

.scrollbar::-webkit-scrollbar-track:horizontal {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
    border-bottom:6px solid var(--sideContainer-BackGroundColor)
  }

.scrollbar::-webkit-scrollbar-thumb:horizontal {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
  background: var(--scroll-BackGround);
  border-bottom:6px solid var(--sideContainer-BackGroundColor)
}


*/

tree-viewport::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

tree-viewport::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
}

tree-viewport::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
  background: var(--scroll-BackGround);
  border-radius: 2.5px;
}

//   tree-viewport::-webkit-scrollbar-track:horizontal {
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
//     border-bottom:5px solid var(--sideContainer-BackGroundColor);
//   }

// tree-viewport::-webkit-scrollbar-thumb:horizontal {
//   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
//   background: var(--scroll-BackGround);
//   border-bottom:5px solid var(--sideContainer-BackGroundColor);
// }

// tree-viewport::-webkit-scrollbar-track:vertical {
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
//     border-right:2px solid var(--sideContainer-BackGroundColor);
//   }

// tree-viewport::-webkit-scrollbar-thumb:vertical {
//   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
//   background: var(--scroll-BackGround);
//   border-right:2px solid var(--sideContainer-BackGroundColor);
// }

#showdate {
  margin-top: 4px;
  color: var(--form-value-Color);
  width: 100%;
  height: 0px;
  text-align: center;
  border-bottom: 1px solid #000000;
  font-family: $common-FontStyle;
}

.irs--sharp {
  top: -28px !important;
}

.irs--sharp .irs-grid-text {
  color: var(--form-value-Color);
}


.nprogress-busy {
  overflow: hidden;
}


.shadow-layer {
  background-color: black;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mat-dialog {
  transition: none !important;
}


/* On screens that are 992px or less, set the background color to blue */
/*@media screen and (max-width: 1024px) {
  .mat-tooltip-panel {
    display: none !important;
  }
}*/

a {
  color: transparent;
}

a.support {
  opacity: 1 !important;
  color: #8FC6F0 !important;
  text-decoration: none !important;
}

.cdk-overlay-connected-position-bounding-box {
  //bottom: 0px !important;
  height: inherit !important;
}

@media (hover: none) {
  .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
    background: transparent !important;
  }
}

.mat-calendar-table-header {
  cursor: default !important;
}


.irs--round .irs-bar {
  top: 25px;
  height: 28px;
  background-color: #616670;
  opacity: 0;
  cursor: pointer !important;
}

.irs--round .irs-line {
  top: 38px;
  height: 0.5px;
  background-color: transparent !important;
  border-radius: 4px;
}

.irs--round {
  height: 54px;
  top: -21px;
  z-index: 100;
  opacity: 1;
}



.irs--round .irs-min {
  color: white;
  font-size: 12px;
  line-height: 1;
  top: 0;
  padding: 3px 5px;
  background-color: #414041;
  border-radius: 4px;
  left: -27px;
}

.irs--round .irs-max {
  color: white;
  font-size: 12px;
  line-height: 1;
  top: 0;
  padding: 3px 5px;
  background-color: #414041;
  border-radius: 4px;
  right: -27px;
}


.irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single {
  font-size: 12px;
  line-height: 1;
  text-shadow: none;
  padding: 3px 5px;
  background-color: #414041;
  color: white;
  border-radius: 4px;
}

.irs--round .irs-handle {
  top: 25px;
  width: 5px;
  height: 28px;
  border: 4px solid #404140;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 255, 0.3);
  padding: 1px;
  cursor: ew-resize;
}

.irs--round .irs-from:before, .irs--round .irs-to:before, .irs--round .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: white;
}

.mat-menu-item-highlighted:not([disabled]) {
  background: var(--mouseHover-BackGroundColor);
}

.ticks {
  font-size: 8px;
  stroke: var(--form-value-Color);
  font-family: roboto;
  font-weight: normal;
}

.datelabel {
  stroke: var(--form-value-Color);
  font-size: 8px;
}




.mapboxgl-popup-content {
  position: relative;
  background: var(--map-tooltip-background) !important;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 10px 10px 15px;
  pointer-events: auto;
  color: var(--form-value-Color);
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  -webkit-align-self: center;
  align-self: center;
  border-top: none;
  border-bottom-color: var(--map-tooltip-background);
}

.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  border-top: none;
  border-left: none;
  border-bottom-color: var(--map-tooltip-background);
}

.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  border-top: none;
  border-right: none;
  border-bottom-color: var(--map-tooltip-background);
}

.ql-editor{
  color: var(--font-color) !important;
  line-height: 1.42;
    height: 100%;
    outline: none;
    overflow-y: auto;
    padding: 12px 15px;
    max-width: 292px !important;
    tab-size: 4;
    text-align: left;
    white-space: pre-wrap;
}
.ql-container.ql-snow {
  border: hidden !important;
}
.turnover-left-tree{
  width: 19% !important;
}
.mat-form-field {
  font-size: inherit;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  width: 140px !important;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  -webkit-align-self: center;
  align-self: center;
  border-bottom: none;
  border-top-color: var(--map-tooltip-background);
}

.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  border-bottom: none;
  border-left: none;
  border-top-color: var(--map-tooltip-background);
}

.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  border-bottom: none;
  border-right: none;
  border-top-color: var(--map-tooltip-background);
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  -webkit-align-self: center;
  align-self: center;
  border-left: none;
  border-right-color: var(--map-tooltip-background);
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  -webkit-align-self: center;
  align-self: center;
  border-right: none;
  border-left-color: var(--map-tooltip-background);
}

.ticks text {
  font-weight: 100;
  opacity: 0.9;
  font-size: 9px;
  letter-spacing: 1px;
}
//draggable popup
.dragForm {
  position: inherit !important;
  height: 100% !important;
}

.datelabel {
  font-weight: 100;
  opacity: 0.9;
  font-size: 9px;
  letter-spacing: 1px;
}

.slider-container {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
  height: 46px;
}

.slider-content-responsive {
  display: inline-block;
  position: inherit;
}

#assetmanagement {
  width: 19px;
}

::ng-deep .custom-keypad-menu {
  margin-left: -360px;
}

::ng-deep .custome-menu {
  min-height: 0px;

  .mat-menu-content {
    padding: 0px !important;
    position: absolute;
  }
}

//mat-selct toggle issue
.cdk-overlay-pane {
  margin-top: 6px !important;
}

.mat-accordion .mat-expansion-panel:last-of-type {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.mat-accordion .mat-expansion-panel:last-of-type {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.mat-tab-label {
  box-shadow: 0.5px 0 0 0 #000000, 0 0.5px 0 0 #000000, 0.5px 0.5px 0 0 #000000, 0.5px 0 0 0 #000000 inset, 0 0.5px 0 0 #000000 inset;
  font-family: $common-FontStyle;
  color: var(--form-value-Color) !important;
}

#PUMP { // Bug #53021 <Alignment Issue : Pump Form>cancel button is not aligned properly in pump form
  div#save .head-route:hover {
    background: #335238;
    margin-top: -0.5px;
    border-top: $border;
    border-bottom: $border;
  }

  div#close .head-route:hover {
    background: #7A1F20;
    margin-top: -0.5px;
    border-top: $border;
    border-bottom: $border;
  }
}
.cdk-overlay-container { //added empty class to override at run time
}

.tab-box-sizing {
  box-sizing: border-box;
}

.select_Custom_CSS_Class ::ng-deep .ng-value {
  background-color: #0764D3;
}

.select_Custom_CSS_Class ::ng-deep .ng-placeholder {
  background-color: #0764D3;
}

//##### people json -schema form generator tabs Start
.expansion-panel-title{
  width: 30%;
  padding-top: 12px;
   padding-top: 3px !important;
  color: var(--font-color) !important;
 // padding-left: 16px;
 // font-size: 12px

}

  .expansion-panel-nav{
    width: 40% !important;
    border-bottom: 0px !important;
    .mat-tab-link {
    height: 42px;
    min-width: 42px!important;
    width: 42px!important;
    padding: 2px !important;
    margin-left: 0px;
    }
    .mat-tab-header-pagination.mat-tab-header-pagination-disabled {
    display: none !important;
    }
  }
  .mat-tab-link:hover{
    background-color:var(--mouseHover-BackGroundColor);
  }
  .expansiona-panel-tab-img{
    height: inherit;
    width: 20px;
    padding:4px 5px 3px 0px;
    margin-left: 5px;
    filter: var(--image-color);
  }
//##### people json -schema form generator tabs End



//CSS Styling for Swimline ngx-datatable
.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group{
  background-color: var(--datatable-body-active);
  color: var(--font-color);
}

.table-colum-toggle{
  padding-left: 30px;
}

.ngx-datatable.material{
  border-bottom: 0px !important;
}
.table-colum-placeholder{
  color:#50c8ff5c;
}

.ngx-datatable.material {
  background: var(--form-body-bg-color) !important;
}


//CSS Styling for Swimline ngx-datatable
.ngx-datatable .datatable-header {
  background: var(--table-header-bg-color);
  opacity: .9;
}
.ngx-datatable *, .ngx-datatable :after, .ngx-datatable :before{
 // margin-top: $ngx-datatable-after-margin-top;
 box-sizing: content-box !important;
}
.datatable-body-cell-label{
  display: inline-flex;
  padding-top: 0px !important;
}

.table-collapse-icon{
  padding: 2px 6px;
  height: 20px !important;
  width: 10px !important;
}
.datatable-header{
  background-color: var(--table-header-bg-color);
    .datatable-header-cell {
    background-color: var(--table-header-bg-color) !important;
    color: white !important;
    text-align: left !important;
  }
  .datatable-row-left{
    background-color: #2f2f2f !important;
  }
}
.ngx-datatable.material .datatable-header .datatable-header-cell{
  //padding: 0vw 0px 1.2vw 2.6vw;
  font-weight: 400;
 // top: 130px;
  font-size: $form-title-fontsize;
  border-right: 1px solid var(--table-separator);
  //padding-left: 49px !important;
  padding-top: 10px !important;
  margin-left: 12px !important;
}
.ngx-datatable .datatable-header .datatable-header-cell.sortable .datatable-header-cell-wrapper{
  cursor: default !important;
}
.ngx-datatable.material .empty-row {
  color: var(--font-color);
}
.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  color: var(--font-color);
  padding: 12px 30px 0px 30px;
  font-size: $formValue-FontSize;
  border-right: 1px solid var(--table-separator);
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell:hover {
  color: var(--form-value-Color) !important;
}

.ngx-datatable.material .datatable-filter .datatable-filter-cell{
  padding-top:0.9em !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;

}
.ngx-datatable .datatable-filter .datatable-filter-inner{
  padding-left: 0.7em;
}
.ngx-datatable, .info{
  font-size: $formValue-FontSize !important;
}

.datatable-body-cell {
// text-align: center !important
}
.datatable-row-even {
  background-color: var(--table-body-even) !important;
  border-bottom: $border;
  .datatable-row-left {
    background-color: var(--table-body-even) !important;
  }
}

.datatable-row-odd {
  background-color: var(--table-body-odd) !important;
  border-bottom: $border;
  .datatable-row-left {
    background-color: var(--table-body-odd) !important;
  }
}

.datatable-filter-cell-label{
// width: 100% ;
}
.datatable-body.datatable-body {
  background: var(--table-row-even-color);
}

.datatable-span{
  width: 100%;
  height: 50px;
  display: block;
  padding-top: 0px !important;
}

// .mat-form-field-appearance-standard .mat-form-field-underline {

// }

//form css
.flex-layout-root {
  overflow-y: hidden !important;
  padding-left: 0px !important;
}
.title-expansion-panel-image{
  width: 20px;
  margin-bottom: 26px;
  filter: var(--image-color);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
 margin: 0;
}
input[type=number] {
  -moz-appearance:textfield;
}
.red-icon{
  visibility: hidden;
}

//overide input lable css

.mat-form-field-infix {
  margin-top: -9px;
}

.mat-form-field.mat-focused .mat-form-field-label ,.mat-form-field-label , .toogle-label , .selectlabel ,.selectlabelcolorchange, .ngSelectEnumTypeLabel {
  font-size: 12px !important;
  font-family: $common-FontStyle !important;
  color: var(--form-Title-Color);
  text-shadow: 0 0 1px var(--form-lebal-text-shadow);
}

.toggle-value{
  color: var(--form-value-Color);
  font-size: 10px;
  padding: 2px 2px 2px 10px;
  opacity: .7;
}
.mat-form-field-suffix{
  font-size: 15px;
  color:#aeaaaa;
}

.mat-input-element {
  caret-color: gray;
}

.selectlabel{
  height: 0px;
}

.ngSelectEnumTypeLabel{
  height:15px;
}

// .text-area-border, .button-group, .message-widget{
//   padding: 0px 30px !important;
// }
.text-area-border{
  border: 0.5px solid var(--font-color) !important;
}
ngx-extended-pdf-viewer .html  {
  height: 666px !important;
}
.ng-select .ng-select-container:after{
  border: hidden !important;
}
.signature-label, .text-area-title{
  font-size: 12px;
  color: var(--form-Title-Color) !important;
  //background: #424242 !important;
}

// .buttons{
//  width: 100%;
//  height: 42px;
// }
// .signature-pad-buttons{
//  height: inherit;
//  width: 100%;
//  margin: 18px 0 0 0;
// }
// .signature-button {
// padding: 10px;
// background-color:#313231;
// }
// .textarea, .mat-input-element {
//   margin: -2px 0 0 0 !important;
// }
.buttons{display:inline-block; width: calc(100% - 10px); padding:0 0 7px 0; flex-grow: 1;}
.signature-label{font-size: $label-font-size; flex-grow: 1;}
.signature-pad{ border:solid 2px rgba(0,0,0,.12); height: 65%; width: 98%; margin-bottom: 2%; margin-top: 2%; flex-grow: 1; overflow: hidden;background-color:darkgray !important;}
.mainDiv{overflow: hidden; padding-bottom: 3%;}
.signature-secondary-div{height: 100%; padding: 0px 30px !important; display: flex; flex-direction: column;}
.signature-pad-buttons{display: flex;}
.signature-error {float: right; margin-bottom: .7%; margin-right: 1%;}
.signature-button{margin-left: 2.8% !important; width: 29% !important; 
  border-radius: 0px !important ; background: #1979D3 !important;
  text-align: center;
  padding: 4px 3px 3px 4px;
}
.signature-pad canvas {
  width: 100% !important;
  height: fit-content;
}
.flexButton{
    border: none;
    color: white;
    padding: 7px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #1979D3 !important;
    margin-left: 2.8% !important; 
}

.ngx-datatable.material.single-selection .datatable-body-row.active, .ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group, .ngx-datatable.material.multi-selection .datatable-body-row.active, .ngx-datatable.material.multi-selection .datatable-body-row.active .datatable-row-group, .ngx-datatable.material.multi-click-selection .datatable-body-row.active, .ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group{
  background-color: #375A74 !important;
}

.cont-list {
  color: var(--form-value-Color);
}

.sg-form .ngx-datatable.material .datatable-body {
  max-height: calc(100vh - 168px) !important;
}
.close-button{
  visibility: visible !important;
  color: var(--form-value-Color);

}
/** popup css starts */
.MuiButton-label{
  color:var(--form-value-Color) !important;
}
.MuiTypography-colorTextSecondary, .MuiDialogContentText-root{
  margin-bottom: 0px !important;
  text-align: center !important;
  color: var(--form-value-Color) !important;
}
.MuiPaper-root{
  background-color: var(--sideContainer-BackGroundColor) !important;
}
.MuiDialogTitle-root{
  padding: 7px 24px !important;
  background-color: var(--mainHeader-BackGroundColor) !important;
  color: var(--form-value-Color) !important; 
}
.MuiTypography-root, .MuiSvgIcon-root{
  color: var(--form-value-Color) !important; 
}
.MuiButton-outlined{
  border: 1px solid var(--form-value-Color) !important;
  border-radius: 0px !important;
}
.MuiDialogContent-root{
  padding-top: 36px !important;
}
/** popup css ends */
.iAqcTj, .jSIvlG, .FYQwS, .bbqbrp, .fZKtZK,.hkmjJD, .gzSbIn, .cYzjqy, .kRkxCg, .bWzjpm, .results-table-wrapper, .cell, .bWzjpm, .results-table-wrapper, .header-cell, .cngdRc, .kAsLXf, .hIdykh, .fdhSoC, .gOEaC, .jgNSrD, .jIBbQl .item-selector > div > div, .cBuXTz, .kzvqET, .eMkuAQ input, .kDOOpz, .hkiEUy, .hFigZB, .MsrZP, .gfKcvS, .bLxfes, .jMyGHv, .ikKtaX, .lifbEl, .ivsioI, .hBiGbu, .bfBzRA{
  background-color: var(--sideContainer-BackGroundColor) !important;
}
.jqMZBf, .lcRNVp, .iVhCls{
  color: var(--form-value-Color) !important;
  margin-bottom: 0px !important;
}
.knsScu, .gTmGqd, .lkBfFQ, .MuiCircularProgress-svg, .hTfWCy a, .text,.jJhLDg, .eoFapQ, .file-upload-or, .hpLXwx, .llFmqD, .YXjbz, .FYQwS, .iAqcTj, .eYjIOn, .iePyMJ, .bWzjpm, .results-table-wrapper .header-cell, .details, .bmfnIk, .fCmOON, .dGhqyX, .igodZH, .sc-cOwefp, .cYzjqy, .hTfWCy *, .hTfWCy *:before, .hTfWCy *:after{
  color: var(--form-value-Color) !important;
}



.ng-select .ng-arrow-wrapper .ng-arrow{
  color: var(--font-color) !important;
}
.ng-select.ng-select-single .ng-select-container .ng-arrow-wrapper{
  bottom: 14px !important;
  right: 7px !important;
}
.ng-select .ng-select-container .ng-value-container{
  border-top: 0.54375em solid transparent !important;
}
.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
  background-color:var(--background-table-header);
  white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    //margin-left: 30px !important;
   // min-width: 130px !important;
}


.filePath{
  font-size: 16px !important;
  vertical-align: text-bottom !important;
}
.gmRgna{
  font-weight: normal !important;
}

/** Map panel css starts */
.cngdRc{
  overflow-y: auto !important;
}
.hIdykh, .fdhSoC, .gOEaC, .kDOOpz, .hkiEUy, .MsrZP, .bLxfes{
  outline: 1px solid var(--form-value-Color) !important;
}
.jtmmjp,.fDIZmu, .gRzBXo, .TPevB .list__item, .HDrHE, .dtmqgY, .hbAoOB, .llvOzZ, .dZDKGm, .laXijY .color-select__input-group, .jNiHhM, .tJcNz, .eFTQAP, .ftpbBg, .jHBAw, .rOlNY, .kVWrwA, .gliaYQ, .jJbmDG, .gQwGbb, .bHNlDt, .jxA-dWp, .TPevB .list__header, .jFDMUO, .kSdbhV, .gUsmjA, .dgyEmh .toolbar-item, .gYyuEF{
  background-color: var(--sideHeader-BackGroundColor) !important;  
}
.jtmmjp, .llvOzZ, .cqiVRD, .hIdykh, .fdhSoC, .gOEaC, .dZDKGm, .laXijY .color-select__input-group, .jIBbQl .item-selector > div > div, .wyEBS, .kDOOpz, .hkiEUy, .hFigZB, .jFDMUO, .ikKtaX, .bfBzRA{
  border-radius: 0px !important;
}
.jtmmjp, .dZDKGm, .laXijY .color-select__input-group, .jIBbQl .item-selector > div > div, .jgNSrD, .hRymud, .hFigZB, .knsScu, .jFDMUO, .ikKtaX, .bfBzRA{
  border: none !important;
}
.saveChangesButton, .cqiVRD{
  background-color: var(--defaultmainHeader-BackGroundColor) !important;
}
.saveMapText {  
  margin-top: 10px !important;
  color: white !important;
}
.fxgkdX{
  border-bottom-color: 2px solid var(--form-value-Color) !important;
}
.gRzBXo{
  padding-top: 6px !important;
}
.hGjVVZ{
  height: 28.18px !important;
  width: 10px !important;
  background-color: #3C8ECC !important;
  right: 29px !important;
  top: 2px !important;
}
.lfqbfw:before, .huqtWI:before{
  width: 23px !important;
  height: 5px !important;
}
.wmIMv, .lfqbfw:before, .huqtWI:before, .hbkPxY{
  background: white !important;
}
.lfqbfw:after, .huqtWI:after, .hRymud{  
  border-radius: 5px !important;
}
.lfqbfw:after, .huqtWI:after{  
  top:-3px !important;
}
.hRymud, .lfqbfw:after, .huqtWI:after{
  background-color: #318FD7 !important;
}
/** Map panel css ends */
/** Map right side controls CSS starts */
.gvtxaq{
  z-index: 1 !important;
  margin-top: -3px !important;
}
/** Map right side controls CSS ends */
.hkiEUy{
  margin-right: 5px !important;
}
.eYjIOn{
  right: 10px !important;
  top: 10px !important;
}
.ng-select .ng-select-container{
  min-height: 0px !important;
}
.cngdRc::-webkit-scrollbar-thumb, .TPevB::-webkit-scrollbar-thumb, .bHNlDt::-webkit-scrollbar-thumb{
  border: 0px !important;
}
.cngdRc::-webkit-scrollbar{
  width: 5px !important;
}
.cngdRc::-webkit-scrollbar-track{
  background: none !important;
}
.bOLBlu .actions > svg, .eEULwj .actions{
  font-size: 16px !important;
}
.jqMZBf{
  font-size: 20px !important;
}
.bbqbrp, .fZKtZK  {
  font-weight: normal !important;
  font-size: 12px !important;
}
.gliaYQ::-webkit-scrollbar, .bHNlDt::-webkit-scrollbar, .TPevB::-webkit-scrollbar{
  width: 5px !important;
  height: 5px !important;
}
.gliaYQ::-webkit-scrollbar-thumb, .bHNlDt::-webkit-scrollbar-thumb, .TPevB::-webkit-scrollbar-thumb, .cngdRc::-webkit-scrollbar-thumb{
  background: #3C8ECC !important;
}
.gliaYQ::-webkit-scrollbar-track, .bHNlDt::-webkit-scrollbar-track, .TPevB::-webkit-scrollbar-track{
  background: none !important;
}
.eEULwj, .bpOgwu{
  padding-right: 10px !important;
}
.gOQYCY, .gZGOev, .cDTmrn {
  margin-bottom: 24px !important;
}
.cDTmrn{
  margin-top: 24px !important;
}
.MuiSvgIcon-root{
  height: 20px !important;
  width: 20px !important;
}
.iAqcTj{
  overflow: hidden !important;
}
.iVhCls .load-data-modal__tab__item.active{
  border-bottom: none !important;
}
.ng-select.ng-select-single .ng-select-container .ng-arrow-wrapper{
  margin-bottom: -3px;
}
  
.dtmqgY{
  padding-left: 24px !important;
}
.oAnpe{
  border-bottom: 3px solid  #3C8ECC !important;
}
.fRPcvF, .dbaGAi{
  z-index: 1 !important;
}
.dbaGAi{
  padding: 1px 28px 30px 0px !important;
  height: 104% !important;
}
.dyzSdR:hover, .gSRnqw:hover, .gSRnqw:hover, .gSRnqw:hover, .gSRnqw:hover{
  background-color: #3C586E !important;
}
.ProfileImage {
  height: 140px;
  width: 150px;
  margin: 20px -37px;
}
 
.ng-value-container{
  margin-top: -6px !important;
}
.Sg-header-ng-select-approvalsType .ng-select-container .ng-value-container .ng-value{
    color:var(--text-hint);
    padding-left: 7px;
    padding-top: 7px;
  }

.ng-select.Sg-header-ng-select.ng-select.ng-select-single.ng-select-searchable.ng-select-clearable.ng-pristine.ng-valid.ng-select-bottom.ng-touched {
  width: 100% !important;
  min-width: 170px !important;
  /* min-height: 274px; */
  height: 33px !important;
  padding: 0 4px;
  padding: 0 4px!important;
  margin-top: 1px !important;
  border: none !important;
  font-family: roboto !important;
  font-weight: 300 !important;
  z-index: 6 !important;
  background-color: var(--background-dropdown) !important;
}
ng-select.Sg-header-ng-select.Sg-header-ng-select-approvalsType.Sg-header-ng-select-approvalsType-otherOptions.ng-select.ng-select-single.ng-select-searchable.ng-select-clearable.ng-valid.ng-select-bottom.ng-touched.ng-dirty{
  background-color: var(--background-dropdown) !important;
}
ng-select.Sg-header-ng-select.Sg-header-ng-select-approvalsType.Sg-header-ng-select-approvalsType-otherOptions.ng-select.ng-select-single.ng-select-searchable.ng-select-clearable.ng-valid.ng-select-bottom.ng-touched.ng-dirty .ng-select-container .ng-value-container .ng-value{
  color:var(--form-value-Color) !important;
  padding-top: 7px !important;
}
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary{
  background-color: var(--form-body-bg-color) !important;
}
.mat-raised-button{
  margin-bottom: 10px !important;
  border: 1px solid var(--form-value-Color) !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  font-size: 12px !important;
  line-height: 29px !important;
  margin-left: 1px !important;
}
.mat-expansion-panel-header{
  height: 40px !important;
}

.datatable-header-cell-label{
 // margin-left: -34px !important;
  }

  .plus-icon{
    color: var(--form-value-Color) !important;
    }
    

.mat-ink-bar{
  background-color:#3C8ECC !important;
  margin-left: 0px;
  margin-bottom: 4px;
  }
  .filter-icon{
  color: var(--form-value-Color) !important;
  height: 18px !important;
  width: 18px !important;
  }
  // .mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled=true]), .mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled=true]), .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]){
  //   background-color: transparent !important;
  // }
  .mat-tab-header-pagination-chevron{
    border-color: var(--form-value-Color) !important;
    }
    datatable-body#drop-block{
      height: 584px !important;
      overflow-y: auto !important;
    }
.datatable-checkbox input:before{
  transition: none !important;
  width: 12px !important;
 }
.datatable-checkbox input:checked:before{
      height: 7px !important;
    }
.datatable-checkbox input:after{
  background: var(--icon-value-color) !important;
}
div#id-Sg-header-ng-select .Sg-header-ng-select{
  height: 33px;
  margin-top: -1px !important;
}
.array-item{
  box-shadow: none !important;
}

.flex-layout-root:nth-child(odd) {
  .form-mat-expansion-panel-header, .mat-expansion-panel-content
  {
    background-color: var(--sideNode-LightBackGround)!important;
  }
}
.flex-layout-root:nth-child(even) {
    .form-mat-expansion-panel-header
    {
      background-color: var(--sideNode-DarkBackGround);
    }
}
.loader {
  width: 100%;
  height: 100%;
  position: absolute;
}
.datatable-checkbox input[type='checkbox']:before{
  height: 12px !important;
}
.mat-form-field-flex{
  align-items: unset !important;
}
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]){
  background: unset !important;
}
.mat-select-panel-wrap{
  margin-top: 13px !important;
  margin-right: 45px !important;
}
ngx-extended-pdf-viewer .body, ngx-extended-pdf-viewer .pdf-viewer button, ngx-extended-pdf-viewer .pdf-viewer input, ngx-extended-pdf-viewer .pdf-viewer select {
  font: message-box;
  outline: 0;
  margin-left: -6px !important;
}
.ngx-datatable.material .datatable-body .progress-linear .container{
  display: none;
}