@import "../../../../globals/base-properties.styles.scss";
@import "../../../../globals/theme.scss";

#adminform {
    background-color: var(--sideContainer-BackGroundColor);
    z-index: 6;
    position: absolute !important;
    width: 100%;
    min-width: calc(1024px - 2 * #{$mainHeader-Height});
    height: 100%;
  }
.scroll-form-template {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
}
#AdminFormHeader {
    background-color: var(--sideHeader-BackGroundColor);
    width: 100%;
    height: 42px;
    font-size: 14px;
    padding: 0px;
    border-bottom: 0.5px solid #000000; 
}
#AdminFormContent {
    width: 100%;
    height: calc(100% - 42px);
    overflow: auto; 
}
#form-template {
    width:100% ;
    height: 100%;
    background-color: var(--sideContainer-BackGroundColor);
    position: absolute;
    z-index: 5;
}
// #fdc-form-header {
//     width: 100%;
//     height: $mainHeader-Height;
//     background-color: var(--formHeader-BackGroundColor);
//     border-bottom: $border;
//     box-sizing: border-box;
// }