
@import '../../../../globals/theme.scss';

#header{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hidden-scroll {
  width: calc(100% + 17px);
  height: 100%;
  overflow-y: auto;
}

//for disabled iscon
.st1 {
  fill: var(--disable-capability-icon-theme-value-color) !important;
  stroke: var(--disable-capability-icon-theme-value-color) !important;
  stroke-width: 0px !important;
}
.headerIcon {
  width: $mainHeader-Height;
  height: $mainHeader-Height;
  cursor: pointer;
  display: inline-table;
  color: white;
  font-size: medium;
}

.border {
  box-sizing: border-box;
  border: $border;
}

.border-right {
  box-sizing: border-box;
  border-right: $border;
}

.left {
  float: left;
}

.right {
  float: right;
}


.active {
  // background-color: var(--sideContainer-BackGroundColor);
  // border: none !important;
  // box-shadow: none !important;

  box-sizing: border-box;
  border-bottom-color: var(--mouseHover-BackGroundColor);
  border-bottom-width: 2px;
}
.disable{
  background-color: #8c8883;
}
.setFav {
  width: 6px;
  height: 6px;
  background-image: url('https://althingenergy.althing.io/wwwroot/images/Favorite Pins/FavoritePin ActiveState icon.svg');
  position: absolute;
  display: none;
  margin-left: 33px;
  margin-top: 2px;
}

.hover:hover {
  background-color: var(--mouseHover-BackGroundColor);
}

.nav-bar {
  // height: 100%;
  // position: absolute;
  // overflow-y: auto;
  display: inline-flex;
  height: $formMiddle-Header + "7px";
  overflow: hidden;
  // padding-bottom: 8px;
  overflow: overlay;
}


.cont-list {
  color: var(--form-value-Color);
  font-size: 12px;
  padding: 5px 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.cont-list:hover {
  background-color: var(--mouseHover-BackGroundColor);
}

#middle-area {
  display: inline-flex;
  width: 100%;
  height: $formMiddle-Header + "7px";
  overflow: hidden;
  padding-bottom: 8px;
  overflow: overlay;
}

.namestyling{
  width:100px;
  padding-left: 45px;
  padding-top: 13px;
  width: 300px;
  color:var(--form-value-Color);
  font-size: 12px;
  font-family: roboto;
  font-weight: 400;
}