
<div id="middle-area" *ngIf="ShowheaderTabs">
      <mat-icon class="icon" matSuffix svgIcon='{{iconName}}' [ngClass]="icon21-21"></mat-icon>
      <div class="namestyling" (click)="eventEmitEntityNameClick()"><label matTooltip={{EntityName}}>{{ (EntityName&&EntityName.length>36)? (EntityName | slice:0:36)+'. . .':(EntityName) }}</label></div>
     <nav  class='nav-bar'>
         <div class="headerIcon" *ngFor="let head of commonHeader" 
            [ngClass]="{ 
                        'active':head.id===tab,
                        'hover' :head.isEnable
                       }"
            (click)="eventEmitSingleClick(head)" 
            (contextmenu)="onContextMenu($event, head)"
            (dblclick)=eventEmitDoubleClick(head)
            [matTooltip]='head.show ? head.id.toUpperCase() : null' 
            [matTooltipDisabled]="commonService.tabletMode ? true : false">
            <div *ngIf = "head.show">
               <mat-icon class="icon" 
                  matSuffix svgIcon='{{head.source[head.isEnable]}}' 
                  [ngClass]="head.class">
               </mat-icon>
         </div>
      </div>
       </nav>
 </div>
 <mat-menu #contextMenu="matMenu">
       <ng-template matMenuContent>
             <div class='cont-list' (click)="ContextMenuClick()">{{option}}</div>
       </ng-template>
 </mat-menu>
 
 <div style="position: fixed"
     [style.left]="contextMenuPosition.x"
     [style.top]="contextMenuPosition.y"
     [matMenuTriggerFor]="contextMenu">
 </div>
