@import "../../../../globals/theme.scss";


.entity-icon-area {
  width: $mainHeader-Height;
  height: $mainHeader-Height;
  padding: 10px;
  box-sizing: border-box;
}

.list-menu-icon {
  width: 30px;
  height: 42px;
  visibility: hidden;
}

.grid-list:hover {
  .list-menu-icon {
    visibility: visible;
  }
}

.align-list-menu-icon {
  position: absolute;
  right: -70px;
}

// .example-viewport {
//   width: calc(100% + 17px);
//   height: 520px;
// }

// .yester-left {
//   margin-left: 47%;
// }

// .rotate-text {
//   transform: rotate(-90deg);
//   color: var(--form-value-Color);
//   font-weight: bold;
//   font-size: 10px;
//   position: absolute;
//   text-transform: uppercase;
//   will-change: transform;
   

// }

// .tanktoday {
//   margin-top: 13px;
//   padding: 4px;
// }

// .tankyest {
//   margin-top: 52px;
//   padding: 7px;
// }

// .tankchange {
//   margin-top: 17px;
// }

.grid-list {
  width: 100%;
  height: auto;
}

// .day-to-allocate {
//   min-width: 200px;
//   max-width: 200px;
//   flex-grow: 5;
//   border-right: $border;
// }

// .allocation-product {
//   flex-grow: 20;
// }

// .left-data {
//   width: 30%;
//   height: 100%;
//   float: left;
// }

// .right-data {
//   width: 70%;
//   height: 100%;
//   float: left;
// }


// .table-header {
//   padding: 10px;
//   font-size: 13px;
//   color: var(--form-value-Color);
//   height: $mainHeader-Height;
//   box-sizing: border-box;
//   cursor: default;
// }

// .table-contant {
//   font-size: $formValue-FontSize;
//   max-height: 300px;
//   overflow-y: auto;
// }

.list {
  padding: 5px 20px;
  color: var(--form-value-Color);
  font-size: $formValue-FontSize;
  height: 30px;
  box-sizing: border-box;
  cursor: pointer;
}

.hover:hover {
  background-color: var(--mouseHover-BackGroundColor);
}

// .formGenNodeSelect {
//   background-color: var(--active-BackGroundColor);
//   opacity: 1;
// }

.border-b {
  border-bottom: $border;
  height: auto;
}

.toggle-expand-collapse {
  width: 20px;
  height: 20px;
  padding: 12px 0px 12px 12px;
  box-sizing: content-box;
}

.expandIcon {
  display: inline-block;
  width: $toggle-Width;
  height: $toggle-Width;
  font-size: 15px;
  cursor: pointer;
  z-index: 5;
}

// .allocation-plus {
//   width: 20px;
//   height: 20px;
//   float: right;
// }

// .m-top {
//   margin-top: -5px;
// }

// .padding-r-5px {
//   padding-right: 5px;
// }

// .border-r {
//   border-right: $border;
// }

.entity-icon {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.entity-label {
  opacity: 0.5;
}


.expansional-body {
  width: 100%;
  // height: 100%;
  padding: 0px 66px 0px 70px;
  box-sizing: border-box;
}


.nested-view {
  width: 100%;
  height: 100%;
  padding: 0px 0px 0px 35px;
  box-sizing: border-box;
}

// .change {
//   margin-left: 46%
// }

