
#spinner {
	-webkit-animation: frames 1s infinite linear;
	animation: frames 1s infinite linear;
	background: transparent;
	border: 3px solid #FFF;
	border-radius: 100%;
	border-top-color: #414241;
	width: 10px;
	height: 10px;
	opacity: .6;
	padding: 20px;
	position: absolute;
    z-index: 999;
    left: 50%;
    top: 40%;
}
@keyframes frames {
  0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(359deg);
	transform: rotate(359deg);
  }
}

#pause {
	display: block;
	background:
		rgba(0, 0, 0, 0.66)
		no-repeat
		0 0;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
    z-index: 1000;
    opacity: 0.5;
}
