@import '../../theme.scss';
@import '../../base-properties.styles.css';



button {
  line-height: 24px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 2px;
  background: #a3d9f5;
  cursor: pointer;
  margin: 0 3px;
}

.treeBody {
  color: var(--form-value-Color);
  width: calc(100% - 5px);
  height: 100%;
  overflow: hidden;
  font-size: 0px;
}

.mat-icon-tree {
  padding-left: 4px;
  height: 15px;
  width: 15px;
  box-sizing: border-box;
}

.capMenu {
  position: fixed;
}

img.e-list-img {
  height: 14px;
  width: 24px;
  display: inline-block;
  vertical-align: middle;
  padding-top: 2px;
}

.nodeText {
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  font-family: Roboto;
  font-size: $formTitle-FontSize;
  width: 0px;
  padding-bottom: 4px;
  margin-left: 6px;
}

.nodeCount {
  white-space: nowrap;
  font-family: Roboto;
  font-size: 9px;
  color: #398dd3;
  border: 1px solid #398dd3;
  border-radius: 8px;
  width: 15px;
  text-align: center;
  position: absolute;
  left: 200px;
  top: 2px;
}

.nodeText:hover {
  overflow: visible;
}

.node-alert {
  height: 18px;
  width: 3px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  border-radius: 10px 0px 0px 10px;
}

.e-fullrow {
  user-select: none;
  box-sizing: border-box;
  cursor: pointer;
  height: 18px;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

/* You can add global styles to this file, and also import other style files */
.tree-children.tree-children-no-padding {
  padding-left: 0;
}

.tree-children {
  padding-left: 10px;
  overflow: visible;
}

.node-drop-slot {
  display: block;
  height: 2px;
}

.node-drop-slot.is-dragging-over {
  background: #ddffee;
  height: 20px;
  border: 2px dotted #888;
}

.toggle-children-wrapper-expanded .toggle-children {
  transform: rotate(90deg);
  will-change: transform;
   
}

.toggle-children-wrapper-collapsed .toggle-children {
  transform: rotate(0);
  will-change: transform;
   
}

.toggle-children-wrapper {
  padding: 4px 0.8px 3px .7px;
  pointer-events: auto;
  width: 12px;
}
/* tslint:disable */
.toggle-children {
  height: 7.3px;
  width: 4.5px;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background: transparent;
  padding-left: 3px;
}

.toggle-children-placeholder {
  display: inline-block;
  height: 0px;
  width: 6.5px;
  position: relative;
  top: 1px;
  padding-right: 6.2px;
}

.node-content-wrapper {
  display: inline-flex;
  border-radius: 2px;
  padding: 0px;
  transition: background-color 0.15s, box-shadow 0.15s;
  width: 100%;
}

.node-wrapper {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding: 0px;
  //width: 40%;
  pointer-events: none;
  height: 16px;
  padding-top: 2px;
}

.node-wrapper.is-dragging-over {
  background: none;
  box-shadow: none;
  border: none;
}

.e-fullrow.is-dragging-over {
  background: #d2d6bb70;
  box-shadow: inset 0 0 1px rgb(188, 239, 255);
  border: 2px dotted rgb(172, 243, 255);
}

.node-content-wrapper-active,
.e-fullrow.node-content-wrapper-active:hover,
.node-content-wrapper-active.node-content-wrapper-focused {
  /*background: #318fd78a;*/
  background-color: var(--mouseHover-BackGroundColor);
  opacity: 1;
}

.node-content-wrapper-active {
  background-color: var(--mouseHover-BackGroundColor);
  opacity: 1;
}

.node-content-wrapper-focused {
  background-color: var(--mouseHover-BackGroundColor);
}

.e-fullrow:hover {
 // background-color: var(--mouseHover-BackGroundColor);
 background-color: var(--select-option) !important;
}

.node-content-wrapper:hover {
  background: none;
}

.node-content-wrapper-active,
.node-content-wrapper-focused,
.e-fullrow:hover {
  box-shadow: inset 0 0 1px #318fd78a;
}

.node-content-wrapper-active,
.node-content-wrapper-focused,
.node-content-wrapper:hover {
  box-shadow: none;
}

.node-content-wrapper.is-dragging-over {
  background: #d2d6bb70;
  box-shadow: inset 0 0 1px rgb(188, 239, 255);
  border: 2px dotted rgb(172, 243, 255);
}

.node-content-wrapper.is-dragging-over-disabled {
  opacity: 0.5;
}

tree-viewport {
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  overflow: hidden;
  display: block;
}

tree-viewport:hover {
  overflow: overlay;
  margin-bottom: 10px;
}

.empty-tree-drop-slot .node-drop-slot {
  min-width: 100px;
}

.angular-tree-component {
  width: 100%;
  position: relative;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  padding-left: 20px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none; /* non-prefixed version, currently not supported by any browser */
}

tree-root .angular-tree-component-rtl {
  direction: rtl;
}

tree-root
.angular-tree-component-rtl
.toggle-children-wrapper-collapsed
.toggle-children {
  transform: rotate(180deg) !important;
  will-change: transform;
   
}

tree-root .angular-tree-component-rtl .tree-children {
  padding-right: 20px;
  padding-left: 0;
}

tree-node-checkbox {
  padding: 1px;
}
/*::ng-deep.node-content-wrapper-active[_ngcontent-c23], .e-fullrow.node-content-wrapper-active[_ngcontent-c23]:hover, .node-content-wrapper-active.node-content-wrapper-focused[_ngcontent-c23] {
  background: #318FD7;
}*/


#funnelfabricschemaformIcon {
  float: right;
  height: 2vw;
  width: 1vw;
  cursor: pointer;
}

.folderStatusIcon {
  cursor: pointer;
}

#plusfabricschemaformIcon {
  float: right;
  height: 2vw;
  width: 1vw;
  cursor: pointer;
}

.searchfabricschemaformIcon {
  position: relative;
  left: 11.5vw;
  font-size: 1.1vw;
  bottom: -0.4vw;
}

#titleCapabilityName {
  color: white;
  padding-top: 8px;
  padding-left: 13px;
  font-size: 1.3vw;
}

#headLabel {
}

#headingForForms {
  padding-left: 9px;
  color: white;
}

#folderfabricschemaformIcon {
  width: 0.9vw;
  cursor: pointer;
  padding-bottom: 3px;
}

#listfabricschemaformIcon {
  width: 1vw;
  cursor: pointer;
}

.mat-tooltip {
  width: 14px !important;
}
/*#formListContainer {
  height: 10vw;
  overflow: scroll;
}*/

.example-list {
  display: block;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
   

}



.formList {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 3vw;
  font-size: 1vw;
  cursor: pointer;
}

#SharedPersons .treeBody {
  margin-top: 40px;
}

.tree-loader {
  font-size: 11px;
  color: #73BFF3; 
  text-align: center;
  font-family: Roboto Regular;
  // padding: 16px;
  animation: blinker 1.5s linear infinite;
  margin-top: 10px;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.cont-list{
  color: var(--form-value-Color);
  font-size: 12px;
  padding: 5px 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.cont-list:hover{
  background-color: var(--mouseHover-BackGroundColor);
}
