@import '../../../../globals/theme.scss';

#header{
  width:100%;
  height:100%;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.headerIcon {
  width: $mainHeader-Height;
  height: $mainHeader-Height;
  cursor: pointer;
}

.head-route{
  position: $commonPosition;
  width: $iconHover-Height;
  height: $iconHover-Height;
}

.left{
  float:left;
  border-right: $border;
}

.right{
  float:right;
  border-left: $border;
}


.favIcon{
  width:6px;
  height:6px;
  position: absolute;
  display: none;
  margin-left: 33px;
  margin-top: 2px;
}


.cont-list{
  color: var(--form-value-Color);
  font-size: 12px;
  padding: 5px 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.cont-list:hover{
  background-color: var(--mouseHover-BackGroundColor);
}



// .setFav{
//   background-image: url('wwwroot/images/Favicon/V3 PinToFavorites.svg');
// }

// .removeFav{
//   background-image: url('wwwroot/images/Favicon/V3 UnpinFromFavorites.svg');
// }

.head-route:hover{
  background-color:var(--mouseHover-BackGroundColor);
}

.headerIcon:hover{
  .favIcon{
    display: inline-flex;
  }
  .favIcon{
    display: inline-flex;
  }
}


.disabled {
 // background-color: #af2e38 !important;
 //pointer-events: none !important;
  opacity: 0.3 !important;
}
