<div id="header">

  <div  *ngFor="let head of commonService.appConfig.AllHeaderRoutingList" >
    <div class="headerIcon right" *ngIf="head.Show" [ngClass]="{ 'active':head.routerLinkActive }" (contextmenu)="onContextMenu($event, head)" [matTooltip]='head.tooltip.toUpperCase()' [matTooltipDisabled]="commonService.tabletMode ? true : false">
      <a *ngIf="!head.routerLinkActive;  else fabricIcon" (click)="onClick(head)">
        <div class='head-route' [class.disabled]="head.offlineStatus">
          <img class="icon" src='{{head.sourceSub}}' [id]="head.id" />
        </div>
      </a>
    </div>
    <ng-template class='head-route'  #fabricIcon  >
        <img class="icon"  src='{{head.sourceSub}}' [id]="head.id" (click)="CloseSubHeader()"/>
    </ng-template>
  </div>

</div>




<mat-menu #contextMenu="matMenu">
	<ng-template matMenuContent>
		<div class='cont-list' (click)="onContextMenuPin()">{{pinAndUnpin}}</div>
		<div *ngIf='isdesktop' class='cont-list' (click)="onContextMenuOpenNew()">Open in New Tab</div>
	</ng-template>
</mat-menu>

	<div style="position: fixed"
    [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y"
    [matMenuTriggerFor]="contextMenu"
  >		
  </div>
