
@import '../../../globals/theme.scss';
@import "../../../globals/base-properties.styles.scss";

.scroll-form-addnew-template {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: var(--sideContainer-BackGroundColor);
    position: absolute;
    z-index: 1;
    overflow: auto;
  }
  .small-new-entity{
    top: $mainHeader-Height + 23px !important;
   // top: 70px;
    height: 12%;
    position: absolute;
    // overflow-y: hidden;
    // overflow-x: auto;
    overflow: auto;
    background-color: var(--sideContainer-BackGroundColor);
    z-index: 1;
    left: 20px;
    width: 98%;
  }
.middle-area {
  height: 2%;
  position: absolute;
  //top: 8.5vw;
  top: 138px;
  display: inline-flex;
  color : var(--form-value-Color) !important;
  background-color: var(--sideContainer-BackGroundColor);
  z-index: 2;
  width: 96%;
  opacity: 0.4;
  margin-left: 42px;
  font-size: 12px;
}
  .entity-form{
      height: 58%;
      width: 100%;
      top: 29%;
      margin-top: 1%;
      bottom: 0.9%;
      position: absolute;
      overflow: auto;
      background-color: var(--sideContainer-BackGroundColor);
  }
  .formSpace{
    margin-top: 6%;
    top: 0% !important;
    bottom: 0% !important;
  }
  .container-body {
    position: $commonPosition;
    height: calc(100% - (2 * #{$mainHeader-Height}));
    width: calc(100% - 60px);
  }

 
  .hrnewentitydivider{
    width: 80%;
    position: relative;
    /* max-width: 50%; */
    /* float: left; */
    margin-left: 26px; 
    height: 0.5px;   
    border: 0.2px solid $grey-color;
  }
  // hr.hrnewentitydivider{
  //   border-bottom: $grey-color;
  // }
