<div class="scroll-form-addnew-template">
    <div class="header-form">
      <form-header [headerConfig]="headerConfig" (Click)="submitForm($event)"></form-header>
    </div>
    <div *ngIf="Type!='facilitycode'">
      <div class="small-new-entity scrollbar">
        <add-new-entity-details-header [myForm]="myForm" (commonEmitter)="eventFromChild($event)"></add-new-entity-details-header>
      </div>
  
      <div class="middle-area">NEW ENTITY DETAILS
        <hr class="hrnewentitydivider">
      </div>
    </div>
  
    <div class="entity-form scrollbar">
      <div class='scrollformTemplate scrollbar'>
        <mat-accordion multi="true" id="ListData" class="ScrollBarStyle">
          <div *ngFor="let value of listOfChildren;  let i = index">
            <ng-container *ngIf="commonService.lastOpenedFabric=='Entity Management'; else elseTemplate">
              <entitymanagement-Formgenerator 
              [myForm]="formGroupControl.get(value.EntityId)"
              [isNewEntity]="true"
              [LocationData]='ParentData'>                             
            </entitymanagement-Formgenerator>
            </ng-container>
            <ng-template #elseTemplate>
         
            </ng-template>
          </div>
        </mat-accordion>
      </div>
    </div>
  
  </div>