<div id="header" [class.border-right]="!commonService.isLeftTreeEnable">
  <div class='hidden-scroll'>
    <nav class='nav-bar'>
      <div class="headerIcon" *ngFor="let head of commonService.leftHeaderConfig" [ngStyle]="applayCSSStyles(head)" [class.border]="referenceId == 'subHeader'"
      (contextmenu)="onContextMenu($event, head)"  [class.active]="head.routerLinkActive" (click)="onClick(head)"
      [matTooltip]='head.title.toUpperCase()' matTooltipPosition='right' [matTooltipDisabled]="commonService.tabletMode ? true : false">
        <mat-icon class="icon" matSuffix svgIcon='{{head.source}}' [ngClass]="head.class"></mat-icon>
      </div>
    </nav>
  </div>
</div>

<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent *ngIf="showSGContextMenu">
    <div class='cont-list' *ngFor="let contextMenuOption of contextMenuOptions" (click)="onMenuSelection(contextMenuOption)">
      {{contextMenuOption}}
    </div>
  </ng-template>
</mat-menu>

<div style="position: fixed"
[style.left]="contextMenuPosition.x"
[style.top]="contextMenuPosition.y"
[matMenuTriggerFor]="contextMenu"
>
</div>
