<mat-grid-list [cols]="noofcols" rowHeight="40px" [formGroup]="myForm" *ngIf="initialized">
  <ng-template ngFor let-colfields [ngForOf]="colsdata" let-index="index">
    <mat-grid-tile class="user-form-grid-tile padding-item" rowHeight='42px'>
      <div [ngSwitch]='colfields.type' class='user-form' >
        
        <!--user profile image-->
        <div *ngSwitchCase="'img'" [ngClass]="'normal-font-color'">
          <div *ngIf="!imgSrc">
            <mat-icon [svgIcon] = "colfields.displayLabel == 'User Image' ? 'User Image' : 'Company Image'" [ngClass]= "colfields.displayLabel == 'User Image' ? 'ProfileImage' : 'companyProfileImage' "></mat-icon>
          </div>
          <div *ngIf="imgSrc">
              <img [src]="imgSrc" class="ProfileImage"/>
          </div>
          <div class='btn-area' *ngIf="myForm.controls[colfields.conditional?.when]?.value == colfields.conditional?.eq || colfields.conditional?.show">
            <button id='buttonSize' [ngClass] = "colfields.displayLabel == 'User Image' ? 'btn-upload personbuttonSize' : 'btn-upload companybuttonSize' "> {{ uploadBtnSrc }} </button>
            <input class="file-upload" id="uploadPicture" type="file" (change)="readFile($event)" accept="image/png,image/jpeg"  />
          </div>
        </div>

        <!--other switch start from here-->

      </div>
    </mat-grid-tile>
  </ng-template>
</mat-grid-list>
