<app-loader class="loader" *ngIf="isLoading"></app-loader>
<json-schema-form *ngIf='layout && options' [framework]="options.framework" [schema]="schema" [layout]="layout"
[roles]="roles" [images]="images" [userRoles]="userRoles" [conditionalFields]="conditionalFields" [data]="data" [lookup]="lookup" [(updateData)]="updateData" [options]="options"
(routeEvent)="click($event)" (onChanges)="onChange($event)" (onSubmit)="onSubmitFn($event)" (isValid)="isValid($event)"
(validationErrors)="validationErrors($event)"
(lookUpQuery)="lookUpQuery($event)" (enumValueChangeEvent)="enumValueUpdate($event)"  [formulas]="formulas"
(toggleChangeEvent)="onToggleChange($event)" (treeAction)="treeAction($event)" (filterSave)="onFilterFn($event)"
(virtualKeyboardEvent)="onVirtualKeyboarEvent($event)"      >
</json-schema-form>
