@import '../../globals/theme.scss';


.rename-form{
  border: thin solid #000000;
  box-sizing: border-box;
  width: 100%;
  /* border: solid black; */
  height: 100%;
  background-color: var(--sideContainer-BackGroundColor);
}

.header-from {
  width: 100%;
  border-bottom: thin solid #000000;
  box-sizing: border-box;
  height: $mainHeader-Height;
  background-color: var(--sideHeader-BackGroundColor);
}

.content-rename-form{
  
  width:100%;
  height: calc(100% - #{$mainHeader-Height});
}

.input-area-text{
  padding: 20px 50px;
}

.cust-input {
  text-align: center;
}

.full-width {
  cursor: default;
}

.textalign {
  text-align: center;
}

.dispaly-flex{
  display:inline-flex;
}

.half-width{
  width:50%;
}
.input-margin {
  margin: 35px 20px;
}

.ng-select  {
  box-sizing: border-box;
  display: block;
  margin-top: -21px;
  position: relative;
}
