
    <div  class="bi-popup-form full-view" >
      <div class="full-width form-header">
        <form-header [headerConfig]="headerConfig" (Click)="ClickEvent($event)"></form-header>
      </div>
        <div class="container-body full-view" >
          <form class="full-view" [formGroup]="myForm">
            <div class="content-area"> This wizard allows you to create New Entity </div>

            <div class="form-area" *ngFor="let property of Lists; let j=index;">
              <div *ngIf="property?.condition?.show">

                <div [ngSwitch]='property.type' class='type-contaniner padding-5px'>


                  <div *ngSwitchCase="'string'">
                    <div class='bicust-input'>
                      <div class='title-label' [ngClass]="{'error':(myForm.controls[property.actualname]?.invalid )}"> {{property.label}} </div>
                      <div class='input-area'>
                        <input class="full-width flex-grow"
                               [placeholder]="property.label"
                               autocomplete="off"
                               [readonly]="(property.disable) || !(property.update)"
                               [name]="property.label"
                               [formControlName]="property.actualname"
                               (keydown)="$event.stopPropagation()">
                      </div>
                    </div>
                  </div>


                  <div *ngSwitchCase="'select'">
                    <div class='bicust-input'>
                      <div class='title-label' [ngClass]="{'error':( myForm.controls[property.actualname]?.invalid )}"> {{property.label}} </div>
                      <div class='input-area'>
                        <ng-select class="input-unit"
                                   [multiple]="false"
                                   [bindLabel]="property.bindLabel"
                                   [notFoundText]="'No Matches...'"
                                   [items]="property.options"
                                   [formControlName]="property.actualname"
                                   [appendTo]="'body'">
                        </ng-select>
                        <!-- [placeholder]="property.label" -->
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </form>
            </div>
    </div>



