<div *ngIf="openfilter&&filterData" class="filterHeader" [ngStyle]="{'top':getHeaderTop()}" #filterformHeader>
  <div class="sortcapability">
    <label class="sortLabel">FILTER OPTIONS</label>
    <div>
      <mat-icon  class="save" matTooltip='Save' matSuffix svgIcon='FDC_Checkmark_Icon_Idle' (click)="clickEvent('Save')">
      </mat-icon>
      <mat-icon class="close" matTooltip='Close' matSuffix svgIcon='V3 CloseCancel' (click)="clickEvent('Close')">
      </mat-icon>
    </div>

  </div>
</div>
<div class="filterByCustomEntity" *ngIf="filterApplied" >
  <label class="filterAppliedLebal">FILTER APPLIED</label>
  <mat-icon matSuffix class="filterAppliedIcon" matTooltip='Modify' svgIcon="FilterSettings" (click)="clickEvent('Modify','','')"></mat-icon>
  <mat-icon matSuffix class="filterAppliedIcon" matTooltip='Close' svgIcon="FilterClose" (click)="clickEvent('RemoveFilter','','')"></mat-icon>
</div>
<div class="filterBody scrollbar"  *ngIf="openfilter&&filterData" [ngStyle]="{'top':getBodyTop()}" #filterformBody>
  <hr class="divider">
  <div *ngFor="let obj of jsonSchema">
    <div class="sortcapabilityBody" >
      <mat-expansion-panel class="non-bg mat-elevation-z" [expanded]="obj.expand" #myPanel [disabled]="true">
        <mat-expansion-panel-header collapsedHeight="42px" expandedHeight="42px">
          <div  class='toggle-expand-collapse' [ngClass]="{'list-item-highlight':true}">
            <div (click)="expandPannel(obj)">
              <mat-icon class="expandIcon" matSuffix [svgIcon]='obj.expandIcon'></mat-icon>
            </div>
          </div>
        <div class="outerlebal">{{obj['name']}}</div>
        <mat-icon *ngIf="obj.type=='textWithcross' || obj.type=='accordion' || obj.type=='FacilityCodeOperational' " matSuffix class='createbtn float-r' matTooltip='Add'  svgIcon="LeftPanePlus" (click)="getCurrentFilterType(obj)"></mat-icon>
      </mat-expansion-panel-header>
      <div [ngSwitch]="obj.type">
        <div class="flextype" [ngStyle]="{'padding-bottom': getKeys(SelectedEntityType).length >0?'19px;':'0px;'}" *ngSwitchCase="'textWithcross'">
            <div *ngFor="let item of getKeys(SelectedEntityType)">
              <div class="font-style entityTypes">
                {{item | uppercase  }} 
                <mat-icon matSuffix class="clear-icon" matTooltip='Remove' svgIcon="FilterClose" (click)="clickEvent('Remove',item)"></mat-icon>
              </div>
          </div>
        </div>
        <div class="flextype" [ngStyle]="{'padding-bottom': getKeys(SelectedEntityType).length >0?'19px;':'0px;'}" *ngSwitchCase="'FacilityCodeOperational'">
          <div *ngFor="let item of getKeys(selectedFacilityOperationalStatus)">
            <div class="font-style entityTypes">
              {{item }} 
              <mat-icon matSuffix class="clear-icon" matTooltip='Remove' svgIcon="FilterClose" (click)="clickEvent('Remove',item)"></mat-icon>
            </div>
        </div>
      </div>
        <div class="flex padding" *ngSwitchCase="'checkbox'">
            <div   *ngFor="let item of getKeys(filterData[obj.actualName])">
                <div>
                  <mat-checkbox  class='font-style' [(ngModel)]="filterData[obj.actualName][item]['value']" >
                    <mat-label matTooltip={{item}}>{{ (item.length>21)? (item | slice:0:21):item }}</mat-label>
                  </mat-checkbox>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'accordion'">
          <div class="padding" *ngFor="let item of obj.options">
            <div  class="innerlebal">{{item['name']}}</div>
            <div [ngSwitch]="item.type">
                <div  class="flex1"  *ngSwitchCase="'checkbox'">
                  <span  class="flextype" *ngIf="obj.actualName=='OperationalStatus' && isStatusInitialize">
                      <div *ngFor="let item1 of getKeys(selectedOperatedStatus[item['actualName']])">
                          <!-- <mat-checkbox  class='font-style' [(ngModel)]="filterData[obj.actualName][item.actualName][item1]['value']" >
                                                    <mat-label matTooltip={{item1}}>{{ (item1.length>21)? (item1 | slice:0:21):item1 }}</mat-label>
                                                  </mat-checkbox> -->
                          <div class="font-style entityTypes"> {{ (item1.length>21)? (item1 | slice:0:21):item1 }}
                            <mat-icon matSuffix class="clear-icon" matTooltip='Remove' svgIcon="FilterClose" (click)="removeFromFilterOptions('Remove',obj.actualName,item['actualName'],selectedOperatedStatus[item['actualName']][item1],item1)"></mat-icon>
                          </div>
                        </div>
                  </span>
                  <span class="flextype" *ngIf="obj.actualName=='Status' && isStatusInitialize">
                      <div *ngFor="let item1 of getKeys(selectedStatus[item['actualName']])">
                        <!-- <mat-checkbox  class='font-style' [(ngModel)]="filterData[obj.actualName][item.actualName][item1]['value']" >
                                                  <mat-label matTooltip={{item1}}>{{ (item1.length>21)? (item1 | slice:0:21):item1 }}</mat-label>
                                                </mat-checkbox> -->
                        <div class="font-style entityTypes"> {{ (item1.length>21)? (item1 | slice:0:21):item1 }}
                          <mat-icon matSuffix class="clear-icon" matTooltip='Remove' svgIcon="FilterClose" (click)="removeFromFilterOptions('Remove',obj.actualName,item['actualName'],selectedStatus[item['actualName']][item1],item1)" ></mat-icon>
                        </div>
                      </div>
                  </span>

                </div>
              </div>
        </div>
        </div>
      </div>
      </mat-expansion-panel>
    </div>
    <hr class="divider">
  </div>
</div>

<div  *ngIf="openEntityTypeSelection&&filterData">
  <div class="ShowEntityTypeHeader" #filterheader>
    <div class="sortcapability">
        <label class="addtofilterLabel" >ADD TO FILTER</label>
        <div><mat-icon  class="close" matTooltip='Close' matSuffix svgIcon='V3 CloseCancel' (click)="openEntityTypeSelection=false"></mat-icon></div>
    </div>
  </div>
  <div class="ShowEntityTypeBody scrollbar" #filterEntities>
      <div *ngIf="currentItemForApplyFilter=='EntityTypes'|| (currentItemForApplyFilter=='OperationalStatus' && TreeName=='FACILITY CODE' )" class="sortEntityType selectAllEntityType">
        <mat-checkbox (change)="clickEvent('selectAll',item,$event)" class='font-style' [(ngModel)]="SelectAllStatus">Select All</mat-checkbox>
      </div>
      <div *ngIf="currentItemForApplyFilter=='Status'" class="sortEntityType selectAllEntityType">
        <mat-checkbox (change)="clickEvent('selectAll',item,$event)" class='font-style' [(ngModel)]="AllStatuses">Select All</mat-checkbox>
      </div>
      <div *ngIf="currentItemForApplyFilter=='OperationalStatus' && TreeName!='FACILITY CODE'" class="sortEntityType selectAllEntityType">
        <mat-checkbox (change)="clickEvent('selectAll',item,$event)" class='font-style' [(ngModel)]="AllOperationalStatuses">Select All</mat-checkbox>
      </div>
      <div *ngIf="currentItemForApplyFilter=='EntityTypes' || (currentItemForApplyFilter=='OperationalStatus' && TreeName=='FACILITY CODE' ) ">
        <div class="sortEntityType" *ngFor="let item of getKeys(filterData[currentObjectKey])">
          <mat-checkbox (change)="clickEvent('toggle',item,$event)" class='font-style' [(ngModel)]="filterData[currentObjectKey][item]">{{item}}</mat-checkbox>
        </div>
      </div>
<div *ngIf="(currentItemForApplyFilter=='OperationalStatus' || currentItemForApplyFilter=='Status') && TreeName!='FACILITY CODE' ">
  <div *ngFor="let item of getAddToFilterKeys(filterData[currentItemForApplyFilter])">
      <span class="statusInnerLabel"  *ngIf= "item=='Well'">WELLS</span><span class="statusInnerLabel"  *ngIf= "item=='Facility'">NON WELLS</span>
    <div class="sortEntityType" *ngFor="let item1 of getKeys(filterData[currentItemForApplyFilter][item])">    
      <mat-checkbox (change)="toggleFilterForStatuses('toggleForStatuses',currentItemForApplyFilter,item,item1,filterData[currentItemForApplyFilter][item],$event)"
        class='font-style' [(ngModel)]="filterData[currentItemForApplyFilter][item][item1]['value']">{{item1}}
      </mat-checkbox>
    </div>
  </div>
</div>
  </div>
</div>


