@import '../../../../globals/base-properties.styles.scss';
@import '../../../../globals/theme.scss';

.filterHeader {
  position: fixed;
  z-index: 4;   
  border-right: 1px solid;
  background: var(--mainHeader-BackGroundColor);
  top: 42px;
  width: 305px;
  opacity: 1;
  left:276px;
  overflow-x: hidden;
}
.ShowEntityTypeHeader{
  position: fixed;
  z-index: 3;
  background: var(--mainHeader-BackGroundColor);
  top: 77px;
  width: 162px;
  height: 42px;
  opacity: 1;
  left: 582px;
  overflow-x: hidden;
}
.sub-toggle-expand-collapse{
  width: 27px;
  height: 28px;
  padding: 10px 0px 0px 11px;
  margin-left: -12px;
  margin-top: -11px;
  //border: 1px solid gray;
  cursor: pointer;
}
.toggle-expand-collapse :hover{
  background-color: var(--mouseHover-BackGroundColor);
}
.toggle-expand-collapse {
  width: 15px;
  height: 10px;
  // padding: 13px 0px 12px 11px;
  // box-sizing: content-box;
 // padding-top:6px;
 cursor: pointer;
} 
.ShowEntityTypeBody{
  height: 480px;
  position: fixed;
  z-index: 3;
  background: var(--mainHeader-BackGroundColor);
  top: 119px;
  width: 162px;
  opacity: 1;
  left: 582px;
  overflow-x: hidden;
  max-height: calc(100% - 75px);
}
::ng-deep .mat-checkbox-inner-container {
  width: 12px !important;
  height: 12px !important;
  background-color: transparent !important;
}
::ng-deep .mat-checkbox-frame {
  border-width: 1px !important;
  border-color: var(--form-value-Color) !important;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: var(--form-value-Color) !important;
}
.filterBody{
    height: 95%;
    position: fixed;
    z-index: 3;
    background: var(--sideContainer-BackGroundColor);
    border-right: 1px solid;
    top: 75px;
    width: 305px;
    min-height: 42px;
    opacity: 1;
    left: 276px;
    overflow-x: hidden;
    max-height: calc(100% - 75px);
}
.padding{
  padding: 0 0 19px 0px;
}
.clear-icon {
  width: 12px;
  height: 12px;
  cursor: pointer;
  z-index: 6;
  right: 5px;
  padding: 3px;
  box-sizing: border-box;
}
.divider{
  position: relative;
  border: 0.4px solid  var(--mainHeader-BackGroundColor);
}
.outerlebal{
  font-size: 12px;
  margin-left: 6px;
  margin-top: 3px;
  color: var(--form-value-Color);
  opacity: 0.3;
  width: 90%;
}
.innerlebal{
  font-size: 10px;
  color: var(--form-value-Color);
  opacity: 0.3;
}
.expandIcon {
  display: inline-block;
    width: 8px;
    height: 8px;
    font-size: 15px;
    z-index: 5;
    margin-left: 3px;
}
.btn{
    width: 12px;
    padding: 0;
    border: none;
    background: none;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex>* {
    flex: 1 1 50%;
}
.flextype{
  display: flex;
  flex-wrap: wrap;

}
.createbtn {
  width: 12px;
  height: 12px;
  cursor: pointer;
  margin-top: 3px;
}
.entityTypes{
  width: fit-content;
  border: 0.5px solid #242424;
  padding: 3px 6px;
  margin-left: 3px;
  margin-top: 3px;
}
.font-style {
  font-size: 10px;
  color: var(--form-value-Color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300
}
.selectAllEntityType{
  height: 35px;
}
.sortEntityType {
  font-size: 11px;
  width: 93%;
  padding: 0px 22px;
  color: var(--form-value-Color);
  cursor: default;
  display: inline-flex;
  padding-right: 0;
}
.sortcapability {
  font-size: 11px;
  width: 93%;
  padding: 4px 22px;
  color: var(--form-value-Color);
  cursor: default;
  display: inline-flex;
  padding-right: 0;
}

.SortHeader{
  padding-right: 7px;
}
.close:hover{
  background-color:  #7A1F20;
  fill: #D5606D;
}
.save:hover{
  background: #335238;
}
.sortcapabilityBody {
  font-size: 13px;
  padding: 0px 22px;
  color: var(--form-value-Color);
  cursor: default;
  width: 86.5%;
}

.sortLabel{
  padding-top:6px;
  min-width: 77%;
  font-size: 14px;
}
.addtofilterLabel{
  padding-top:6px;
  min-width: 77%;
  font-size: 14px;
  opacity: .3;
}
.close{
  width:12px;
  padding: 5px;
}
.save{
  width:12px;
  padding: 5px;
}

.sortedentity{
  background: var(--filter-BackGroundColor);
}


.sortedcapability {
  font-size: $sideNode-FontSize;
  padding: 2px 22px;
  padding-right: 3px;
  cursor: pointer;
  color: var(--form-value-Color);
  width: 90%;
}

.sortedcapability:hover {
    background-color: var(--mouseHover-BackGroundColor);
}

.status{
  float: right;
}

.filterOption{
  display: inline-flex;
  width: 100%;
}

.filterByCustomEntity {
  top: 43px;
  z-index: 2;
  position: absolute;
  height: 18px;
  font-size: 12px;
  width: 93%;
  padding: 2px 19px;
  color: var(--form-value-Color);
  cursor: default;
  display: inline-flex;
  padding-right: 0;
  background-color:#877147;
}
.filterAppliedLebal{
  width: 68%;
  margin-top: 2px;
  margin-left: 17px;
}
.filterAppliedIcon{
  width: 10px;
  height: 10px;
  margin-top: 2px;
  margin-left: 6px;
}
#filterTabs{
  ::ng-deep .mat-tab-label {
    height: 26px;
    padding: 0 6px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: .6;
    min-width: 24px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
    color: var(--statusHeader-FontColor);
    opacity: var(--statusHeader-FontOpacity);
  }
}
::ng-deep .mat-tab-label, .mat-tab-link {
  font-family: Roboto;
  font-size: 9px;
  font-weight: 300;
}
::ng-deep .mat-ink-bar {
  background-color: #3872BB;
}
::ng-deep.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #3872BB;
  width: 32px;
  height: 1.5px;
}
::ng-deep.mat-tab-header, .mat-tab-nav-bar {
  border-bottom: unset;
}
::ng-deep .mat-tab-label.mat-tab-label-active {
  color: var(--form-value-Color);
  opacity : unset
}
.filteredDataNotFound{
  top: 64px;
  z-index: 2;
  position: absolute;
  font-size: 10px;
  padding: 0px 23px;
  color: var(--form-value-Color);
  
}

.statusInnerLabel{
  font-size: 10px;
  color: var(--form-value-Color);
  opacity: 0.3;
  margin-left: 21px;
  margin-bottom: 3px;
}