ng-scrollbar {
    display: block;
    position: relative;
    height: auto; //100%;
    
}

.ng-scrollbar-container {
  position: relative;
  overflow: hidden !important;
  width: 100%;
  height: 100%;
}

.ng-scrollbar-autohide > .ng-scrollbar {
    opacity: 0;
    transition: opacity 120ms ease-out;
}

.ng-scrollbar-autohide:hover > .ng-scrollbar,
.ng-scrollbar-autohide:active > .ng-scrollbar,
.ng-scrollbar-autohide:focus > .ng-scrollbar {
    opacity: 1;
    transition: opacity 340ms ease-out;
}

.ng-scrollbar {
    position: absolute;
    right: 2px;
    bottom: 2px;
    z-index: 1;
    width: 1px;
    border-radius: 0px;
}


.-vertical {
    top: 2px;
    .ng-scrollbar-thumb {
        background-color: #318FD7;
    }
}

.-horizontal {
    height: 6px;
    left: 2px;
    .ng-scrollbar-thumb {
        height: 100%;
        background-color: #318FD7;
    }
}

.ng-scrollbar-disabled {
    display: none;
}

.ng-scrollbar-thumb {
  position: relative;
  display: block;
  width: 0;
  height: 0;
  cursor: pointer;
  border-radius: inherit;
  background-color: #318FD7;
  transform: translate3d(0, 0, 0);
  &:hover,
  &:active {
    background-color: #318FD7;
  }
  will-change: transform;
   
}

.ng-scrollbar-view {
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    transform: translate3d(0, 0, 0);
    -webkit-overflow-scrolling: touch;
    font-size: 12px;
   will-change: transform;
     
}

.scrollerfordynamicform {
    .ng-scrollbar-view {
        overflow-y: scroll !important;
        overflow-x: hidden !important;
    }
}

.scrollerfordynamicform {
    .mat-select-panel {
        overflow: hidden !important;
    }
}

.scrollerfordynamicform1 {
   .ng-scrollbar-view {
    top: 0vw;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    position: relative;
    height: auto;
  }

  .-vertical {
    top: 2px;
    .ng-scrollbar-thumb {
      background-color: #318FD7;
    }
  }
}

#capabilitytheme .-vertical {
  bottom: 13px !important;
}

ng-scrollbar.strapdropdownlist {
  background-color: var(--mainHeader-BackGroundColor) !important;
}
