
@import '../../../../globals/theme.scss';


#right-header {
    width: $mainHeader-Height ;
    background-color: var(--sideHeader-BackGroundColor);
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 1;
    box-sizing : border-box; 
    border-left: $border;
  }
  
  
  .border-trans {
    border-color : transparent !important;
  }

  
  .headerIcon {
    width: $mainHeader-Height;
    height: $mainHeader-Height;
    cursor: pointer;
  }
  
  .border {
    box-sizing: border-box;
    border: $border;
  }
  
  .border-right {
    box-sizing: border-box;
    border-right: $border;
  }
  
  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
  
  .icon {
    width: 22px;
    margin: 10px;
    position: $commonPosition;
  }
  
  .active {
    background-color: var(--sideContainer-BackGroundColor);
    border: none !important;
    box-shadow: none !important;
  }
  
  .setFav {
    width: 6px;
    height: 6px;
    background-image: url('https://althingenergy.althing.io/wwwroot/images/Favorite Pins/FavoritePin ActiveState icon.svg');
    position: absolute;
    display: none;
    margin-left: 33px;
    margin-top: 2px;
  }
  
  .headerIcon:hover {
    background-color: var(--mouseHover-BackGroundColor);
  }
  
  .nav-bar {
    height: 100%;
    position: absolute;
    overflow-y: auto;
  }
  