<div >
  <!--<div [ngStyle]="{display:commonService.showRightsideBar?'block':'none'}" >-->
  <!-- <div id='right-header'>
    <div id="header">
      <div class='hidden-scroll'>
        <nav class='nav-bar'>
          <div class="headerIcon " *ngFor="let head of commonService.rightSideCapabilityList " [class.border]="referenceId == 'subHeader'" [class.active]="head.routerLinkActive" (click)="headerClickEvent(head)" [matTooltip]='head.title.toUpperCase()' matTooltipPosition='left'>
            <mat-icon class="icon" matSuffix svgIcon='{{head.source}}' [ngClass]="head.class"></mat-icon>
          </div>
        </nav>
      </div>
    </div>
  </div> -->


  <!--<div class='toggle-btn-area toggle-right' *ngIf="commonService.showtoggle" (click)='rightSideTreeToggle()'>
    <img id='toggle-icon' [src]=" commonService.isRightTreeEnable ? 'wwwroot/images/V3 Icon set part1/Left Right Pane Expand.svg' : 'wwwroot/images/V3 Icon set part1/Left Right Pane Collapse.svg'">
  </div>-->

  <div id="right-tree" *ngIf="commonService.isRightTreeEnable" class="max-right-tree">
    <div class="right-tree-content">
      <div class="top-rightheader">
        <div id="right-filter-search">

          <mat-icon *ngIf="activeHeader && activeHeader.type == 'tree'"  class='expand-btn  float-l'
          [svgIcon]="activeHeader.isExpand ? 'CollapseAll' : 'ExpandAll' " (click)="method1CallForClick()"
          ></mat-icon>
          
          <div class="right-tree-label" [ngStyle]="{'visibility': !isSerachText? 'visible' : 'hidden' }"> {{commonService.treeIndexLabelRight}} </div>

          <div [ngStyle]="{'visibility': isSerachText? 'visible' : 'hidden' }">
            <input class="right-search-text" [(ngModel)]='filterText' id="filter" type="search" placeholder="  Filter"  autocomplete="off" (keyup)="searchEntity($event)" #inputSearch />
            <mat-icon matSuffix class="clear-icon" matTooltip='CLOSE' svgIcon="V3 CloseCancel" (click)="clearFilter()"></mat-icon>
          </div>

          <div class='AddNewIcon' *ngIf="activeHeader && activeHeader.add" (click)="clickEvent()">
              <mat-icon matSuffix class="imgIcon closeIcon plus right-searchIcon" [matTooltip] = "activeHeader.addtooltip" [matTooltipDisabled]="commonService.tabletMode ? true : false" svgIcon="LeftPanePlus"></mat-icon>
           </div>

          <div *ngIf="activeHeader && activeHeader.search" >
            <mat-icon matSuffix class="right-searchIcon" role="img" aria-hidden="true" matTooltip ='SEARCH' svgIcon="MainSearch" [matTooltipDisabled]="commonService.tabletMode ? true : false" [ngClass]="{'full-opacity': isSerachText}" (click)="onClickFilter()"></mat-icon>
          </div>

        </div>
      </div>


      <div class="right-tree-body scrollbar">
        <div *ngIf="activeHeader && activeHeader.type == 'tree'" class="securityAdminRight full-view">
          <capability-tree [HierarchyTreeName]="activeHeader.id"></capability-tree>
        </div>

        <div class="form-generator scrollbar" *ngIf="activeHeader && activeHeader.type == 'form'">
          <form #saveform="ngForm" [formGroup]="myForm" (ngSubmit)="submit()">
            <div *ngFor="let data of schema" class="form-padding">
              <!-- <div class="sub-accord">
                {{data.title }}
              </div> -->
              <div>
                <form-gen [datas]="datas[data.title]" [title]="data.title" (contextmenu)="openmenulist(data,$event)" (getentitydata)="getselectedEntity($event)" [colsdata]="data.content" [myForm]="myForm.get(data.title)"></form-gen>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>